<ngx-ui-loader [loaderId]="'generator-inner'"
               [bgsColor]="'#76ff03'"
               [fgsColor]="'#76ff03'"
               [pbColor]="'#76ff03'"
               [fgsSize]="150"
               [bgsPosition]="'bottom-right'"
               [bgsSize]="80"
               [bgsType]="'ball-spin-clockwise'"
               [text]="'Loading...'"
               [textColor]="'#FFFFFF'"
               [textPosition]="'bottom-center'"
></ngx-ui-loader>

<mat-horizontal-stepper labelPosition="bottom" #generator class="green-theme">

  <!-- Step #1 - Questionnaires -->

  <mat-step [stepControl]="questionnairesForm">
    <form [formGroup]="questionnairesForm">

      <!-- Header -->
      <ng-template matStepLabel>Questionnaires</ng-template>
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
          <mat-card-title>Step #1: Questionnaires</mat-card-title>
          <mat-card-subtitle>First, define all Questionnaires here</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

          <div formArrayName="questionnaires">

            <div *ngFor="let questionnaire of questionnaires().controls; let questionnaireIndex = index" [formGroupName]="questionnaireIndex">

              <mat-card [class.mat-elevation-z3]="true">
                <mat-card-header>
                  <mat-card-title class="lighter">Questionnaire {{questionnaireIndex + 1}}</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>

                  <!-- Type -->
                  <table class="width-100 mt-8px">
                    <tr>
                      <td class="p-0">
                        <mat-form-field matLine class="width-100" [hideRequiredMarker]="questionnaire.get('type').valid" appearance="fill">
                          <mat-label>Type</mat-label>
                          <mat-select matInput formControlName="type" required (selectionChange)="updateQuestionnaire(questionnaireIndex)">
                            <mat-option *ngFor="let questionnaireType of questionnaireTypes" [value]="questionnaireType.value">
                              {{questionnaireType.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <!-- Description -->
                  <div *ngIf="questionnaire.get('type').value == 'likert'">
                    <mat-divider [inset]="true"></mat-divider>
                    <table class="width-100 mt-16px">
                      <tr>
                        <td class="p-0">
                          <mat-form-field class="width-100" [hideRequiredMarker]="questionnaire.get('description').valid" appearance="fill">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" required></textarea>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <!-- Position -->
                  <mat-divider [inset]="true"></mat-divider>
                  <table class="width-100 mt-16px">
                    <tr>
                      <td class="p-0">
                        <mat-form-field class="width-100" [hideRequiredMarker]="questionnaire.get('position').valid" appearance="fill">
                          <mat-label>Position</mat-label>
                          <mat-select matInput formControlName="position" required (selectionChange)="updateQuestionnaire(questionnaireIndex)">
                            <mat-option *ngFor="let questionnairePosition of questionnairePosition" [value]="questionnairePosition.value">
                              {{questionnairePosition.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <!-- Questions -->
                  <div *ngIf="questionnaire.get('type').value != ''" formArrayName="questions">
                    <mat-divider [inset]="true"></mat-divider>
                    <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addQuestion(questionnaireIndex)">
                      Add Question
                    </button>
                    <div *ngFor="let question of questions(questionnaireIndex).controls; let questionIndex = index" [formGroupName]="questionIndex">
                      <table class="width-100">
                        <tr>
                          <td class="p-0 pr-16px">
                            <mat-form-field matLine class="width-100" [hideRequiredMarker]="question.get('name').valid" appearance="fill">
                              <mat-label>Name</mat-label>
                              <input matInput type="text" formControlName="name" required>
                            </mat-form-field>
                          </td>
                          <td class="p-0 pr-16px">
                            <mat-form-field matLine class="width-100" [hideRequiredMarker]="question.get('text').valid" appearance="fill">
                              <mat-label>Text</mat-label>
                              <input matInput type="text" formControlName="text" required>
                            </mat-form-field>
                          </td>
                          <td class="p-0 center">
                            <button mat-flat-button color="primary" class="mb-16px"
                                    [disabled]="questionIndex == '0' && questions(questionnaireIndex).length == 1"
                                    (click)="removeQuestion(questionnaireIndex, questionIndex)">
                              Remove Question
                            </button>
                          </td>
                        </tr>
                      </table>
                      <div *ngIf="questionnaire.get('type').value == 'standard'" class="mb-16px subsection" formArrayName="answers">
                        <button mat-flat-button color="primary" class="mb-16px double-indent" (click)="addAnswer(questionnaireIndex, questionIndex)">
                          Add Answer
                        </button>
                        <div *ngFor="let answer of answers(questionnaireIndex, questionIndex).controls; let answerIndex = index" [formGroupName]="answerIndex">
                          <table class="width-100 indent">
                            <tr>
                              <td class="p-0 pr-16px">
                                <mat-form-field matLine class="width-100" [hideRequiredMarker]="answer.get('answer').valid" appearance="fill">
                                  <mat-label>Answer</mat-label>
                                  <input matInput type="text" formControlName="answer" required>
                                </mat-form-field>
                              </td>
                              <td class="p-0 center">
                                <button mat-flat-button color="primary" class="mb-16px"
                                        [disabled]="answerIndex == '0' && answers(questionnaireIndex, questionIndex).length == 1"
                                        (click)="removeAnswer(questionnaireIndex, questionIndex, answerIndex)">
                                  Remove Answer
                                </button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Mapping -->
                  <div *ngIf="questionnaire.get('type').value == 'likert'" formArrayName="mapping">
                    <mat-divider [inset]="true"></mat-divider>
                    <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addMapping(questionnaireIndex)">
                      Add Mapping
                    </button>
                    <div *ngFor="let map of mapping(questionnaireIndex).controls; let mappingIndex = index" [formGroupName]="mappingIndex">
                      <table class="width-100">
                        <tr>
                          <td class="p-0 pr-16px">
                            <mat-form-field matLine class="width-100" [hideRequiredMarker]="map.get('label').valid" appearance="fill">
                              <mat-label>Label</mat-label>
                              <input matInput type="text" formControlName="label" required>
                            </mat-form-field>
                          </td>
                          <td class="p-0 pr-16px">
                            <mat-form-field matLine class="width-100" [hideRequiredMarker]="map.get('value').valid" appearance="fill">
                              <mat-label>Value</mat-label>
                              <input matInput type="text" formControlName="value" required>
                            </mat-form-field>
                          </td>
                          <td class="p-0 center">
                            <button mat-flat-button color="primary" class="mb-16px" [disabled]="mappingIndex == '0' && mapping(questionnaireIndex).length == 1" (click)="removeMapping(questionnaireIndex, mappingIndex)">
                              Remove Mapping
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions class="right">
                  <button mat-flat-button color="primary" (click)="removeQuestionnaire(questionnaireIndex)">
                    Remove Questionnaire
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>

          </div>

          <button mat-flat-button color="primary" (click)="addQuestionnaire()">Add Questionnaire</button>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </mat-step>

  <!-- Step #2 - Dimensions -->

  <mat-step [stepControl]="dimensionsForm">
    <form [formGroup]="dimensionsForm">

      <!-- Header -->
      <ng-template matStepLabel>Dimensions</ng-template>
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
          <mat-card-title>Step #2: Dimensions</mat-card-title>
          <mat-card-subtitle>Second, define all Dimensions here</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

          <div formArrayName="dimensions">

            <div *ngFor="let dimension of dimensions().controls; let dimensionIndex = index" [formGroupName]="dimensionIndex">

              <mat-card [class.mat-elevation-z3]="true">
                <mat-card-header>
                  <mat-card-title class="lighter">Dimension {{dimensionIndex + 1}}</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>

                  <!-- Name, Description -->
                  <table class="width-100 mt-8px">
                    <tr>
                      <td class="p-0 pr-16px">
                        <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('name').valid" appearance="fill">
                          <mat-label>Name</mat-label>
                          <input matInput type="text" formControlName="name" required>
                        </mat-form-field>
                      </td>
                      <td class="p-0">
                        <mat-form-field class="width-100" appearance="fill">
                          <mat-label>Description</mat-label>
                          <textarea matInput formControlName="description"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Gold -->
                  <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="gold">
                    Gold Dimension
                  </mat-slide-toggle>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Justification: Text, Min_Words -->
                  <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setJustification" (change)="resetJustification(dimensionIndex)">
                    Justification
                  </mat-slide-toggle>

                  <div *ngIf="dimension.get('setJustification').value" formGroupName="justification">
                    <table class="width-100">
                      <tr>
                        <td class="p-0 pr-16px">
                          <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('justification').get('text').valid" appearance="fill">
                            <mat-label>Text</mat-label>
                            <input matInput type="text" formControlName="text" required>
                          </mat-form-field>
                        </td>
                        <td class="p-0">
                          <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('justification').get('min_words').valid" appearance="fill">
                            <mat-label>Minimum Words</mat-label>
                            <input matInput type="number" min="0" formControlName="min_words" required>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Url -->
                  <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="url">
                    Url
                  </mat-slide-toggle>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Scale: Type, {Min, Max, Step} or [Mapping] or {Min, Max, IncludeLowerBound, IncludeUpperBound} -->
                  <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setScale" (change)="resetScale(dimensionIndex)">
                    Scale
                  </mat-slide-toggle>

                  <div *ngIf="dimension.get('setScale').value" formGroupName="scale">
                    <table class="width-100">
                      <tr>
                        <td class="p-0">
                          <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('scale').get('type').valid" appearance="fill">
                            <mat-label>Type</mat-label>
                            <mat-select matInput formControlName="type" required (selectionChange)="updateScale(dimensionIndex)">
                              <mat-option *ngFor="let scaleType of scaleTypes" [value]="scaleType.value">
                                {{scaleType.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table class="width-100" *ngIf="dimension.get('scale').get('type').value == 'interval'">
                      <tr>
                        <td class="p-0 pr-16px">
                          <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('scale').get('min').valid" appearance="fill">
                            <mat-label>Minimum</mat-label>
                            <input matInput type="number" formControlName="min" required>
                          </mat-form-field>
                        </td>
                        <td class="p-0 pr-16px">
                          <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('scale').get('max').valid" appearance="fill">
                            <mat-label>Maximum</mat-label>
                            <input matInput type="number" formControlName="max" required>
                          </mat-form-field>
                        </td>
                        <td class="p-0">
                          <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('scale').get('step').valid" appearance="fill">
                            <mat-label>Step</mat-label>
                            <input matInput type="number" formControlName="step" required>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <div *ngIf="dimension.get('scale').get('type').value == 'categorical'" formArrayName="mapping">
                      <button mat-flat-button color="primary" class="mb-16px indent" (click)="addDimensionMapping(dimensionIndex)">
                        Add Mapping
                      </button>
                      <div *ngFor="let dimensionMap of dimensionMapping(dimensionIndex).controls; let dimensionMappingIndex = index" [formGroupName]="dimensionMappingIndex">
                        <table class="width-100">
                          <tr>
                            <td class="p-0 pr-16px">
                              <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimensionMap.get('label').valid" appearance="fill">
                                <mat-label>Label</mat-label>
                                <input matInput type="text" formControlName="label" required>
                              </mat-form-field>
                            </td>
                            <td class="p-0 pr-16px">
                              <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimensionMap.get('description').valid" appearance="fill">
                                <mat-label>Description</mat-label>
                                <input matInput type="text" formControlName="description" required>
                              </mat-form-field>
                            </td>
                            <td class="p-0 pr-16px">
                              <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimensionMap.get('value').valid" appearance="fill">
                                <mat-label>Value</mat-label>
                                <input matInput type="text" formControlName="value" required>
                              </mat-form-field>
                            </td>
                            <td class="p-0 center">
                              <button mat-flat-button color="primary" class="mb-16px"
                                      [disabled]="dimensionMappingIndex == '0' && dimensionMapping(dimensionIndex).length == 1"
                                      (click)="removeDimensionMapping(dimensionIndex, dimensionMappingIndex)">
                                Remove Mapping
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>

                    <table class="width-100" *ngIf="dimension.get('scale').get('type').value == 'magnitude_estimation'">
                      <tr>
                        <td class="p-0 pr-16px">
                          <mat-form-field matLine class="width-100" appearance="fill">
                            <mat-label>Minimum</mat-label>
                            <input matInput type="number" formControlName="min">
                          </mat-form-field>
                        </td>
                        <td class="pr-16px checkbox">
                          <mat-checkbox formControlName="lower_bound" color="primary">
                            Include Lower Bound
                          </mat-checkbox>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Style: Type, Position, Orientation, Separator -->
                  <mat-slide-toggle color="primary" *ngIf="dimension.get('setScale').value" class="mt-16px mb-16px" formControlName="setStyle" (change)="resetStyle(dimensionIndex)" disabled>
                    Style
                  </mat-slide-toggle>

                  <div formGroupName="style" *ngIf="dimension.get('setStyle').value && dimension.get('setScale').value">
                    <table class="width-100">
                      <tr>
                        <td class="p-0 pr-16px">
                          <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('style').get('styleType').valid" appearance="fill">
                            <mat-label>Type</mat-label>
                            <mat-select matInput formControlName="styleType" required (selectionChange)="updateStyleType(dimensionIndex)">
                              <mat-option *ngFor="let styleType of styleTypes" [value]="styleType.value">
                                {{styleType.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td class="p-0 pr-16px">
                          <mat-form-field matLine class="width-100" [hideRequiredMarker]="dimension.get('style').get('position').valid" appearance="fill">
                            <mat-label>Position</mat-label>
                            <mat-select matInput formControlName="position" required>
                              <mat-option *ngFor="let positionType of positionTypes" [value]="positionType.value">
                                {{positionType.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td class="p-0 pr-16px">
                          <mat-form-field matLine class="width-100" appearance="fill" [hideRequiredMarker]="dimension.get('style').get('position').valid">
                            <mat-label>Orientation</mat-label>
                            <mat-select matInput formControlName="orientation" required>
                              <mat-option *ngFor="let orientationType of orientationTypes" [value]="orientationType.value">
                                {{orientationType.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td class="p-0">
                          <mat-form-field matLine class="width-100" appearance="fill">
                            <mat-label>Separator</mat-label>
                            <mat-select matInput formControlName="separator">
                              <mat-option value="true">
                                True
                              </mat-option>
                              <mat-option value="false">
                                False
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </div>

                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions class="right">
                  <button mat-flat-button color="primary" (click)="removeDimension(dimensionIndex)">Remove Dimension
                  </button>
                </mat-card-actions>

              </mat-card>

            </div>

          </div>

          <button mat-flat-button color="primary" (click)="addDimension()">
            Add Dimension
          </button>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </mat-step>

  <!-- Step #3 - General Instructions -->

  <mat-step [stepControl]="generalInstructionsForm">
    <form [formGroup]="generalInstructionsForm">

      <!-- Header -->
      <ng-template matStepLabel>General Instructions</ng-template>
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
          <mat-card-title>Step #3: General Instructions</mat-card-title>
          <mat-card-subtitle>Third, define all General Instructions here</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

          <div formArrayName="generalInstructions">

            <div *ngFor="let generalInstruction of generalInstructions().controls; let generalInstructionIndex = index" [formGroupName]="generalInstructionIndex">

              <mat-card [class.mat-elevation-z3]="true">
                <mat-card-header>
                  <mat-card-title class="lighter">General Instruction {{generalInstructionIndex + 1}}</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>

                  <!-- Caption -->
                  <table class="width-100 mt-8px">
                    <tr>
                      <td class="p-0">
                        <mat-form-field matLine class="width-100" appearance="fill">
                          <mat-label>Caption</mat-label>
                          <input matInput type="text" formControlName="caption">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Steps -->
                  <div formArrayName="steps">
                    <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addGeneralInstructionStep(generalInstructionIndex)">
                      Add Step
                    </button>
                    <div *ngFor="let generalInstructionStep of generalInstructionSteps(generalInstructionIndex).controls; let generalInstructionStepIndex = index" [formGroupName]="generalInstructionStepIndex">
                      <table class="width-100">
                        <tr>
                          <td class="p-0 pr-16px">
                            <mat-form-field class="width-100" [hideRequiredMarker]="generalInstructionStep.get('step').valid" appearance="fill">
                              <mat-label>Step</mat-label>
                              <textarea matInput formControlName="step" required></textarea>
                            </mat-form-field>
                          </td>
                          <td class="p-0 center">
                            <button mat-flat-button color="primary" class="mb-16px"
                                    [disabled]="generalInstructionStepIndex == '0' && generalInstructionSteps(generalInstructionIndex).length == 1"
                                    (click)="removeGeneralInstructionStep(generalInstructionIndex, generalInstructionStepIndex)">
                              Remove Step
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions class="right">
                  <button mat-flat-button color="primary" (click)="removeGeneralInstruction(generalInstructionIndex)">
                    Remove General Instruction
                  </button>
                </mat-card-actions>

              </mat-card>

            </div>

          </div>

          <button mat-flat-button color="primary" (click)="addGeneralInstruction()">
            Add General Instruction
          </button>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </mat-step>

  <!-- Step #4 - Evaluation Instructions -->
  <mat-step [stepControl]="evaluationInstructionsForm">
    <form [formGroup]="evaluationInstructionsForm">

      <!-- Header -->
      <ng-template matStepLabel>Evaluation Instructions</ng-template>
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
          <mat-card-title>Step #4: Evaluation Instructions</mat-card-title>
          <mat-card-subtitle>Fourth, define all Evaluation Instructions here</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

          <div formArrayName="evaluationInstructions">

            <div *ngFor="let evaluationInstruction of evaluationInstructions().controls; let evaluationInstructionIndex = index" [formGroupName]="evaluationInstructionIndex">

              <mat-card [class.mat-elevation-z3]="true">
                <mat-card-header>
                  <mat-card-title class="lighter">Evaluation Instruction {{evaluationInstructionIndex + 1}}</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>

                  <!-- Caption -->
                  <table class="width-100 mt-8px">
                    <tr>
                      <td class="p-0">
                        <mat-form-field matLine class="width-100" appearance="fill">
                          <mat-label>Caption</mat-label>
                          <input matInput type="text" formControlName="caption">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Steps -->
                  <div formArrayName="steps">
                    <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addEvaluationInstructionStep(evaluationInstructionIndex)">
                      Add Step
                    </button>
                    <div *ngFor="let evaluationInstructionStep of evaluationInstructionSteps(evaluationInstructionIndex).controls; let evaluationInstructionStepIndex = index"
                         [formGroupName]="evaluationInstructionStepIndex">
                      <table class="width-100">
                        <tr>
                          <td class="p-0 pr-16px">
                            <mat-form-field class="width-100" [hideRequiredMarker]="evaluationInstructionStep.get('step').valid" appearance="fill">
                              <mat-label>Step</mat-label>
                              <textarea matInput formControlName="step" required></textarea>
                            </mat-form-field>
                          </td>
                          <td class="p-0 center">
                            <button mat-flat-button color="primary" class="mb-16px"
                                    [disabled]="evaluationInstructionStepIndex == '0' && evaluationInstructionSteps(evaluationInstructionIndex).length == 1"
                                    (click)="removeEvaluationInstructionStep(evaluationInstructionIndex, evaluationInstructionStepIndex)">
                              Remove Step
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions class="right">
                  <button mat-flat-button color="primary" (click)="removeEvaluationInstruction(evaluationInstructionIndex)">
                    Remove Evaluation Instruction
                  </button>
                </mat-card-actions>

              </mat-card>

            </div>

          </div>

          <button mat-flat-button color="primary" (click)="addEvaluationInstruction()">
            Add Evaluation Instruction
          </button>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </mat-step>

  <!-- Step #5 - Search Engine -->
  <mat-step [stepControl]="searchEngineForm">
    <form [formGroup]="searchEngineForm">

      <!-- Header -->
      <ng-template matStepLabel>Search Engine</ng-template>
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
          <mat-card-title>Step #5: Search Engine Configuration</mat-card-title>
          <mat-card-subtitle>Fifth, define the Search Engine Configuration here</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

          <!-- Source -->
          <table class="width-100 mt-8px">
            <tr>
              <td class="p-0">
                <mat-form-field matLine class="width-100" appearance="fill">
                  <mat-label>Source</mat-label>
                  <mat-select matInput formControlName="source" [value]="this.searchEngineFetched.source">
                    <mat-option *ngFor="let sourceType of sourceTypes" [value]="sourceType.value">
                      {{sourceType.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-divider [inset]="true"></mat-divider>

          <!-- Domains To Filter -->
          <div formArrayName="domains_filter" *ngIf="searchEngineForm.get('source').value">
            <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addDomain()">
              Add Domain To Filter
            </button>
            <div *ngFor="let domain of domains().controls; let domainIndex = index" [formGroupName]="domainIndex">
              <table class="width-100">
                <tr>
                  <td class="p-0 pr-16px">
                    <mat-form-field matLine class="width-100" [hideRequiredMarker]="domain.get('url').valid" appearance="fill">
                      <mat-label>Domain</mat-label>
                      <input matInput type="text" formControlName="url" required>
                    </mat-form-field>
                  </td>
                  <td class="p-0 center">
                    <button mat-flat-button color="primary" class="mb-16px" (click)="removeDomain(domainIndex)">
                      Remove Domain
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </mat-step>

  <!-- Step #6 - Task Settings -->
  <mat-step [stepControl]="taskSettingsForm">
    <form [formGroup]="taskSettingsForm">

      <!-- Header -->
      <ng-template matStepLabel>Task Settings</ng-template>
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
          <mat-card-title>Step #6: Task Settings</mat-card-title>
          <mat-card-subtitle>Sixth, define all Task Settings here</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

          <!-- Allowed Tries, Time Check Amount-->
          <table class="width-100 mt-8px">
            <tr>
              <td class="p-0 pr-16px">
                <mat-form-field matLine class="width-100" [hideRequiredMarker]="taskSettingsForm.get('allowed_tries').valid" appearance="fill">
                  <mat-label>Allowed Tries</mat-label>
                  <input matInput type="number" min="0" formControlName="allowed_tries" required>
                </mat-form-field>
              </td>
              <td class="p-0">
                <mat-form-field matLine class="width-100" [hideRequiredMarker]="taskSettingsForm.get('time_check_amount').valid" appearance="fill">
                  <mat-label>Time Check Amount</mat-label>
                  <input matInput type="number" min="0" formControlName="time_check_amount" required>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-divider [inset]="true"></mat-divider>

          <!-- Hits file-->
          <table class="width-100 mt-8px">
            <button mat-flat-button color="primary" class="mt-8px mb-16px indent" ngxFilePicker [readMode]="readMode" (filePick)="hitsFile = $event" (readEnd)="updateHitsFile()" accept="application/json">
              Select Hits File
            </button>
            <ng-container *ngIf="!this.hitsFileName">
              <code>your_file.json</code>
            </ng-container>
            <ng-container *ngIf="this.hitsDetected <= 0">
              <code>invalid file</code>
            </ng-container>
            <ng-container *ngIf="this.hitsDetected > 0">
              <code>Filename: {{ this.hitsFileName }}, Hits detected: {{this.hitsDetected}}, Filesize: {{this.hitsSize}} Kb</code>
            </ng-container>
            <tr *ngIf="this.hitsDetected<=0">
              <td>
                <mat-error class="mb-8px indent">
                  This JSON file does not contain any valid hit. Please, review your selection.
                </mat-error>
              </td>
            </tr>
          </table>

          <mat-divider [inset]="true"></mat-divider>

          <!-- Annotator: Type -->
          <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setAnnotator" (change)="resetAnnotator()">
            Annotator
          </mat-slide-toggle>

          <div *ngIf="taskSettingsForm.get('setAnnotator').value" formGroupName="annotator">
            <table class="width-100">
              <tr>
                <td class="p-0 pr-16px">
                  <mat-form-field matLine class="width-100" [hideRequiredMarker]="taskSettingsForm.get('annotator').valid" appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select matInput formControlName="type" (selectionChange)="setAnnotatorType()" required>
                      <mat-option *ngFor="let annotatorType of annotatorTypes" [value]="annotatorType.value">
                        {{annotatorType.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>

          <!-- Mapping -->
          <div *ngIf="annotator().get('type').value == 'options'" formGroupName="annotator">
            <button mat-flat-button color="primary" class="mb-16px indent" (click)="addOptionValue()">
              Add Option
            </button>
            <div *ngFor="let value of annotatorOptionValues().controls; let valueIndex = index" formArrayName="values">
              <table class="width-100">
                <tr>
                  <td class="p-0 pr-16px" [formGroupName]="valueIndex">
                    <mat-form-field class="width-100" matLine [hideRequiredMarker]="value.valid" appearance="fill">
                      <mat-label>Label</mat-label>
                      <input matInput type="text" formControlName="label" required>
                    </mat-form-field>
                  </td>
                  <td class="p-0 pr-16px" [formGroupName]="valueIndex">
                    <mat-form-field class="width-100" matLine [hideRequiredMarker]="value.valid" appearance="fill">
                      <mat-label>HTML Color (#123456)</mat-label>
                      <input matInput formControlName="color" [value]="this.annotatorOptionColors[valueIndex]" [(colorPicker)]="this.annotatorOptionColors[valueIndex]"/>
                    </mat-form-field>
                  </td>
                  <td class="p-0 center">
                    <button mat-flat-button color="primary" class="mb-16px" (click)="removeAnnotatorOptionValue(valueIndex)" [disabled]="valueIndex == '0' && annotatorOptionValues().controls.length == 1">
                      Remove Option
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <mat-divider [inset]="true"></mat-divider>

          <!-- Countdown Time -->
          <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setCountdownTime" (change)="resetCountdown()">
            Countdown
          </mat-slide-toggle>

          <mat-form-field matLine class="width-100 mb-16px" [hideRequiredMarker]="taskSettingsForm.get('countdown_time').valid" appearance="fill" *ngIf="this.taskSettingsForm.get('setCountdownTime').value">
            <mat-label>Time</mat-label>
            <input matInput type="number" min="1" formControlName="countdown_time" required>
            <mat-error *ngIf="checkFormControl(taskSettingsForm,'countdown_time', 'invalid')">
              A positive number greater than zero is required
            </mat-error>
          </mat-form-field>

          <mat-divider [inset]="true"></mat-divider>

          <!-- Blacklist Batches -->
          <div formArrayName="blacklist_batches">
            <mat-progress-bar *ngIf="this.blacklistBatches().controls.length<=0 && !this.batchesTreeInitialization" mode="indeterminate"></mat-progress-bar>
            <button *ngIf="this.batchesTreeInitialization" mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addBlacklistBatches()">
              Blacklist Batches
            </button>
            <button *ngIf="this.blacklistBatches().controls.length>0 && this.batchesTreeInitialization" mat-flat-button color="primary" class="mb-16px" (click)="removeBlacklistBatch()">
              Remove Batches
            </button>
            <ng-container *ngIf="this.blacklistBatches().controls.length>0 && this.batchesTreeInitialization">
              <div *ngFor="let taskNode of this.batchesTree">
                <mat-accordion class="generator-accordion">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{taskNode['task']}}
                      </mat-panel-title>
                      <mat-panel-description>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-slide-toggle *ngFor="let batchNode of taskNode['batches']" color="primary" class="mt-16px mb-16px" formControlName="{{batchNode['counter']}}">
                      {{batchNode['batch']}}
                    </mat-slide-toggle>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </ng-container>
          </div>

          <mat-divider [inset]="true"></mat-divider>

          <!-- Whitelist Batches -->
          <div formArrayName="whitelist_batches">
            <mat-progress-bar *ngIf="this.whitelistBatches().controls.length<=0 && !this.batchesTreeInitialization" mode="indeterminate"></mat-progress-bar>
            <button *ngIf="this.batchesTreeInitialization" mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addWhitelistBatches()">
              Whitelist Batches
            </button>
            <button *ngIf="this.whitelistBatches().controls.length>0 && this.batchesTreeInitialization" mat-flat-button color="primary" class="mb-16px" (click)="removeWhitelistBatch()">
              Remove Batches
            </button>
            <ng-container *ngIf="this.whitelistBatches().controls.length>0 && this.batchesTreeInitialization">
              <div *ngFor="let taskNode of this.batchesTree">
                <mat-accordion class="generator-accordion">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{taskNode['task']}}
                      </mat-panel-title>
                      <mat-panel-description>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-slide-toggle *ngFor="let batchNode of taskNode['batches']" color="primary" class="mt-16px mb-16px" formControlName="{{batchNode['counter']}}">
                      {{batchNode['batch']}}
                    </mat-slide-toggle>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </ng-container>
          </div>

          <mat-divider [inset]="true"></mat-divider>

          <!-- Messages -->
          <div formArrayName="messages">
            <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addMessage()">
              Add Message
            </button>
            <div *ngFor="let msg of messages().controls; let messageIndex = index" [formGroupName]="messageIndex">
              <table class="width-100">
                <tr>
                  <td class="p-0 pr-16px">
                    <mat-form-field matLine class="width-100" [hideRequiredMarker]="msg.get('message').valid" appearance="fill">
                      <mat-label>Message</mat-label>
                      <input matInput type="text" formControlName="message" required>
                    </mat-form-field>
                  </td>
                  <td class="p-0 center">
                    <button mat-flat-button color="primary" class="mb-16px" (click)="removeMessage(messageIndex)">
                      Remove Message
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </mat-step>

  <!-- Step #7 - Worker Checks -->
  <mat-step [stepControl]="workerChecksForm">
    <form [formGroup]="workerChecksForm">

      <!-- Header -->
      <ng-template matStepLabel>Worker Checks</ng-template>
      <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
          <mat-card-title>Step #7: Worker Checks</mat-card-title>
          <mat-card-subtitle>Seventh, define all Worker Checks here</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

          <!-- Blacklist -->

          <mat-form-field class="width-100" appearance="fill">
            <mat-label>Worker IDs Blacklisted</mat-label>
            <mat-chip-list #blacklistChips formControlName="blacklist" multiple>
              <mat-chip *ngFor="let workerId of this.blacklistedWorkerId" [selected]="workerId" [value]="workerId" (removed)="removeBlacklistedId(workerId)">{{workerId}}</mat-chip>
              <input  placeholder="New worker ID ..." [matChipInputFor]="blacklistChips" (matChipInputTokenEnd)="addBlacklistedId($event)">
            </mat-chip-list>
          </mat-form-field>

          <mat-divider [inset]="true"></mat-divider>

          <!-- Whitelist -->
          <mat-form-field class="width-100" appearance="fill">
            <mat-label>Worker IDs Whitelisted</mat-label>
            <mat-chip-list #whitelistChips formControlName="whitelist" multiple>
              <mat-chip *ngFor="let workerId of this.whitelistedWorkerId" [selected]="workerId" [value]="workerId" (removed)="removeWhitelistedId(workerId)">{{workerId}}</mat-chip>
              <input  placeholder="New worker ID ..." [matChipInputFor]="whitelistChips" (matChipInputTokenEnd)="addWhitelistedId($event)">
            </mat-chip-list>
          </mat-form-field>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </mat-step>

  <!-- Step #8 - Summary -->
  <mat-step>

    <!-- Header -->
    <ng-template matStepLabel>Summary</ng-template>
    <mat-card [class.mat-elevation-z3]="true">
      <mat-card-header>
        <mat-card-title>Step #8: Summary</mat-card-title>
        <mat-card-subtitle>Finally, check your results here</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>

        <h4 class="mb-0">Step #1 - Questionnaires:</h4>
        <p><code>{{ questionnairesSerialized }}</code></p>

        <mat-divider [inset]="true"></mat-divider>

        <h4 class="mb-0">Step #2 - <strong>Dimensions</strong>:</h4>
        <p><code>{{ dimensionsSerialized }}</code></p>

        <mat-divider [inset]="true"></mat-divider>

        <h4 class="mb-0">Step #3 - <strong>General Instructions</strong>:</h4>
        <p><code>{{ generalInstructionsSerialized }}</code></p>

        <mat-divider [inset]="true"></mat-divider>

        <h4 class="mb-0">Step #4 - <strong>Evaluation Instructions</strong>:</h4>
        <p><code>{{ evaluationInstructionsSerialized }}</code></p>

        <mat-divider [inset]="true"></mat-divider>

        <h4 class="mb-0">Step #5 - <strong>Search Engine</strong>:</h4>
        <p><code>{{ searchEngineSerialized }}</code></p>

        <mat-divider [inset]="true"></mat-divider>

        <h4 class="mb-0">Step #6 - <strong>Task Settings</strong>:</h4>
        <p><code>{{ this.taskSettingsSerialized }}</code></p>

        <mat-divider [inset]="true"></mat-divider>

        <h4 class="mb-0">Step #7 - <strong>Worker Checks</strong>:</h4>
        <p><code>{{ this.workersChecksSerialized }}</code></p>

        <mat-divider [inset]="true"></mat-divider>
        <h4 class="mb-0"><strong>Validity Check</strong>:</h4>

        <mat-list>
          <mat-list-item *ngIf="this.questionnairesForm.valid" class="step-valid"><span>Step #1 - Questionnaires: <span class="step-validity-check">valid</span></span></mat-list-item>
          <mat-list-item *ngIf="!this.questionnairesForm.valid" class="step-invalid"><span>Step #1 - Questionnaires: <span class="step-validity-check">invalid</span></span></mat-list-item>
          <mat-list-item *ngIf="this.dimensionsForm.valid" class="step-valid"><span>Step #2 - Dimensions: <span class="step-validity-check">valid</span></span></mat-list-item>
          <mat-list-item *ngIf="!this.dimensionsForm.valid" class="step-invalid"><span>Step #2 - Dimensions: <span class="step-validity-check">invalid</span></span></mat-list-item>
          <mat-list-item *ngIf="this.generalInstructionsForm.valid" class="step-valid"><span>Step #3 - General Instructions: <span class="step-validity-check">valid</span></span></mat-list-item>
          <mat-list-item *ngIf="!this.generalInstructionsForm.valid" class="step-invalid"><span>Step #3 - General Instructions: <span class="step-validity-check">invalid</span></span></mat-list-item>
          <mat-list-item *ngIf="this.evaluationInstructionsForm.valid" class="step-valid"><span>Step #4 - Evaluation Instructions: <span class="step-validity-check">valid</span></span></mat-list-item>
          <mat-list-item *ngIf="!this.evaluationInstructionsForm.valid" class="step-invalid"><span>Step #4 - Evaluation Instructions: <span class="step-validity-check">invalid</span></span></mat-list-item>
          <mat-list-item *ngIf="this.searchEngineForm.valid" class="step-valid"><span>Step #5 - Search Engine: <span class="step-validity-check">valid</span></span></mat-list-item>
          <mat-list-item *ngIf="!this.searchEngineForm.valid" class="step-invalid"><span>Step #5 - Search Engine: <span class="step-validity-check">invalid</span></span></mat-list-item>
          <div *ngIf="this.taskSettingsForm.valid && this.hitsDetected>0; else invalidTaskSettings">
            <mat-list-item class="step-valid"><span>Step #6 - Task Settings: <span class="step-validity-check">valid</span></span></mat-list-item>
          </div>
          <ng-template #invalidTaskSettings>
            <mat-list-item class="step-invalid"><span>Step #6 - Task Settings: <span class="step-validity-check">invalid</span></span></mat-list-item>
          </ng-template>
          <mat-list-item *ngIf="this.workerChecksForm.valid" class="step-valid"><span>Step #7 - Worker Checks: <span class="step-validity-check">valid</span></span></mat-list-item>
          <mat-list-item *ngIf="!this.workerChecksForm.valid" class="step-invalid"><span>Step #7 - Worker Checks: <span class="step-validity-check">invalid</span></span>
          </mat-list-item>
        </mat-list>

        <h4 class="mb-0">Upload Path:</h4>
        <p><code [innerHTML]="fullS3Path"></code></p>

        <mat-progress-bar *ngIf="this.uploadStarted && !this.uploadCompleted" mode="indeterminate"></mat-progress-bar>

        <ng-container *ngIf="this.uploadCompleted">
          <mat-divider [inset]="true"></mat-divider>
          <h4 class="mb-0">Upload result:</h4>
          <mat-list>
            <mat-list-item *ngIf="this.questionnairesPath" class="step-valid"><span>Step #1 - Questionnaire configuration uploaded at path: <code>{{this.questionnairesPath}}</code></span></mat-list-item>
            <mat-list-item *ngIf="this.dimensionsPath" class="step-valid"><span>Step #2 - Dimensions configuration uploaded at path: <code>{{this.dimensionsPath}}</code></span></mat-list-item>
            <mat-list-item *ngIf="this.taskInstructionsPath" class="step-valid"><span>Step #3 - General instructions configuration uploaded at path: <code>{{this.taskInstructionsPath}}</code></span></mat-list-item>
            <mat-list-item *ngIf="this.dimensionsInstructionsPath" class="step-valid"><span>Step #4 - Evaluation instructions configuration uploaded at path: <code>{{this.dimensionsInstructionsPath}}</code></span></mat-list-item>
            <mat-list-item *ngIf="this.searchEngineSettingsPath" class="step-valid"><span>Step #5 - Search engine configuration uploaded at path: <code>{{this.searchEngineSettingsPath}}</code></span></mat-list-item>
            <mat-list-item *ngIf="this.taskSettingsPath" class="step-valid"><span>Step #6 - Task settings configuration uploaded at path: <code>{{this.taskSettingsPath}}</code></span></mat-list-item>
            <mat-list-item *ngIf="this.workerChecksPath" class="step-valid"><span>Step #7 - Worker checks configuration uploaded at path: <code>{{this.workerChecksPath}}</code></span></mat-list-item>
          </mat-list>
        </ng-container>

      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions>
        <button mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="accent" *ngIf="!this.uploadCompleted" [disabled]="
        !(this.questionnairesForm.valid &&
        this.questionnairesForm.valid &&
        this.dimensionsForm.valid &&
        this.generalInstructionsForm.valid &&
        this.evaluationInstructionsForm.valid &&
        this.searchEngineForm.valid &&
        (this.taskSettingsForm.valid && this.hitsDetected>0) &&
        this.workerChecksForm.valid)" (click)="uploadConfiguration()">
          Upload
        </button>
        <button mat-flat-button color="warn" *ngIf="this.uploadCompleted" (click)="resetConfiguration()">
          Start Over
        </button>
      </mat-card-actions>

    </mat-card>
  </mat-step>

</mat-horizontal-stepper>
