<button mat-mini-fab mat-dialog-close color="primary" class="close-button"
  aria-label="Example icon button with a bookmark icon">
  <mat-icon>close</mat-icon>
</button>
<div class="annotation-dialog" mat-dialog-title>
  Annotation
</div>
<mat-dialog-content>
  <div class="annotation">
    <h2>Quoted text</h2>
    <ul>
      <li>
        <h3 #quotedText>{{annotation.quote}}</h3>
      </li>
    </ul>
  </div>
</mat-dialog-content>
<ng-container *ngIf="annotator.type=='options'">
  <h2>
    Select an option
  </h2>
  <mat-dialog-actions>
    <button *ngFor="let value of annotator.values" [style.background-color]="value.color" [style.color]="'black'"
      mat-flat-button [mat-dialog-close]="value">{{value.label}}</button>
  </mat-dialog-actions>

</ng-container>