<div mat-dialog-title>
  Annotation #{{this.annotation.id}}
</div>
<mat-dialog-content>
  <div class="annotation">
    <h2>Quoted text</h2>
    <ul>
      <li><span #quotedText class="annotation-quote">{{annotation.quote}}</span></li>
    </ul>
    <h2>
      Select an option
    </h2>
    <div class="options">
      <button mat-flat-button color="primary">Drug</button>
      <button mat-flat-button color="primary">Adv</button>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary">Save</button>
</mat-dialog-actions>

