<div class="annotation-dialog" mat-dialog-title>
  Annotation
</div>
<mat-dialog-content>
  <div class="annotation">
    <h2>Quoted text</h2>
    <ul>
      <li><h3 #quotedText >{{annotation.current_text}}</h3></li>
    </ul>
  </div>
</mat-dialog-content>
<ng-container *ngIf="annotator.type=='options'">
  <h2>
    Select an option
  </h2>
  <mat-dialog-actions>
    <button *ngFor="let value of annotator.values" mat-flat-button color="primary" [mat-dialog-close]="value">{{value}}</button>
  </mat-dialog-actions>

</ng-container>

