<!-- First instruction page shown when the worker starts the skeleton -->
<div class="instructions-section" *ngIf="this.sectionService.currentSection == 'instructions-section'">
  <mat-card>
      <mat-card-content *ngIf="!this.sectionService.checkCompleted || !taskInstructions">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
    <mat-card-content *ngIf="this.sectionService.checkCompleted && taskInstructions">
      <ng-container *ngFor="let instruction of this.taskInstructions; let i=index">
        <h2 *ngIf="instruction['caption']">{{instruction["caption"]}}</h2>
        <span [innerHTML]="instruction.text"></span>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="enableTask()" [disabled]="!this.sectionService.checkCompleted || !taskInstructions">
        Proceed
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Instructions modal shown on the top  -->
<app-instructions [instructions]="this.taskInstructions" *ngIf="this.sectionService.instructionsAllowed"></app-instructions>

<!-- Token input section -->
<div id="token-section" class="container" *ngIf="this.sectionService.currentSection == 'token-section'">
  <form [formGroup]="tokenForm">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>
            Insert your input token
          </mat-label>
          <input matInput type="text" placeholder="your_mturk_token" formControlName="tokenInput" maxlength="11" class="input-token"
                 (focus)="this.tokenForm.updateValueAndValidity()" (paste)="this.tokenForm.updateValueAndValidity()"
                 (keyup)="this.tokenForm.updateValueAndValidity()" (keydown)="this.tokenForm.updateValueAndValidity()"
                 (keyup.enter)="performTaskSetup()">
          <mat-error *ngIf="checkFormControl(tokenForm,'tokenInput', 'required')">
            This field is required
          </mat-error>
          <mat-error *ngIf="checkFormControl(tokenForm,'tokenInput', 'invalid')">
            This token input is invalid
          </mat-error>
          <mat-error *ngIf="checkFormControl(tokenForm,'tokenInput', 'maxlength')">
            This token input should be 11 characters long
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="performTaskSetup()">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<!--
     If the worker has a valid token input and has not started the task
     render the task's body section and do not render the <alreadyStarted>
     section. This behavior depends on <this.sectionService.taskAllowed> flag
-->
<ng-template *ngIf="(this.sectionService.taskAllowed); else alreadyStarted"></ng-template>

<!-- Already started section -->
<ng-template #alreadyStarted>
  <div id="already-started-section" class="outcome-section container">
    <div>
      <mat-card>
        <mat-card-title class="failure-title">
          <h4>Failure</h4>
        </mat-card-title>
        <!-- If some messages are set in task.json -->
        <mat-card-content *ngIf="this.settings.messages">
          <h2>You are not allowed to participate to this experiment because either:</h2>
          <ul>
            <li *ngFor="let message of this.settings.messages; let i=index">- {{message}}</li>
          </ul>
          <h6>If you believe that this is an error, please contact us through Amazon MTurk. Sorry for the inconvenience.
          </h6>
        </mat-card-content>
        <!-- Otherwise a standard message is shown -->
        <mat-card-content *ngIf="!this.settings.messages">
          <h2>
            Either you have already started this task without finishing it, or you have already participated to a
            variant of this experiment.<br/> For this reason, you are not allowed to take a part in this experiment.
            If you believe that this is an error, please contact us through Amazon MTurk. Sorry for the inconvenience.
          </h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- Task body section -->
<mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper *ngIf="questionnaires && documents && dimensions && this.sectionService.taskStarted">

  <!-- Questionnaire markup -->
  <ng-container *ngFor="let questionnaire of questionnaires; let i=index">
    <mat-step *ngIf="questionnaire.position=='start' || !questionnaire.position" [stepControl]="questionnairesForm[i]" [editable]="false">
      <div class="container">
        <form [formGroup]="questionnairesForm[i]" class="questionnaire-form">
          <ng-template matStepLabel>Q{{i + 1}}</ng-template>
          <mat-card>

            <mat-divider [inset]="true"></mat-divider>
            <mat-card-title *ngIf="questionnaire.type=='standard'">Please answer the following questions</mat-card-title>
            <mat-card-title *ngIf="questionnaire.type=='crt'">Please answer the following question</mat-card-title>
            <mat-card-title *ngIf="questionnaire.type=='likert'">Please assess the following statements</mat-card-title>
            <mat-divider [inset]="true"></mat-divider>

            <!-- Standard questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='standard'" class="questionnaire-body">
              <mat-radio-group *ngFor="let question of questionnaire.questions; let j=index" aria-labelledby="radio-button-label" class="radio-button-group question" formControlName="{{question.name}}">
                <p class="questionnaire-question">{{question.text}}</p>
                <mat-divider [inset]="true"></mat-divider>
                <mat-radio-button *ngFor="let answer of question.answers; let k=index" class="radio-button" value="{{k}}">
                  {{answer}}</mat-radio-button>
                <mat-expansion-panel hideToggle *ngIf="question.detail" class="question-detail" (opened)="question.showDetail = true" (closed)="question.showDetail = false">
                  <mat-expansion-panel-header class="mat-button">
                    <mat-panel-title>
                      {{question.showDetail ? 'Hide details' : 'Show details'}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{question.detail.text}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="question-detail-element" *ngFor="let element of question.detail.elements; let m=index">
                    {{element.key}}
                    <ul>
                      <li *ngFor="let item of element.items; let n=index">{{item}}</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
              </mat-radio-group>
            </mat-card-content>

            <!-- CRT questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='crt'" class="questionnaire-body">
              <ng-container *ngFor="let question of questionnaire.questions; let j=index">
                <p class="questionnaire-question">{{question.text}}</p>
                <mat-divider [inset]="true"></mat-divider>
                <mat-form-field appearance="fill">
                  <mat-label>Answer</mat-label>
                  <input matInput type="number" placeholder="0" min="0" formControlName="{{question.name}}" class="questionnaire-value">
                  <mat-error *ngIf="checkFormControl(questionnairesForm[i],question.name, 'required')">
                    This field is required
                  </mat-error>
                  <mat-error *ngIf="checkFormControl(questionnairesForm[i],question.name, 'min')">
                    Min value allowed: 0
                  </mat-error>
                  <mat-error *ngIf="checkFormControl(questionnairesForm[i],question.name, 'max')">
                    Max value allowed: 100
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </mat-card-content>

            <!-- Likert questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='likert'" class="questionnaire-matrix">
              <p *ngIf="questionnaire.description">{{questionnaire.description}}</p>
              <mat-divider [inset]="true"></mat-divider>
              <div class="matrix-header">
                <div></div>
                <div *ngFor="let mapping of questionnaire.mappings; let k=index">
                  <span class="matrix-header-text">{{mapping.label}}</span>
                </div>
              </div>
              <mat-radio-group aria-labelledby="radio-button-label" *ngFor="let question of questionnaire.questions; let m=index" formControlName="{{question.name}}">
                <div>
                  <p>{{m + 1}}) {{question.text}}</p>
                </div>
                <div *ngFor="let mapping of questionnaire.mappings">
                  <mat-radio-button class="radio-button" value="{{mapping.value}}"></mat-radio-button>
                </div>
              </mat-radio-group>
            </mat-card-content>

            <!-- Next button markup -->
            <mat-card-actions>
              <p class="form-note">
                <button mat-flat-button color="primary" matStepperNext [disabled]="(!questionnairesForm[i].valid || this.sectionService.taskCompleted)" (click)="performLogging('Next',i); nextStep()"> Next</button>
                (*) you have to fill each field to proceed
              </p>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-step>
  </ng-container>

  <!-- Documents markup -->
  <mat-step *ngFor="let document of documents; let i=index" [editable]="true">
    <div class=" container">
      <form [formGroup]="documentsForm[i]">
        <mat-card>

          <!-- Document header markup -->
          <ng-template matStepLabel> S{{document.index + 1}}</ng-template>
          <mat-divider [inset]="true"></mat-divider>
          <mat-card-title>Statement Nr. {{i + 1}}</mat-card-title>
          <mat-divider [inset]="true"></mat-divider>
          <mat-card-content class="pt-16px">

            <!--- Countdown markup --->
            <div class="countdown sticky" *ngIf="this.settings.countdown_time>=0">
              <h1 class="text-lighter m-0">
                Time left: <countdown #countdownElement [config]="{ demand: true, leftTime: this.documentsCountdownTime[i], format: 'm:s' }" (event)="handleCountdown($event, i)"></countdown>
              </h1>
            </div>

            <!-- Document attributes markup; add the event bindings if you want enable annotations -->

            <div class="statement" *ngIf="(this.annotator && this.annotator.type=='laws')">
              <ul>
                <li class="law_content_li">
                  <div class="statement-div">
                    <span style="white-space: pre-wrap;" #statementText id="statement-{{i}}"
                          (mouseup)="performHighlighting(this.changeDetector, $event, i, this.notes, this.annotator)"
                          (touchend)="performHighlighting(this.changeDetector, $event, i, this.notes, this.annotator)"
                          class="statement-text">{{this.checkEnabledNotes(i)}} {{document.article_text}}</span>
                  </div>
                </li>
              </ul>
            </div>

            <div class="statement">
              <ng-container *ngFor="let attribute of this.settings.attributes; let k=index">
                <div *ngIf="attribute.show" class="attribute">
                  <p>
                    <span class="attribute-label" *ngIf="!this.annotator">
                      <strong>{{attribute.name_pretty}}</strong>: {{document[attribute.name]}}
                    </span>
                    <span class="attribute-label" *ngIf="this.annotator && !attribute.annotate">
                      <strong>{{attribute.name_pretty}}</strong>: {{document[attribute.name]}}
                    </span>
                    <span class="attribute-label" *ngIf="this.annotator && this.annotator.type=='options'&& attribute.annotate">
                      <strong>{{attribute.name_pretty}}</strong>:
                      <span id="document-{{i}}-attribute-{{k}}"
                            (mouseup)="performAnnotation(i, k, this.notes, this.changeDetector)"
                            (touchend)="performAnnotation(i, k, this.notes, this.changeDetector)">
                        {{document[attribute.name]}}
                      </span>
                    </span>
                  </p>
                </div>
              </ng-container>
            </div>

            <ng-container *ngIf="(this.annotator && this.annotator.type=='options')">

              <!-- Annotation buttons markup -->
              <div *ngIf="this.annotator" id="annotation-buttons-{{i}}" class="annotation-buttons">
                <button [style.background-color]="value.color"
                        [style.opacity]="!this.annotationButtonsDisabled[i] ? 1 : 0.3" class="ann-button-{{i}}"
                        *ngFor="let value of annotator.values" [disabled]="this.annotationButtonsDisabled[i]" mat-flat-button
                        (click)="handleAnnotationOption(value,i)">{{value.label}}</button>
              </div>
              <br/>

              <!-- Finalized notes table markup -->
              <div *ngIf="this.annotator && checkUndeletedNotesPresence(this.notes[i])" class="annotations">
                <table class="mat-table">
                  <tr class="mat-header-row">
                    <th class="mat-header-cell">Text</th>
                    <th class="mat-header-cell">Annotation</th>
                    <th class="mat-header-cell">Actions</th>
                  </tr>
                  <tr *ngFor="let note of this.notes[i]; let noteIndex = index">
                    <ng-container *ngIf="note.deleted == false && note.option != 'not_selected'">
                      <td class="mat-cell"><span [style.background-color]="note.color">{{note.current_text}}</span></td>
                      <td class="mat-cell"><code>{{capitalize(note.option)}}</code></td>
                      <td class="mat-cell">
                        <button (click)="removeAnnotation(i, noteIndex, this.changeDetector)" mat-flat-button color="warn">Delete
                        </button>
                      </td>
                    </ng-container>
                  </tr>
                </table>
              </div>

            </ng-container>

            <ng-container *ngIf="(this.annotator && this.annotator.type=='laws')">

              <!-- Annotation recap -->
              <div class="annotations" *ngIf="checkUndeletedNotesPresenceLaws(this.notes[i])">
                <div *ngFor="let note of this.notes[i]; let noteIndex = index">
                  <ng-container *ngIf="note.deleted == false">
                    <mat-divider [inset]="true"></mat-divider>
                    <br/>
                    <div *ngIf="checkIfLast(i, noteIndex)" style="height: 0%; text-align: center; margin-bottom: 1%; background-color: rgb(180, 180, 180); color: rgb(255, 0, 0);">
                      ULTIMA ANNOTAZIONE ESEGUITA
                    </div>
                    <div class="annotation-quote">
                      <div style="min-width: 101px;">
                        <b>Hai selezionato:</b>
                      </div>
                      <div class="annotation-current-text">
                        &nbsp;<span [style.background-color]="note.color">{{note.current_text}}</span>
                      </div>
                      <div class="inner-annotation-delete">
                        <button (click)="removeAnnotationLaws(i, noteIndex)" mat-flat-button color="warn">Cancella
                        </button>
                      </div>
                    </div>
                    <div>
                      <div class="annotation-type">
                        <div>
                          <b>Questa annotazione è un/una:</b><br>
                        </div>
                        <div class="mat-radio-group">
                          <div class="radio-group">
                            <mat-radio-group name="radio-group-{{i}}.{{noteIndex}}"
                                             (change)="radioChange($event, i, noteIndex)">
                              <div class="radio-group-button">
                                <mat-radio-button value="insertion">Inserimento
                                </mat-radio-button>
                              </div>
                              <div class="radio-group-button">
                                <mat-radio-button value="substitution">Sostituzione
                                </mat-radio-button>
                              </div>
                              <div class="radio-group-button">
                                <mat-radio-button value="repeal">Cancellazione
                                </mat-radio-button>
                              </div>
                              <div class="radio-group-button">
                                <mat-radio-button value="reference" [checked]="true">
                                  Riferimento
                                </mat-radio-button>
                              </div>
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>
                      <div class="inner-annotation-checkbox-delete">
                        <div class="inner-annotation-checkbox">
                          <mat-checkbox (change)="checkboxChange($event, i, noteIndex)"
                                        name="checkbox-{{noteIndex}}.{{i}}" [disabled]="note.type.includes('reference')"
                                        [checked]="note.containsReferences">contiene un riferimento a una legge al suo interno
                          </mat-checkbox>
                          <br/>
                          <mat-checkbox (change)="detailsCheckboxChange($event, i, noteIndex)"
                                        name="details-checkbox-{{noteIndex}}.{{i}}" [disabled]="!note.type.includes('reference')"
                                        [checked]="note.withoutDetails">non ci sono ulteriori dettagli
                          </mat-checkbox>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="!note.containsReferences || note.withoutDetails">
                      <div class='reference-form'>
                        <strong>Si riferisce a:</strong>
                        <mat-radio-group name="reference-radio-group-{{i}}.{{noteIndex}}"
                                         (change)="this.referenceRadioChange($event, i, noteIndex)">
                          <div class="reference-radio-group-button">
                            <mat-radio-button value="null" [checked]="this.referenceRadioButtonCheck(i, noteIndex)">Non presente nel testo</mat-radio-button>
                          </div>
                          <div *ngFor="let note of this.filterNotes(this.notes[i]); let referredNoteIndex = index">
                            <div class="reference-radio-group-button">
                              <mat-radio-button value="{{note.year}}-{{note.number}}">{{note.year}}/{{note.number}}
                              </mat-radio-button>
                            </div>
                          </div>
                        </mat-radio-group>
                      </div>
                    </div>

                    <div *ngIf="note.containsReferences">
                      <ng-container *ngIf="!note.type.includes('reference')">
                        <div class="inner-annotation-text">
                          <div style="display: flex; justify-content: center; padding: 0.25%;">
                            <strong>Evidenzia il riferimento interno:</strong>
                          </div>
                          <div class="inner-annotation-reference" id="note-current-{{noteIndex}}.{{i}}">
                          <span
                            (mouseup)="performInnerHighlighting(this.changeDetector, $event, i, noteIndex, note.innerAnnotations, this.annotator)"
                            (touchend)="performInnerHighlighting(this.changeDetector, $event, i, noteIndex, note.innerAnnotations, this.annotator)"
                            id="references-{{noteIndex}}.{{i}}">{{note.current_text}}</span>
                          </div>
                          <div *ngFor="let innerNotes of note.innerAnnotations; let innerNoteIndex = index">
                            <ng-container *ngIf="!innerNotes.deleted"><br/>
                              <mat-divider [inset]="true"></mat-divider>
                              <div class="inner-annotation-quote" style="padding-top: 5px;">
                                <span [style.background-color]="innerNotes.color">{{innerNotes.current_text}}</span>
                              </div>
                              <div class="inner-annotation-checkbox-delete">
                                <mat-checkbox (change)="innerDetailsCheckboxChange($event, i, noteIndex, innerNoteIndex)"
                                              name="details-checkbox-{{innerNoteIndex}}-{{noteIndex}}.{{i}}"
                                              [disabled]="!innerNotes.type.includes('reference')"
                                              [checked]="innerNotes.withoutDetails">non ci sono ulteriori dettagli
                                </mat-checkbox>
                              </div>
                              <div *ngIf="innerNotes.type.includes('reference') && !innerNotes.withoutDetails"
                                   class="annotation-options">
                                <div style="padding: 5px;">
                                  <b>Numero legge:<br/><br/>
                                    Anno legge:</b>
                                </div>
                                <br/>
                                <div style="padding: 5px;"><input type="number"
                                                                  name="number-{{innerNoteIndex}}-{{noteIndex}}.{{i}}"
                                                                  id="number-{{innerNoteIndex}}-{{noteIndex}}.{{i}}" placeholder="00"
                                                                  (change)="innerCheckIfSaved(i, noteIndex, innerNoteIndex)"
                                                                  (keyup)="innerCheckIfSaved(i, noteIndex, innerNoteIndex)"><br/><br/>
                                  <input type="number" name="year-{{innerNoteIndex}}-{{noteIndex}}.{{i}}"
                                         id="year-{{innerNoteIndex}}-{{noteIndex}}.{{i}}" placeholder="0000"
                                         (change)="innerCheckIfSaved(i, noteIndex, innerNoteIndex)"
                                         (keyup)="innerCheckIfSaved(i, noteIndex, innerNoteIndex)">
                                </div>
                                <div style="padding: 5px; padding-left: 7px;">
                                  <button (click)="performInnerAnnotationLaws(i, noteIndex, innerNoteIndex)" mat-flat-button
                                          color="primary"
                                          id="save_button-{{innerNoteIndex}}-{{innerNoteIndex}}-{{noteIndex}}.{{i}}"
                                          [disabled]="innerCheckIfSaved(i, noteIndex, innerNoteIndex)">Salva
                                  </button>
                                </div>
                              </div>
                              <br/>
                              <div class="inner-annotation-checkbox-delete">
                                <button (click)="removeInnerAnnotationLaws(i, noteIndex, innerNoteIndex)" mat-flat-button
                                        color="warn">Cancella riferimento
                                </button>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </div>

                    <div *ngIf="note.type.includes('reference') && !note.withoutDetails" class="annotation-options">
                      <div style="padding: 5px;">
                        <b>Numero legge:<br/><br/>Anno legge:</b>
                      </div>
                      <br/>
                      <div style="padding: 5px;">
                        <input type="number" name="number-{{noteIndex}}.{{i}}" id="number-{{noteIndex}}.{{i}}" placeholder="00"
                               (change)="checkIfSaved(i, noteIndex)"
                               (keyup)="checkIfSaved(i, noteIndex)">
                        <br/><br/>
                        <input type="number" name="year-{{noteIndex}}.{{i}}" id="year-{{noteIndex}}.{{i}}" placeholder="0000"
                               (change)="checkIfSaved(i, noteIndex)" (keyup)="checkIfSaved(i, noteIndex)">
                      </div>
                      <div style="padding: 5px; padding-left: 7px;">
                        <button (click)="performAnnotationLaws(i, noteIndex)" mat-flat-button color="primary" id="save_button-{{noteIndex}}.{{i}}" [disabled]="checkIfSaved(i, noteIndex)">Salva
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

            </ng-container>

            <!-- Evaluation instructions markup -->
            <div *ngIf="this.instructionsAmount>0" class="evaluation-instructions">
              <mat-divider [inset]="true"></mat-divider>
              <h2>Instructions</h2>
              <mat-divider [inset]="true"></mat-divider>
              <div *ngFor="let instruction of this.instructions">
                <p>{{instruction.caption}}</p>
                <div [innerHTML]="instruction.text"></div>
              </div>
            </div>

            <!-- Dimensions assessment markup (list style) -->
            <ng-template #dimensionList let-dimensions="dimensions" let-i="i">
              <div *ngFor="let dimension of dimensions; let j=index" class="dimension">

                <!-- Dimension name markup -->
                <div class="dimension-name">
                  <mat-divider [inset]="true"></mat-divider>
                  <h2 *ngIf="!dimension.name_pretty">{{capitalize(dimension.name)}}</h2>
                  <h2 *ngIf="dimension.name_pretty">{{capitalize(dimension.name_pretty)}}</h2>
                  <mat-divider [inset]="true"></mat-divider>
                </div>

                <!-- Dimension description markup -->
                <div *ngIf="dimension.description" class="dimension-container dimension-description">
                  <div class="dimension-content">
                    <p>{{dimension.description}}</p>
                  </div>
                </div>

                <!-- Dimension search engine interface markup -->
                <div *ngIf="dimension.url" class="dimension-container dimension-url">
                  <div class="dimension-counter">a.</div>
                  <div class="dimension-content search-engine">
                    <app-crowd-xplorer
                      *ngIf="dimension.url" id="app-crowd-xplorer-{{i}}-{{j}}"
                      (resultEmitter)="storeSearchEngineRetrievedResponse($event, document, dimension)"
                      (queryEmitter)="storeSearchEngineUserQuery($event, document, dimension)"
                      (selectedRowEmitter)="storeSearchEngineSelectedResponse($event, document, dimension)"
                      [countdownExpired]="this.countdownsExpired[i]"
                    >
                    </app-crowd-xplorer>
                    <!-- Dimension search engine url field markup (hidden) -->
                    <mat-form-field *ngIf="dimension.url" class="url-field">
                      <input #urlField matInput type="text" formControlName="{{(dimension.name).concat('_url')}}">
                      <button mat-icon-button matPrefix>
                        <mat-icon>{{'arrow_right_alt'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="checkFormControl(documentsForm[i],(dimension.name).concat('_url'), 'required')">
                        This field is required
                      </mat-error>
                      <mat-error
                        *ngIf="checkFormControl(documentsForm[i], (dimension.name).concat('_url'), 'invalidSearchEngineUrl')">
                        Please select (or copy & paste) one of the URLs shown above.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Dimension assessment scale markup -->
                <div *ngIf="dimension.scale" class="dimension-container dimension-scale">
                  <div *ngIf="dimension.url" class="dimension-counter">b.</div>
                  <div *ngIf="!dimension.url" class="dimension-counter">a.</div>
                  <div class="dimension-content">

                    <!-- Vertical style markup -->
                    <ng-container *ngIf="this.dimension.style">

                        <ng-container *ngIf="dimension.style.orientation=='vertical'">

                        <!-- Categorical scale markup -->
                        <ng-container *ngIf="dimension.scale.type=='categorical'">
                          <mat-radio-group aria-labelledby="radio-button-label" class="radio-button-group" formControlName="{{(dimension.name).concat('_value')}}">
                            <mat-radio-button *ngFor="let mapping of dimension.scale.mapping let k=index"
                                              class="radio-button" value="{{mapping.value}}"
                                              (change)="storeDimensionValue($event, i, dimension.index)"
                                              [disabled]="this.countdownsExpired[i]">
                              <span>{{mapping.label}}</span><span *ngIf="mapping.description.length>0">
                                ({{mapping.description}})</span>
                            </mat-radio-button>
                          </mat-radio-group>
                        </ng-container>

                        <!-- Interval scale markup -->
                        <ng-container *ngIf="dimension.scale.type=='interval'">
                          <label>Selected value: {{documentsForm[i].controls[(dimension.name).concat('_value')].value}}</label>
                          <mat-slider min="{{dimension.scale.min}}" max="{{dimension.scale.max}}"
                                      step="{{dimension.scale.step}}" thumbLabel tickInterval="{{dimension.scale.step}}"
                                      formControlName="{{(dimension.name).concat('_value')}}"
                                      (change)="storeDimensionValue($event, i,dimension.index)"
                                      [disabled]="this.countdownsExpired[i]"></mat-slider>
                        </ng-container>

                        <!-- Magnitude scale markup -->
                        <ng-container *ngIf="dimension.scale.type=='magnitude_estimation'">
                          <mat-form-field appearance="fill">
                            <mat-label>Value</mat-label>
                            <input *ngIf="dimension.scale.lower_bound" matInput type="number" placeholder="" formControlName="{{(dimension.name).concat('_value')}}" min="{{dimension.scale.min}}"
                                   (change)="storeDimensionValue($event, i, dimension.index)"
                                   [disabled]="this.countdownsExpired[i]" class="magnitude_estimation">
                            <input *ngIf="!dimension.scale.lower_bound" matInput type="number" placeholder="" formControlName="{{(dimension.name).concat('_value')}}" min="{{dimension.scale.min+1}}"
                                   (change)="storeDimensionValue($event, i, dimension.index)" class="magnitude_estimation"
                                   [disabled]="this.countdownsExpired[i]">
                            <mat-error *ngIf="checkFormControl(documentsForm[i], (dimension.name).concat('_value'), 'required')">
                              This field is required
                            </mat-error>
                            <mat-error *ngIf="checkFormControl(documentsForm[i], (dimension.name).concat('_value'), 'min')">
                              <span *ngIf="dimension.scale.lower_bound">Min value allowed: {{dimension.scale.min}}</span>
                              <span *ngIf="!dimension.scale.lower_bound">Min value allowed: {{dimension.scale.min + 1}}</span>
                            </mat-error>

                          </mat-form-field>
                        </ng-container>
                        </ng-container>

                      <!-- Horizontal style markup -->
                      <ng-container *ngIf="dimension.style.orientation=='horizontal'">

                        <!-- Categorical scale markup -->
                        <mat-radio-group *ngIf="dimension.scale.type=='categorical'" aria-labelledby="radio-button-label" formControlName="{{(dimension.name).concat('_value')}}">
                          <mat-radio-button *ngFor="let mapping of dimension.scale.mappings let k=index"
                                            class="radio-button" value="{{mapping.value}}"
                                            (change)="storeDimensionValue($event, i,dimension.index)"
                                            [disabled]="this.countdownsExpired[i]">
                            <span>{{mapping.label}}</span><span *ngIf="mapping.description.length>0">({{mapping.description}})</span>
                          </mat-radio-button>
                        </mat-radio-group>
                      </ng-container>

                    </ng-container>

                    <ng-container *ngIf="!this.dimension.style">

                      <ng-container *ngIf="dimension.scale.type=='categorical'">
                          <mat-radio-group aria-labelledby="radio-button-label" class="radio-button-group" formControlName="{{(dimension.name).concat('_value')}}">
                            <mat-radio-button *ngFor="let mapping of dimension.scale.mapping let k=index"
                                              class="radio-button" value="{{mapping.value}}"
                                              (change)="storeDimensionValue($event, i, dimension.index)"
                                              [disabled]="this.countdownsExpired[i]">
                              <span>{{mapping.label}}</span><span *ngIf="mapping.description.length>0">
                                ({{mapping.description}})</span>
                            </mat-radio-button>
                          </mat-radio-group>
                        </ng-container>

                        <!-- Interval scale markup -->
                        <ng-container *ngIf="dimension.scale.type=='interval'">
                          <label>Selected value: {{documentsForm[i].controls[(dimension.name).concat('_value')].value}}</label>
                          <mat-slider min="{{dimension.scale.min}}" max="{{dimension.scale.max}}"
                                      step="{{dimension.scale.step}}" thumbLabel tickInterval="{{dimension.scale.step}}"
                                      formControlName="{{(dimension.name).concat('_value')}}"
                                      (change)="storeDimensionValue($event, i,dimension.index)"
                                      [disabled]="this.countdownsExpired[i]"></mat-slider>
                        </ng-container>

                        <!-- Magnitude scale markup -->
                        <ng-container *ngIf="dimension.scale.type=='magnitude_estimation'">
                          <mat-form-field appearance="fill">
                            <mat-label>Value</mat-label>
                            <input *ngIf="dimension.scale.lower_bound" matInput type="number" placeholder="" formControlName="{{(dimension.name).concat('_value')}}" min="{{dimension.scale.min}}"
                                   (change)="storeDimensionValue($event, i, dimension.index)"
                                   [disabled]="this.countdownsExpired[i]" class="magnitude_estimation">
                            <input *ngIf="!dimension.scale.lower_bound" matInput type="number" placeholder="" formControlName="{{(dimension.name).concat('_value')}}" min="{{dimension.scale.min+1}}"
                                   (change)="storeDimensionValue($event, i, dimension.index)" class="magnitude_estimation"
                                   [disabled]="this.countdownsExpired[i]">
                            <mat-error *ngIf="checkFormControl(documentsForm[i], (dimension.name).concat('_value'), 'required')">
                              This field is required
                            </mat-error>
                            <mat-error *ngIf="checkFormControl(documentsForm[i], (dimension.name).concat('_value'), 'min')">
                              <span *ngIf="dimension.scale.lower_bound">Min value allowed: {{dimension.scale.min}}</span>
                              <span *ngIf="!dimension.scale.lower_bound">Min value allowed: {{dimension.scale.min + 1}}</span>
                            </mat-error>

                          </mat-form-field>
                        </ng-container>

                    </ng-container>
                  </div>
                </div>

                <!-- Dimension justification field markup -->
                <div *ngIf="dimension.justification" class="dimension-container dimension-justification">
                  <div *ngIf="dimension.url && dimension.scale" class="dimension-counter">c.</div>
                  <div *ngIf="!dimension.url && dimension.scale" class="dimension-counter">b.</div>
                  <div *ngIf="dimension.url && !dimension.scale" class="dimension-counter">b.</div>
                  <div *ngIf="!dimension.url && !dimension.scale" class="dimension-counter">a.</div>
                  <div *ngIf="dimension.justification" class="dimension-content justification">
                    <div class="dimension-text-field">
                      <mat-form-field appearance="fill">
                        <mat-label>{{dimension.justification.text}}</mat-label>
                        <textarea matInput formControlName="{{dimension.name}}_justification" rows="3"></textarea>
                        <mat-error
                          *ngIf="checkFormControl(documentsForm[i],(dimension.name).concat('_justification'), 'required')">
                          This field is required
                        </mat-error>
                        <mat-error
                          *ngIf="checkFormControl(documentsForm[i],(dimension.name).concat('_justification'), 'longer')">
                          This justification must have at least {{dimension.justification.min_words}} words.
                        </mat-error>
                        <mat-error
                          *ngIf="checkFormControl(documentsForm[i],(dimension.name).concat('_justification'), 'invalid')">
                          You cannot use the selected search engine url as part of the justification.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <!-- Dimensions markup (matrix style) -->
            <ng-template #dimensionMatrix let-dimensions="dimensions" let-i="i">
              <div *ngFor="let dimension of dimensions; let j=index" class="dimension-matrix">

                <!-- Dimension search engine interface markup -->
                <div *ngIf="dimension.url" class="dimension-container dimension-url">
                  <div class="dimension-content search-engine">
                    <app-crowd-xplorer *ngIf="dimension.url" id="app-crowd-xplorer-{{i}}-{{j}}"
                                       (resultEmitter)="storeSearchEngineRetrievedResponse($event, i, j)"
                                       (queryEmitter)="storeSearchEngineUserQuery($event, i, j)"
                                       (selectedRowEmitter)="storeSearchEngineSelectedResponse($event, i, j)"></app-crowd-xplorer>

                    <!-- Dimension search engine url field markup (hidden) -->
                    <mat-form-field *ngIf="dimension.url" class="url-field">
                      <input #urlField matInput type="text" formControlName="{{(dimension.name).concat('_url')}}">
                      <button mat-icon-button matPrefix>
                        <mat-icon>{{'arrow_right_alt'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="checkFormControl(documentsForm[i],(dimension.name).concat('_url'), 'required')">
                        This field is required
                      </mat-error>
                      <mat-error
                        *ngIf="checkFormControl(documentsForm[i], (dimension.name).concat('_url'), 'invalidSearchEngineUrl')">
                        Please select (or copy & paste) one of the URLs shown above.
                      </mat-error>
                    </mat-form-field>

                  </div>
                </div>

                <!-- Dimension assessment matrix header markup -->
                <mat-radio-group *ngIf="j==0">
                  <div></div>
                  <div *ngFor="let mapping of dimension.scale.mappings; let k=index">
                    <div class="matrix-header">
                      <ng-container>
                        <span class="matrix-header-text">{{mapping.label}}</span>
                      </ng-container>
                      <br/>
                      <ng-container *ngIf="mapping.value<=0">
                        <span class="matrix-header-value">({{mapping.value}})</span>
                      </ng-container>
                      <ng-container *ngIf="mapping.value>0">
                        <span class="matrix-header-value">(+{{mapping.value}})</span>
                      </ng-container>
                    </div>
                  </div>
                </mat-radio-group>

                <!-- Dimension assessment fields markup -->
                <mat-radio-group aria-labelledby="radio-button-label" formControlName="{{(dimension.name).concat('_value')}}">
                  <div>
                    <p>
                      <strong>{{this.capitalize(dimension.name)}}:
                      </strong><strong>{{dimension.description.toLowerCase().split(")")[0]}})</strong>{{dimension.description.toLowerCase().split(")")[1]}})
                    </p>
                  </div>
                  <div *ngFor="let mapping of dimension.scale.mappings; let k=index">
                    <mat-radio-button class="radio-button" value="{{mapping.value}}" (change)="storeDimensionValue($event, i,dimension.index)"></mat-radio-button>
                  </div>
                </mat-radio-group>

                <!-- Separator markup -->
                <mat-divider *ngIf="dimension.style.separator" [inset]="true"></mat-divider>

              </div>
            </ng-template>

            <!-- Dimensions are then shown and filtered according to each position -->
            <ng-template *ngIf="this.filterDimensions('list', 'top').length>0" [ngTemplateOutlet]="dimensionList"
                         [ngTemplateOutletContext]="{dimensions: this.filterDimensions('list', 'top'), i:i}"></ng-template>
            <ng-template *ngIf="this.filterDimensions('list', 'middle').length>0" [ngTemplateOutlet]="dimensionList"
                         [ngTemplateOutletContext]="{dimensions: this.filterDimensions('list', 'middle'), i:i}"></ng-template>
            <ng-template *ngIf="this.filterDimensions('list', 'bottom').length>0" [ngTemplateOutlet]="dimensionList"
                         [ngTemplateOutletContext]="{dimensions: this.filterDimensions('list', 'bottom'), i:i}"></ng-template>
            <ng-template *ngIf="this.filterDimensions('matrix', 'top').length>0" [ngTemplateOutlet]="dimensionMatrix"
                         [ngTemplateOutletContext]="{dimensions: this.filterDimensions('matrix', 'top'), i:i}"></ng-template>
            <ng-template *ngIf="this.filterDimensions('matrix', 'middle').length>0" [ngTemplateOutlet]="dimensionMatrix"
                         [ngTemplateOutletContext]="{dimensions: this.filterDimensions('matrix', 'middle'), i:i}"></ng-template>
            <ng-template *ngIf="this.filterDimensions('matrix', 'bottom').length>0" [ngTemplateOutlet]="dimensionMatrix"
                         [ngTemplateOutletContext]="{dimensions: this.filterDimensions('matrix', 'bottom'), i:i}"></ng-template>

          </mat-card-content>

          <!-- "Back", "Next" and "Finish" actions markup -->
          <mat-card-actions>

            <button mat-flat-button color="primary" matStepperPrevious *ngIf="i>0"
                    [disabled]="this.sectionService.taskCompleted"
                    (click)="performLogging('Back', i); previousStep()">
              Back
            </button>
            <button mat-flat-button color="primary" matStepperNext *ngIf="i+1<this.documentsAmount && this.annotator"
                    [disabled]="(!documentsForm[i].valid || !this.searchEngineRetrievedResponses[i] || this.sectionService.taskCompleted || !checkAnnotationConsistency(i) || !this.countdownsExpired[i])"
                    (click)="performLogging('Next', i); nextStep()">
              Next
            </button>
            <button mat-flat-button color="primary" matStepperNext *ngIf="i+1<this.documentsAmount && !this.annotator"
                    [disabled]="(!documentsForm[i].valid || !this.searchEngineRetrievedResponses[i] || this.sectionService.taskCompleted || this.countdownsExpired[i])"
                    (click)="performLogging('Next', i); nextStep()">
              Next
            </button>

            <button mat-flat-button color="primary" matStepperNext *ngIf="i+1>=this.documentsAmount && this.annotator && this.questionnaireAmountEnd > 0"
                    [disabled]="(!documentsForm[i].valid || !this.searchEngineRetrievedResponses[i] || this.sectionService.taskCompleted || !checkAnnotationConsistency(i) || this.countdownsExpired[i])"
                    (click)="performLogging('Next', i); nextStep()">
              Next
            </button>

            <button mat-flat-button color="primary" matStepperNext *ngIf="i+1>=this.documentsAmount && !this.annotator  && this.questionnaireAmountEnd > 0"
                    [disabled]="(!documentsForm[i].valid || !this.searchEngineRetrievedResponses[i] || this.sectionService.taskCompleted || this.countdownsExpired[i])"
                    (click)="performLogging('Next', i); nextStep()">
              Next
            </button>

            <button mat-flat-button color="primary" matStepperNext *ngIf="i+1>=this.documentsAmount && this.questionnaireAmountEnd == 0 && !this.annotator"
                    [disabled]="(!documentsForm[i].valid || !this.searchEngineRetrievedResponses[i] || this.sectionService.taskCompleted || this.countdownsExpired[i])"
                    (click)="performLogging('Finish', i); nextStep(); performQualityCheck()">
              Finish
            </button>

            <button mat-flat-button color="primary" matStepperNext *ngIf="i+1>=this.documentsAmount && this.questionnaireAmountEnd == 0 && this.annotator"
                    [disabled]="(!documentsForm[i].valid || !this.searchEngineRetrievedResponses[i] || this.sectionService.taskCompleted || !checkAnnotationConsistency(i) || this.countdownsExpired[i])"
                    (click)="performLogging('Finish', i); nextStep(); performQualityCheck()">
              Finish
            </button>

          </mat-card-actions>

        </mat-card>
      </form>
    </div>

  </mat-step>

  <!-- Questionnaire markup -->
  <ng-container *ngFor="let questionnaire of questionnaires; let i=index">
    <mat-step *ngIf="questionnaire.position=='end'" [stepControl]="questionnairesForm[i]" [editable]="false">
      <div class="container">
        <form [formGroup]="questionnairesForm[i]" class="questionnaire-form">
          <ng-template matStepLabel>Q{{i + 1}}</ng-template>
          <mat-card>

            <mat-divider [inset]="true"></mat-divider>
            <mat-card-title *ngIf="questionnaire.type=='standard'">Please answer the following questions</mat-card-title>
            <mat-card-title *ngIf="questionnaire.type=='crt'">Please answer the following question</mat-card-title>
            <mat-card-title *ngIf="questionnaire.type=='likert'">Please assess the following statements</mat-card-title>
            <mat-divider [inset]="true"></mat-divider>

            <!-- Standard questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='standard'" class="questionnaire-body">
              <mat-radio-group *ngFor="let question of questionnaire.questions; let j=index" aria-labelledby="radio-button-label" class="radio-button-group question" formControlName="{{question.name}}">
                <p class="questionnaire-question">{{question.text}}</p>
                <mat-divider [inset]="true"></mat-divider>
                <mat-radio-button *ngFor="let answer of question.answers; let k=index" class="radio-button" value="{{k}}">
                  {{answer}}</mat-radio-button>
                <mat-expansion-panel hideToggle *ngIf="question.detail" class="question-detail" (opened)="question.showDetail = true" (closed)="question.showDetail = false">
                  <mat-expansion-panel-header class="mat-button">
                    <mat-panel-title>
                      {{question.showDetail ? 'Hide details' : 'Show details'}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{question.detail.text}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="question-detail-element" *ngFor="let element of question.detail.elements; let m=index">
                    {{element.key}}
                    <ul>
                      <li *ngFor="let item of element.items; let n=index">{{item}}</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
              </mat-radio-group>
            </mat-card-content>

            <!-- CRT questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='crt'" class="questionnaire-body">
              <ng-container *ngFor="let question of questionnaire.questions; let j=index">
                <p class="questionnaire-question">{{question.text}}</p>
                <mat-divider [inset]="true"></mat-divider>
                <mat-form-field appearance="fill">
                  <mat-label>Answer</mat-label>
                  <input matInput type="number" placeholder="0" min="0" formControlName="{{question.name}}" class="questionnaire-value">
                  <mat-error *ngIf="checkFormControl(questionnairesForm[i],question.name, 'required')">
                    This field is required
                  </mat-error>
                  <mat-error *ngIf="checkFormControl(questionnairesForm[i],question.name, 'min')">
                    Min value allowed: 0
                  </mat-error>
                  <mat-error *ngIf="checkFormControl(questionnairesForm[i],question.name, 'max')">
                    Max value allowed: 100
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </mat-card-content>

            <!-- Likert questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='likert'" class="questionnaire-matrix">
              <p *ngIf="questionnaire.description">{{questionnaire.description}}</p>
              <mat-divider [inset]="true"></mat-divider>
              <div class="matrix-header">
                <div></div>
                <div *ngFor="let mapping of questionnaire.mappings; let k=index">
                  <span class="matrix-header-text">{{mapping.label}}</span>
                </div>
              </div>
              <mat-radio-group aria-labelledby="radio-button-label"
                               *ngFor="let question of questionnaire.questions; let m=index" formControlName="{{question.name}}">
                <div>
                  <p>{{m + 1}}) {{question.text}}</p>
                </div>
                <div *ngFor="let mapping of questionnaire.mappings">
                  <mat-radio-button class="radio-button" value="{{mapping.value}}"></mat-radio-button>
                </div>
              </mat-radio-group>
            </mat-card-content>

            <mat-card-actions>
              <p class="form-note">
                <button mat-flat-button color="primary" matStepperPrevious
                        *ngIf="i>0"
                        [disabled]="this.sectionService.taskCompleted"
                        (click)="performLogging('Back', i); previousStep()">
                  Back
                </button>
                <button mat-flat-button color="primary" matStepperNext *ngIf="i+1 >= this.questionnaireAmountStart + this.documentsAmount && i+1 < (this.questionnaireAmountStart + this.documentsAmount + this.questionnaireAmountEnd) -1"
                        [disabled]="!questionnairesForm[i].valid" (click)="performLogging('Next',i) ; nextStep()">
                  Next
                </button>
                <button mat-flat-button color="primary" matStepperNext *ngIf="i+1 >= (this.questionnaireAmountStart + this.documentsAmount + this.questionnaireAmountEnd) - 1"
                        [disabled]="!questionnairesForm[i].valid" (click)="performLogging('Finish', i); nextStep(); performQualityCheck()">
                  Finish
                </button>
                (*) you have to fill each field to proceed
              </p>
            </mat-card-actions>

          </mat-card>
        </form>
      </div>
    </mat-step>
  </ng-container>

  <!-- Outcome markup -->
  <mat-step *ngIf="documents" [editable]="false">
    <ng-template matStepLabel> Outcome</ng-template>
    <!-- Success section - shown when the worker successfully completes the task -->
    <div id="success-section" class="outcome-section container" *ngIf="this.sectionService.taskCompleted && this.sectionService.taskSuccessful">
      <mat-card>
        <mat-card-title class="success-title">
          <h4>Success</h4>
        </mat-card-title>
        <mat-card-content>
          <h2>
            Congratulations, you have successfully completed this task. To be paid you now have to copy your output
            token
            (shown below)
            back to the Amazon Mechanical Turk task page. Feel free to leave any comment in the box below to help us
            improve our research.
          </h2>
          <h1>{{tokenOutput}}</h1>
          <form [formGroup]="commentForm" class="comment-form">
            <mat-form-field appearance="fill">
              <textarea matInput [disabled]="commentSent" placeholder="Your comment here" formControlName="comment" rows="5"></textarea>
            </mat-form-field>
          </form>
          <button mat-flat-button color="primary" [disabled]="commentSent || !commentForm.valid " (click)="performCommentSaving()"> Send
          </button>
          <span class="comment-sent-label" *ngIf="commentSent">Thank you!</span>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Retry section - shown when the worker does not pass the quality checks but has some tries left -->
    <div id="retry-section" class="outcome-section container" *ngIf="this.sectionService.taskCompleted && this.sectionService.taskFailed && allowedTries>0">
      <mat-card>
        <mat-card-title class="retry-title">
          <h3>Failure, but...</h3>
        </mat-card-title>
        <mat-card-content>
          <h2>
            Your work was not good enough, so you are not allowed to submit this task.
            As stated in the instructions, some quality checks are performed in this task.
            You see this message because you have not passed one or more of such checks.
            Nevertheless, you are allowed to retry this task. To do so, please click on the reset button below.
            Feel free to leave any comment in the box below.
          </h2>
          <button mat-flat-button color="primary" (click)="performReset()">Reset</button>
          <form [formGroup]="commentForm" class="comment-form">
            <mat-form-field appearance="fill">
              <textarea matInput [disabled]="commentSent" placeholder="Your comment here" formControlName="comment" rows="5"></textarea>
            </mat-form-field>
          </form>
          <button mat-flat-button color="primary" [disabled]="commentSent || !commentForm.valid "
                  (click)="performCommentSaving()"> Send
          </button>
          <span class="comment-sent-label" *ngIf="commentSent">Thank you!</span>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Failure section - shown when the worker does not pass the quality checks and does not has tries left -->
    <div id="failure-section" class="outcome-section container" *ngIf="this.sectionService.taskCompleted && this.sectionService.taskFailed && allowedTries <= 0">
      <mat-card>
        <mat-card-title class="failure-title">
          <h4>Failure</h4>
        </mat-card-title>
        <mat-card-content>
          <h2>
            Your work was not good enough, so you are not allowed to submit this task.
            As stated in the instructions, some quality checks are performed in this task.
            You see this message because you have not passed one or more of such checks.
            Feel free to leave any comment in the box below.
          </h2>
          <form [formGroup]="commentForm" class="comment-form">
            <mat-form-field appearance="fill">
              <textarea matInput [disabled]="commentSent" placeholder="Your comment here" formControlName="comment" rows="5"></textarea>
            </mat-form-field>
          </form>
          <button mat-flat-button color="primary" [disabled]="commentSent || !commentForm.valid " (click)="performCommentSaving()"> Send
          </button>
          <span class="comment-sent-label" *ngIf="commentSent">Thank you!</span>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>

</mat-horizontal-stepper>
