<!-- First instruction page shown when the worker starts the skeleton -->
<div class="instructions-section" *ngIf="this.sectionService.checkCompleted && this.sectionService.currentSection == 'instructions-section'">
    <mat-card>
        <mat-card-content *ngIf="!this.sectionService.checkCompleted || !this.task.instructionsGeneral">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-content>
        <mat-card-content *ngIf="this.sectionService.checkCompleted && this.task.instructionsGeneral">
            <ng-container *ngFor="let instruction of this.task.instructionsGeneral; let i=index">
                <h2 *ngIf="instruction['caption']">{{instruction["caption"]}}</h2>
                <span [innerHTML]="instruction.text"></span>
            </ng-container>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="enableTask(); this.performTaskSetup()" [disabled]="!this.sectionService.checkCompleted || !this.task.instructionsGeneral">
                Proceed
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<!-- Instructions modal shown on the top  -->
<app-instructions [task]="this.task" [worker]="this.worker" *ngIf="this.sectionService.instructionsAllowed"></app-instructions>

<!-- Token input section -->
<div id="token-section" class="container" *ngIf="this.sectionService.currentSection == 'token-section'">
    <form [formGroup]="tokenForm">
        <mat-card>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>
                        Insert your input token
                    </mat-label>
                    <input matInput type="text" placeholder="your_token" formControlName="tokenInput" maxlength="11" class="input-token"
                           (focus)="this.tokenForm.updateValueAndValidity()" (paste)="this.tokenForm.updateValueAndValidity()"
                           (keyup)="this.tokenForm.updateValueAndValidity()" (keydown)="this.tokenForm.updateValueAndValidity()"
                           (keyup.enter)="performTaskSetup()">
                    <mat-error>
                        <app-error-message [formField]="this.tokenForm.get('tokenInput')"></app-error-message>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="performTaskSetup()">Start</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>

<!-- Already started section -->

<div id="already-started-section">
    <app-outcome-section
            *ngIf="!this.sectionService.taskAllowed"
            [triesAllowed]="this.task.settings.allowed_tries"
            [tryCurrent]="this.task.tryCurrent"
            [messages]="this.task.settings.messages"
            [tokenOutput]="this.task.tokenOutput"
            [completionCode]="this.configService.environment.prolific_completion_code"
            (commentEmitter)="performCommentSaving($event)"
            (performReset)="this.performReset()"
    ></app-outcome-section>
</div>

<!-- Task body section -->
<mat-horizontal-stepper [linear]="true" labelPosition="bottom" id="stepper" #stepper *ngIf="this.sectionService.task">

    <mat-step *ngFor="let stepIndex of this.sectionService.stepIndexes()">
        <ng-template matStepLabel>
            {{this.task.getElementIndex(stepIndex)['elementType']}}<span *ngIf="this.task.getElementIndex(stepIndex)['elementType']!='Outcome'">{{stepIndex + 1}}</span>
        </ng-template>
        <app-questionnaire
                *ngIf="this.task.getElementIndex(stepIndex)['elementType']=='Q'"
                [questionnaireIndex]="this.task.getElementIndex(stepIndex)['elementIndex']"
                (formEmitter)="this.storeQuestionnaireForm($event, this.task.getElementIndex(stepIndex)['elementIndex'])"
        >
        </app-questionnaire>
        <app-document
                *ngIf="this.task.getElementIndex(stepIndex)['elementType']=='S'"
                [documentIndex]="this.task.getElementIndex(stepIndex)['elementIndex']"
                (formEmitter)="this.storeDocumentForm($event, this.task.getElementIndex(stepIndex)['elementIndex'])"
        ></app-document>
        <app-outcome-section *ngIf="this.task.getElementIndex(stepIndex)['elementType']=='Outcome'"
                             [triesAllowed]="this.task.settings.allowed_tries"
                             [tryCurrent]="this.task.tryCurrent"
                             [messages]="this.task.settings.messages"
                             [tokenOutput]="this.task.tokenOutput"
                             [completionCode]="this.configService.environment.prolific_completion_code"
                             (commentEmitter)="performCommentSaving($event)"
                             (performReset)="this.performReset()"
        ></app-outcome-section>


    </mat-step>

</mat-horizontal-stepper>

