.mat-horizontal-stepper-header {
    pointer-events: none !important;
}

mat-horizontal-stepper mat-card-content, mat-horizontal-stepper mat-card-title {
    width: 85% !important;
    margin: 1em auto !important;
}

mat-horizontal-stepper mat-card-actions {
    margin: 1% auto 1em auto;
}

.mat-step-icon {
    background: transparent !important;
    color: black !important;
    font-size: small !important;
}

.mat-step-label-selected {
    color: white !important;
    background: #3f51b5 !important;
    border-radius: 8px;
}

.mat-step-label {
    padding: 6px !important;
}

.mat-step-text-label {
    font-size: large !important;
    text-align: center;
}

/* NOT ALLOWED SECTION */

#already-started-section {
    margin: auto;
    width: 96%;
}

.instructions-section div {
    line-height: 150%;
    font-size: 1.1em;

    li {
        line-height: 200%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    p {
        line-height: 150%;
    }

}

.instructions-section {
    max-width: 80%;
    height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.instructions-section mat-card {
    margin: auto;
}

.instructions-section mat-card-actions {
    align-self: center;
}

.instructions-section mat-card-actions button {
    text-transform: uppercase;
}

.instructions-section h1 {
    text-align: center;
    font-weight: normal;
}

.instructions-quote {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 0 0;
    border-radius: 0;
    border-left: 10px lightgray solid;
    padding-left: 1em;
}