/* |--- GENERAL STYLES  --| */

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.radio-button-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button-group-horizontal {
  display: inline;
}

.radio-button {
  margin: 5px;
}

button:nth-child(2) {
  margin-left: 5px;
}

.document-section mat-form-field, .questionnaire-section mat-form-field {
  margin-bottom: 1%;
  max-width: 70%;
}

.form-note {
  margin-left: 1%;
  font-size: 0.50em !important;
}

mat-card-title {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.text-lighter {
  font-weight: lighter;
}

/* Task specific styles */

.question label {
  font-weight: bold;
}

.question .question-detail {
  box-shadow: none;
}

.question-detail mat-panel-title  {
  text-transform: uppercase;
  flex-grow: 0;
}

.question-detail mat-panel-description {
  font-weight: normal;
  text-align: left;
}

.question-detail mat-expansion-panel-header, .question-detail mat-expansion-panel {
  padding-left: 0.75%;
}

.questionnaire-matrix .matrix-header  {
  padding-top:  1.5%;
  padding-bottom: 1.5%;
  border: 0;
  box-shadow: 0 0 0 0;
  border-radius: 0;
  position:sticky;
  background-color: white;
  top:0;
  z-index: 1000;
  display: flex;
  vertical-align: middle;
}

.questionnaire-matrix .matrix-header div {
  text-align: center;
  flex: 1 0;
}

.questionnaire-matrix .matrix-header > div:first-child {
  flex-basis: 20%;
  text-align: justify;
}

.questionnaire-matrix mat-radio-group {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.questionnaire-matrix mat-radio-group > div:first-child {
  text-align: justify;
  flex-basis: 20%;
}

.questionnaire-matrix mat-radio-group > div {
  order: 6;
  text-align: center;
  flex: 1;
}

.questionnaire-matrix mat-radio-group > div p{
  margin: 0;
}

mat-card-content mat-form-field label {
  font-weight: bold;
}

mat-card-content mat-form-field input {
  margin-top: 0.5%;
}

mat-card-content p span.hit-value {
  font-weight: bold;
}

mat-card-content label {
  font-weight: bold;
}

.statement  {
  margin-bottom: 1.5%;
  border: 0;
  box-shadow: 0 0 0 0;
  border-radius: 0;
  background-color: #F0F0F0	;
  position:sticky;
  top:0;
  z-index: 1000;
}

.statement ul {
  list-style: none;
}

.statement ul li {
  padding-top: 1%;
  padding-bottom: 1%;
}

.statement mat-expansion-panel-header {
  margin-bottom: 1.5%;
}

.statement .mat-expansion-panel-header-title {
  display: inline;
  width: 20%;
  flex-grow: 0;
}

.url-field {
  display: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1%;
}

.dimension {
  margin-bottom: 1%;
}

.dimension-container {
  display: flex;
}

.dimension-counter {
  flex-grow: 0;
  flex-basis: 1%;
  justify-content: center;
  align-self: center;
  vertical-align: top;
  margin-right: 1%;
}

.dimension-content{
  flex-grow: 1;
}

.dimension-name {
  margin-bottom: 1%;
}

.dimension-description {
  margin-bottom: 1%;
}

.dimension-description p {
  margin-bottom: 0;
  margin-top: 0.5%;
}

.dimension-scale {
  margin-bottom: 1%;
}

.dimension-url {
  margin-bottom: 1%;
}

.dimension mat-radio-group {
  margin-top: 0;
  margin-bottom: 0;
}

.dimension-matrix .matrix-header .matrix-header-value, .dimension-matrix .matrix-header .matrix-header-text {
  position: relative;
  right: 5px;
  text-align: center;
}

.dimension-matrix mat-radio-group {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dimension-matrix mat-radio-group > div:first-child {
  text-align: justify;
  flex-basis: 25%;
}

.dimension-matrix mat-radio-group > div {
  order: 6;
  text-align: center;
  flex: 1;
}

.dimension-matrix mat-radio-group > div p{
  margin: 0;
}

mat-card-title, .dimension h2, .instructions h2 {
  font-weight: lighter;
}

mat-card-content {
  padding-top: 0.5%;
}

button {
  text-transform: uppercase;
}

.comment-form {
  margin-top: 2%
}

.outcome-section .comment-sent-label {
  text-transform: uppercase;
  padding: 0.5%;
  margin-left: 1%;
  font-weight: bold;
  color: #66bb6a;
}

.result-cell {
  width: 80%;
}

.action-cell {
  width: 20%;
}

.mat-slider {
  width: 100%;
}

/* |--- TOKEN INPUT SECTION STYLES --| */

#token-section {
  margin-bottom: 2%;
}

#token-section form {
  width: 96%;
  margin: auto;
}

#token-section input {
  text-transform: uppercase;
}

#token-section form mat-card-content {
  margin: auto;
  max-width: 45%;
}

#token-section mat-card-actions {
  text-align: center;
}

/* |--- TASK BODY SECTION STYLES --| */

/* Stepper */

mat-horizontal-stepper {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  margin-bottom: 2%;
}

mat-horizontal-stepper mat-card-content, mat-horizontal-stepper mat-card-title, mat-horizontal-stepper mat-card-actions {
  width: 75%;
  margin: auto;
}

mat-step form mat-card-content, mat-step form mat-card-actions {
  padding: 1%;
}

mat-form-field {
  width: 100%;
}

/* |--- OUTCOME SECTION STYLES ---| */

/* |--- General ---| */

.outcome-section {
  margin-bottom: 2%;
}

.outcome-section div {
  margin: auto;
  width: 96%;
}

.outcome-section div mat-card {
  padding-top: 0.01%;
  padding-bottom: 1.5%;
}

.outcome-section div mat-card-content, .outcome-section div mat-card-actions {
  width: 50%;
  margin: auto;
}

.outcome-section mat-card-content {
  width: 75%;
  margin: auto;
}

.outcome-section mat-card-title {
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.outcome-section h2 {
  margin-bottom: 0;
}

.outcome-section h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.outcome-section h6 {
  margin-top: 0;
}

.outcome-section ul {
  list-style-type: none;
}

/* |--- Success section ---| */

.success-title {
  background-color: #66bb6a;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
  margin: auto;
}

#success-section mat-card-content {
  text-align: center;
}

#success-section mat-card-content h2 {
  text-align: justify;
  font-weight: bold;
}

/* |--- Failure section ---| */

#failure-section mat-card-content {
  text-align: center;
}

#failure-section mat-card-content h2 {
  text-align: justify;
  font-weight: bold;
}

.failure-title {
  color: white;
  background-color: #ef5350;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
  margin: auto;
}

#failure-section button {
  margin: auto;
  width: 10%;
  height: 2.3em;
}

/* |--- Retry section ---| */

#retry-section mat-card-content {
  text-align: center;
}

#retry-section mat-card-content h2 {
  text-align: justify;
  font-weight: bold;
}

#retry-section button {
  margin: auto;
  width: 10%;
  height: 2.3em;
}

.retry-title {
  background-color: #ff4081;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
  margin: auto;
}

/* |--- ALREADY STARTED SECTION STYLES ---| */

#already-started-section {
  margin-top: 2%;
}

#already-started-section h2 {
  text-align: justify;
  font-weight: bold;
}
