:host ::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

mat-horizontal-stepper mat-card-content, mat-horizontal-stepper mat-card-title, mat-horizontal-stepper mat-card-actions {
  width: 75% !important;
  margin: auto !important;
}

/* |--- TOKEN INPUT SECTION --| */

#token-section {
  margin-bottom: 2%;

  mat-form-field {
    width: 100%;
    text-align: center;
  }

  mat-card-content {
    margin-bottom: 1%;
  }

}

#token-section form {
  width: 96%;
  margin: auto;
}

#token-section input {
  font-size: 2em;
  text-transform: uppercase;
}

#token-section form mat-card-content {
  margin: auto;
  max-width: 60%;
}

#token-section mat-card-actions {
  text-align: center;
}


/* NOT ALLOWED SECTION */

#already-started-section {
  margin: auto;
  width: 96%;
}


.instructions-section {
  max-width: 80%;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.instructions-section mat-card {
  margin: auto;
}

.instructions-section mat-card-actions {
  text-align: center;
}

.instructions-section mat-card-actions button {
  text-transform: uppercase;
}

.instructions-section h2 {
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-weight: lighter !important;
}