::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

/* Token input section CSS styles */

#token-section {
  margin-bottom: 2%;
}

#token-section form {
  width: 90%;
  margin: auto;
}

#token-section input {
  text-transform: uppercase;
}

#token-section form mat-card-content{
  margin: auto;

  max-width: 45%;
}

#token-section mat-card-actions {
  text-align: center;
}


/* Stepper section CSS styles */

mat-horizontal-stepper {
  background-color:transparent;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 2%;
}

mat-horizontal-stepper mat-card-content, mat-horizontal-stepper mat-card-title, mat-horizontal-stepper mat-card-actions {
  width: 65%;
  margin: auto;
}

mat-step form mat-card-content, mat-step form mat-card-actions {
  padding: 1%;
}

mat-form-field {
  width: 100%;
}

/* Outcome & token output section CSS styles */

.outcome-section {
  margin-bottom: 2%;
}

.outcome-section div {
  margin: auto;
  width: 90%;
}

.outcome-section div mat-card {
  padding-top: 0.01%;
  padding-bottom: 1.5%;
}

.outcome-section div mat-card-content, .outcome-section div mat-card-actions {
  width: 50%;
  margin: auto;
}

.outcome-section mat-card-content{
  width: 65%;
  margin: auto;
}

.success-title {
  background-color: #66bb6a;
  color:white;
  text-align: center;
  text-transform: uppercase;
  width: 65%;
  margin: auto;
}

#success-section mat-card-content {
  text-align: center;
}

#success-section mat-card-content h2 {
  text-align: justify;
  font-weight: bold;
}

#failure-section mat-card-content {
  text-align: center;
}

#failure-section mat-card-content h2 {
  text-align: justify;
  font-weight: bold;
}

.failure-title {
  color:white;
  background-color:#ef5350;
  text-align: center;
  text-transform: uppercase;
  width: 65%;
  margin: auto;
}

#failure-section button {
  margin: auto;
  width: 10%;
  height: 2.3em;
}

#retry-section mat-card-content {
  text-align: center;
}

#retry-section mat-card-content h2 {
  text-align: justify;
  font-weight: bold;
}

#retry-section button {
  margin: auto;
  width: 10%;
  height: 2.3em;
}

.retry-title {
  background-color: #ff4081;
  color:white;
  text-align: center;
  text-transform: uppercase;
  width: 65%;
  margin: auto;
}

#already-started-section {
  margin-top: 2%;
}

#already-started-section h2{
  text-align: justify;
  font-weight: bold;
}

/* Debug section styles */

#debug {
  height: 30%;
  width: 90%;
  margin: auto;
}

#debug span {
  color:rgba(0,0,0,.87);
  font-weight: 500;
  margin-bottom: 1%;
}

#debug mat-tab-group {
  margin: auto;
}

/* General styles */

.radio-button-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

button:nth-child(2) {
  margin-left: 5px;
}

.document-section mat-form-field, .questionnaire-section mat-form-field {
  margin-bottom: 1%;
  max-width: 70%;
}

.form-note {
  margin-left: 1%;
  font-size: 0.75em;
}

/* Task specific styles */

.questionnaire-section mat-card-content mat-radio-group {
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

.questionnaire-section mat-card-content mat-radio-group label{
  font-weight: bold;
  padding-bottom: 0.5%;
}

.questionnaire-section mat-card-content mat-radio-group input {
  margin-top:1%;
}

mat-card-content mat-form-field label{
  font-weight: bold;
}

mat-card-content mat-form-field input{
  margin-top: 0.5%;
}

mat-card-content p span.hit-value {
  font-weight: bold;
}

mat-card-content label {
  font-weight: bold;
}

#url-field {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1%;
}

.mat-card-title {
  font-weight: lighter;
}
mat-card-content {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

button{
  text-transform: uppercase;
}

.comment-form {
  margin-top: 2%
}

.outcome-section .comment-sent-label {
  text-transform: uppercase;
  padding: 0.5%;
  margin-left: 1%;
  font-weight: bold;
  color: #66bb6a;
}

.mat-stepper-horizontal mat-radio-group {
  margin-top: 0;
}

.result-cell {
  width: 80%;
}

.action-cell {
  width: 20%;
}

.mat-slider {
  width: 100%;
}
