<div class="container">

	<!-- gold-check failure banner -->
	<ng-container *ngIf="task.showMessageFailGoldCheck[documentIndex]">
		<div class="task-check-fail-section">
			<mat-card appearance="outlined">
				<mat-card-title class="main-title">
					<div class="red-title"></div>
					<div class="white-title">
						<span i18n>{{ task.documents[documentIndex].params['task_type'] }} Task Failed:</span>
					</div>
				</mat-card-title>

				<mat-card-content class="description">
					<p><span i18n>{{ task.showMessageFailGoldCheck[documentIndex] }}</span></p>
				</mat-card-content>
			</mat-card>
		</div>
	</ng-container>

	<mat-card appearance="outlined">
		<!-- document heading -->
		<mat-card-title>
			<ng-container *ngIf="task.settings.element_labels && utilsService.getValueByKeyIgnoreCase(task.settings.element_labels, document.params['task_type'])">
				{{ utilsService.getValueByKeyIgnoreCase(task.settings.element_labels, document.params['task_type']) }}
				{{ task.getDocumentTypeNumberAccordingToTaskType(document) }}
			</ng-container>

			<ng-container *ngIf="!(task.settings.element_labels && utilsService.getValueByKeyIgnoreCase(task.settings.element_labels, document.params['task_type']))">
				{{ document.params['task_type'] }} <span i18n>Element</span>
				{{ task.getDocumentTypeNumberAccordingToTaskType(document) }}
			</ng-container>
		</mat-card-title>

		<mat-card-content class="pt-16px">

			<!---- countdown block (sticky) -->
			<ng-container *ngIf="task.hasCountdown()">
				<mat-card #countdownCard class="sticky" *ngIf="task.settings.countdownTime >= 0">
					<mat-card-header class="centered">
						<mat-icon class="icon-header material-icons-outlined">timer</mat-icon>
					</mat-card-header>

					<mat-card-content class="card-content">
						<div class="time-left">
							<countdown #countdownElement
									   [config]="{ demand: true,
                                     leftTime: task.documentsCountdownTime[documentIndex],
                                     format: 'mm:ss',
                                     notify: 0 }"
									   (event)="handleCountdown($event)">
							</countdown>
						</div>
						<div class="time-remaining">Time remaining</div>
					</mat-card-content>

					<mat-card-footer class="countdown-footer">
						<mat-progress-bar #countdownProgressBar mode="determinate"></mat-progress-bar>
					</mat-card-footer>
				</mat-card>
			</ng-container>

			<!-- evaluation instructions -->
			<div class="evaluation-instructions-block" *ngIf="task.instructionsEvaluation.instructions.length > 0">
				<ng-container *ngIf="task.instructionsEvaluation.element">
					<h2>
						{{ task.instructionsEvaluation.element.label }} -
						{{ task.instructionsEvaluation.element.caption }}
					</h2>
					<div><p>{{ task.instructionsEvaluation.element.text }}</p></div>
				</ng-container>
				<div>
					<div *ngFor="let instruction of task.instructionsEvaluation.instructions">
						<h2 *ngIf="task.checkCurrentTaskType(document, instruction.task_type)">
							{{ instruction.caption }}
						</h2>
						<div *ngIf="task.checkCurrentTaskType(document, instruction.task_type)">
							<p [innerHTML]="instruction.text"></p>
						</div>
					</div>
				</div>
			</div>

			<!-- main annotation / dimension blocks -->
			<ng-container *ngIf="task.settings.modality === 'pointwise'">
				<ng-container *ngIf="!task.settings.annotator">
					<app-element-pointwise
                        #pointwiseComponent
						[worker]="worker"
						[documentIndex]="documentIndex"
						[postAssessment]="false">
					</app-element-pointwise>
				</ng-container>

				<ng-container *ngIf="task.settings.annotator">
					<app-annotator-laws *ngIf="task.settings.annotator.type === 'laws'" [documentIndex]="documentIndex">
					</app-annotator-laws>

					<app-annotator-options *ngIf="task.settings.annotator.type === 'options'" [documentIndex]="documentIndex">
					</app-annotator-options>
				</ng-container>
			</ng-container>

			<ng-container *ngIf="task.settings.modality === 'pairwise'">
				<app-element-pairwise
						[documentIndex]="documentIndex"
						(formEmitter)="storeAssessmentForm($event)">
				</app-element-pairwise>
			</ng-container>

			<app-dimension
					[worker]="worker"
					[documentIndex]="documentIndex"
					[documentsForm]="documentsForm"
					[searchEngineForms]="searchEngineForms"
					[resultsRetrievedForms]="resultsRetrievedForms"
					(formEmitter)="storeAssessmentForm($event)"
					[postAssessment]="false"
					(assessmentFormValidityEmitter)="handleInitialAssessmentFormInteracted($event)">
			</app-dimension>

			<!-- post-assessment repetitions -->
			<ng-container *ngIf="task.settings.post_assessment">
				<ng-container *ngFor="let attributePost of task.settings.attributesPost; let k = index">
					<app-element-pointwise
                        #pointwiseComponent
						[worker]="worker"
						[documentIndex]="documentIndex"
						[postAssessment]="true"
						[postAssessmentIndex]="k + 1"
						[initialAssessmentFormInteraction]="task.initialAssessmentFormInteraction[documentIndex][k]"
						(followingAssessmentAllowedEmitter)="unlockNextAssessmentRepetition($event)">
					</app-element-pointwise>

					<app-dimension
							[worker]="worker"
							[documentIndex]="documentIndex"
							[documentsForm]="documentsForm"
							[documentsFormsAdditional]="documentsFormsAdditional"
							[searchEngineForms]="searchEngineForms"
							[resultsRetrievedForms]="resultsRetrievedForms"
							(formEmitter)="storeAssessmentForm($event)"
							[postAssessment]="true"
							[postAssessmentIndex]="k + 1"
							[initialAssessmentFormInteraction]="task.initialAssessmentFormInteraction[documentIndex][k]"
							[followingAssessmentAllowed]="task.followingAssessmentAllowed[documentIndex][k]"
							(assessmentFormValidityEmitter)="handleInitialAssessmentFormInteracted($event)">
					</app-dimension>
				</ng-container>
			</ng-container>

			<!-- navigation buttons -->
			<mat-card-actions *ngIf="assessmentForm">
				<button mat-flat-button color="primary"
						*ngIf="documentIndex > 0 && document.params['allow_back'] !== false"
						[disabled]="sectionService.taskCompleted"
						(click)="handleAssessmentCompletion('Back')">
					<span i18n>Back</span>
				</button>

				<button mat-flat-button color="primary"
						*ngIf="documentIndex + 1 < task.documentsAmount ||
                       (documentIndex + 1 >= task.documentsAmount && task.questionnaireAmountEnd > 0)"
						[disabled]="(!checkAssessmentFormValidity() ||
                             !task.searchEngineRetrievedResponses[documentIndex] ||
                             sectionService.taskCompleted ||
                             !task.checkAnnotationConsistency(documentIndex)) ||
                             !checkAdditionalAssessmentFormsValidity()"
						(click)="handleAssessmentCompletion('Next')">
					<span i18n>Next</span>
				</button>

				<button mat-stroked-button color="accent"
						*ngIf="documentIndex + 1 >= task.documentsAmount && task.questionnaireAmountEnd === 0"
						[disabled]="(!checkAssessmentFormValidity() ||
                             !task.searchEngineRetrievedResponses[documentIndex] ||
                             sectionService.taskCompleted ||
                             !task.checkAnnotationConsistency(documentIndex)) ||
                             !checkAdditionalAssessmentFormsValidity()"
						(click)="handleAssessmentCompletion('Finish')">
					<span i18n>Finish</span>
				</button>
			</mat-card-actions>

		</mat-card-content>
	</mat-card>
</div>
