<div class="container">
	<ng-container *ngIf="this.task.showMessageFailGoldCheck[documentIndex]">
		<div class="task-check-fail-section">
			<mat-card appearance="outlined">
				<mat-card-title class="main-title">
					<div class="red-title"></div>
					<div class="white-title">
						<span i18n>{{ this.task.documents[this.documentIndex].params['task_type'] }} Task Failed:</span>
					</div>
				</mat-card-title>

				<mat-card-content class="description">
					<p><span i18n>{{ this.task.showMessageFailGoldCheck[documentIndex] }}</span></p>
				</mat-card-content>
			</mat-card>
		</div>
	</ng-container>

	<mat-card appearance="outlined">
		<mat-card-title>
			<ng-container *ngIf="this.task.settings.element_labels && this.utilsService.getValueByKeyIgnoreCase(this.task.settings.element_labels, this.document.params['task_type'])">
				{{ this.utilsService.getValueByKeyIgnoreCase(this.task.settings.element_labels, this.document.params['task_type']) }} {{ this.task.getDocumentTypeNumberAccordingToTaskType(this.document) }}
			</ng-container>
			<ng-container *ngIf="!(this.task.settings.element_labels && this.utilsService.getValueByKeyIgnoreCase(this.task.settings.element_labels, this.document.params['task_type']))">
				{{ this.document.params['task_type'] }} <span i18n>Element</span> {{ this.task.getDocumentTypeNumberAccordingToTaskType(this.document) }}
			</ng-container>
		</mat-card-title>

		<mat-card-content class="pt-16px">

			<!--- Countdown markup --->
			<ng-container *ngIf="this.task.hasCountdown()">
				<mat-card #countdownCard class="sticky" *ngIf="this.task.settings.countdownTime>=0">
					<mat-card-header class="centered">
					  <mat-icon class="icon-header material-icons-outlined">timer</mat-icon>
					</mat-card-header>
					<mat-card-content class="card-content">
					  <div class="time-left"><countdown #countdownElement [config]="{demand: true, leftTime: this.task.documentsCountdownTime[documentIndex], format: 'mm:ss', notify: 0}" (event)="handleCountdown($event)"></countdown></div>
					  <div class="time-remaining">Time remaining</div>
					</mat-card-content>
					<mat-card-footer class="countdown-footer">
					  <mat-progress-bar #countdownProgressBar
						mode="determinate"
					  ></mat-progress-bar>
					</mat-card-footer>
				</mat-card>
			</ng-container>

			<!-- Evaluation instructions markup -->
			<ng-container *ngIf="this.task.instructionsEvaluation.element" class="evaluation-instructions">
				<h2>{{ this.task.instructionsEvaluation.element.label }} - {{ this.task.instructionsEvaluation.element.caption }}</h2>
				<div><p>{{ this.task.instructionsEvaluation.element.text }}</p></div>
			</ng-container>
			<div *ngIf="this.task.instructionsEvaluation.instructions.length>0" class="evaluation-instructions">
				<div *ngFor="let instruction of this.task.instructionsEvaluation.instructions">
					<h2 *ngIf="this.task.checkCurrentTaskType(this.document, instruction.task_type)">{{ instruction.caption }}</h2>
					<div *ngIf="this.task.checkCurrentTaskType(this.document, instruction.task_type)"><p [innerHTML]="instruction.text"></p></div>
				</div>
			</div>

			<ng-container *ngIf="(this.task.settings.modality=='pointwise')">
				<ng-container *ngIf="!(this.task.settings.annotator)">
					<app-element-pointwise
							#pointwiseComponent
							[worker]="this.worker"
							[documentIndex]="documentIndex"
							[postAssessment]="false"
					></app-element-pointwise>
				</ng-container>
				<ng-container *ngIf="(this.task.settings.annotator)">
					<app-annotator-laws *ngIf="(this.task.settings.annotator.type=='laws')" [documentIndex]="documentIndex"></app-annotator-laws>
					<app-annotator-options *ngIf="(this.task.settings.annotator.type=='options')" [documentIndex]="documentIndex"></app-annotator-options>
				</ng-container>
			</ng-container>

			<ng-container *ngIf="(this.task.settings.modality=='pairwise')">
				<app-element-pairwise [documentIndex]="documentIndex" (formEmitter)="storeAssessmentForm($event)"></app-element-pairwise>
			</ng-container>

			<app-dimension
					[worker]="this.worker"
					[documentIndex]="documentIndex"
					[documentsForm]="this.documentsForm"
					[searchEngineForms]="this.searchEngineForms"
					[resultsRetrievedForms]="this.resultsRetrievedForms"
					(formEmitter)="storeAssessmentForm($event)"
					[postAssessment]="false"
					(assessmentFormValidityEmitter)="handleInitialAssessmentFormInteracted($event)"
			></app-dimension>

			<ng-container *ngIf="this.task.settings.post_assessment">
				<ng-container *ngIf="(this.task.settings.modality=='pointwise')">
					<ng-container *ngFor="let attributePost of this.task.settings.attributesPost; let k=index">
						<app-element-pointwise
								#pointwiseComponent
								[worker]="this.worker"
								[documentIndex]="documentIndex"
								[postAssessment]="true"
								[postAssessmentIndex]="k+1"
								[initialAssessmentFormInteraction]="this.task.initialAssessmentFormInteraction[documentIndex][k]"
								(followingAssessmentAllowedEmitter)="this.unlockNextAssessmentRepetition($event)"
						></app-element-pointwise>
						<app-dimension
								[worker]="this.worker"
								[documentIndex]="documentIndex"
								[documentsForm]="this.documentsForm"
								[documentsFormsAdditional]="this.documentsFormsAdditional"
								[searchEngineForms]="this.searchEngineForms"
								[resultsRetrievedForms]="this.resultsRetrievedForms"
								(formEmitter)="storeAssessmentForm($event)"
								[postAssessment]="true"
								[postAssessmentIndex]="k+1"
								[initialAssessmentFormInteraction]="this.task.initialAssessmentFormInteraction[documentIndex][k]"
								[followingAssessmentAllowed]="this.task.followingAssessmentAllowed[documentIndex][k]"
								(assessmentFormValidityEmitter)="handleInitialAssessmentFormInteracted($event)"
						></app-dimension>
					</ng-container>
				</ng-container>
			</ng-container>

			<ng-container>
				<mat-card-actions *ngIf="this.assessmentForm">
					<button mat-flat-button color="primary"  *ngIf="documentIndex>0 && this.document.params['allow_back'] != false"
							[disabled]="this.sectionService.taskCompleted"
							(click)="handleAssessmentCompletion('Back')">
						<span i18n>Back</span>
					</button>
					<button mat-flat-button color="primary"  *ngIf="documentIndex+1<this.task.documentsAmount || (documentIndex+1>=this.task.documentsAmount && this.task.questionnaireAmountEnd > 0)"
							[disabled]="(!this.checkAssessmentFormValidity() || !this.task.searchEngineRetrievedResponses[documentIndex] || this.sectionService.taskCompleted || !this.task.checkAnnotationConsistency(documentIndex)) || !this.checkAdditionalAssessmentFormsValidity()"
							(click)="handleAssessmentCompletion('Next')">
						<span i18n>Next</span>
					</button>
					<button mat-stroked-button color="accent"
							*ngIf="documentIndex+1>=this.task.documentsAmount && this.task.questionnaireAmountEnd == 0"
							[disabled]="(!this.checkAssessmentFormValidity() || !this.task.searchEngineRetrievedResponses[documentIndex] || this.sectionService.taskCompleted || !this.task.checkAnnotationConsistency(documentIndex)) || !this.checkAdditionalAssessmentFormsValidity()"
							(click)="handleAssessmentCompletion('Finish')">
						<span i18n>Finish</span>
					</button>
				</mat-card-actions>

			</ng-container>

		</mat-card-content>
	</mat-card>
</div>
