<!-- Retry section - shown when the worker does not pass the quality checks but has some tries left -->
<div class="outcome-section">
    <mat-card>
        <mat-card-title class="retry-title" *ngIf="this.taskAllowed && this.taskCompleted && this.taskFailed && !this.taskSuccessful && (this.triesAllowed>0 && this.tryCurrent <= this.triesAllowed)">
            <h3>Failure, but...</h3>
        </mat-card-title>
        <mat-card-title class="failure-title" *ngIf="!taskAllowed || taskAllowed && taskCompleted && taskFailed && !taskSuccessful && (triesAllowed<=0 || (triesAllowed>0 && tryCurrent > triesAllowed))">
            <h4>Failure</h4>
        </mat-card-title>
        <mat-card-title class="success-title" *ngIf="taskAllowed && taskCompleted && !taskFailed && taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
            <h4>Success</h4>
        </mat-card-title>

        <ng-container *ngIf="!taskAllowed">
            <mat-card-content *ngIf="this.messages">
                <h2>You are not allowed to participate to this experiment because:</h2>
                <ul>
                    <li *ngFor="let message of this.messages; let i=index"><p>{{message}}</p></li>
                </ul>
                <h2>If you believe that this is an error, please contact us. Sorry for the inconvenience.</h2>
            </mat-card-content>
            <!-- Otherwise a standard message is shown -->
            <mat-card-content *ngIf="!this.messages">
                <h2>
                    Either you have already started this task without finishing it, or you have already participated to a
                    variant of this experiment.<br/> For this reason, you are not allowed to take a part in this experiment.
                    If you believe that this is an error, please contact us. Sorry for the inconvenience.
                </h2>
            </mat-card-content>
        </ng-container>

        <mat-card-content *ngIf="taskAllowed">

            <h2>
                <span>
                    Your work was not good enough, so you are not allowed to submit this task.
                    As stated in the instructions, some quality checks are performed in this task.
                    You see this message because you have not passed one or more of such checks.
                    Nevertheless, you are allowed to retry this task. To do so, please click on the reset button below.
                    Feel free to leave any comment in the box below.
                </span>
                <span *ngIf="taskAllowed && taskCompleted && taskFailed && !taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
                    Your work was not good enough, so you are not allowed to submit this task.
                    As stated in the instructions, some quality checks are performed in this task.
                    You see this message because you have not passed one or more of such checks.
                    Nevertheless, you are allowed to retry this task. To do so, please click on the reset button below.
                    Feel free to leave any comment in the box below.
                </span>
                <span *ngIf="taskAllowed && taskCompleted && taskFailed && !taskSuccessful && (triesAllowed<=0 || (triesAllowed>0 && tryCurrent > triesAllowed))">
                    Your work was not good enough, so you are not allowed to submit this task.
                    As stated in the instructions, some quality checks are performed in this task.
                    You see this message because you have not passed one or more of such checks.
                    Feel free to leave any comment in the box below.
                </span>
                <span *ngIf="taskAllowed && taskCompleted && !taskFailed && taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
                    Congratulations, you have successfully completed this task. To be paid you now have to copy your output token (shown below)
                    back to the Amazon Mechanical Turk task page. Feel free to leave any comment in the box below to help us improve our research.
                </span>
            </h2>

            <div *ngIf="taskAllowed && taskCompleted && !taskFailed && taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
                <h1>{{tokenOutput}}</h1>
            </div>

            <button mat-flat-button color="primary" (click)="this.performReset.emit(true)">Reset</button>
            <form [formGroup]="commentForm" class="comment-form">
                <mat-form-field appearance="fill">
                    <textarea matInput [disabled]="commentSent" placeholder="Your comment here" formControlName="comment" rows="5"></textarea>
                </mat-form-field>
            </form>
            <button mat-flat-button color="primary" [disabled]="commentSent || !commentForm.valid "
                    (click)="performCommentSaving()"> Send
            </button>
            <span class="comment-sent-label" *ngIf="commentSent">Thank you!</span>
        </mat-card-content>
    </mat-card>
</div>