* {
    box-sizing: border-box;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    left: -1000px;
}
.search-engine {
    border-radius: 5px;
    max-height: 100%;
    overflow: auto;
    width: 45%;
    height: 100%;
    background-color: var(--light);
    margin-left: 5%;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
}

.chat-box {
    position: relative;
    left: 0%;
    border-radius: 5px;
    height: 100%;
    width: 45%;
    margin-right: 3%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
}

.chat-box-hidden {
    display: none;
}

.chat-box-header {
    padding: 10px;
    background-color: var(--primary);
    color: var(--light);
    font-size: larger;
    height: auto;
}

.chat-fixed-message {
    padding: 10px;
    background-color: var(--light);
    color: var(--dark);
    font-size: medium;
    height: auto;
}

#divider {
    width: 100%;
    height: 27px;
    background-color: var(--primary);
}

#statement-title {
    background-color: var(--primary);
    color: var(--light);
    font-weight: 600;
    font-size: large;
    text-align: center;
}
#statement-text {
    padding: 10px;
}
#statement-additional-info {
    background-color: var(--primary);
    color: var(--light);
}
#statement-additional-info .add-info {
    flex-wrap: inherit;
    display: inline-flex;
}
.chat-box-main {
    flex: 1;
    width: 100%;
    background: var(--light);
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.chat-box-footer {
    background-color: var(--light);
    height: auto;
    margin-top: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.operator-name {
    margin: 0;
    padding: 1px;
}

.operator-status {
    float: right;
    padding: 4px;
}

.operator-status span {
    margin-left: 4px;
}

.operator-status-online {
    color: var(--green);
}

.operator-status-offline {
    color: var(--red);
}

.operator-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.chat-message {
    display: block;
    width: auto;
    margin: 5px;
    align-self: flex-start;
    flex-direction: row;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-message-date {
    font-size: 11px;
    color: var(--grey);
    padding: 5px;
}

.chat-message-from-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.chat-message-text {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

/**
Received message style
 */
.chat-message-received {
    margin-right: 50px;
}

.chat-message-received .chat-message-text {
    background: var(--secondary);
    margin-left: 50px;
    border-bottom-left-radius: 0;
}

.chat-message-received .chat-message-text:before {
    position: absolute;
    content: " ";
    left: -10px;
    bottom: 0;
    border-right: solid 10px var(--secondary);
    border-top: solid 10px transparent;
    z-index: 0;
}

.chat-message-received .chat-message-date {
    margin-left: 50px;
}

.chat-message-received .chat-message-from-avatar {
    position: absolute;
    left: 0;
    bottom: -15px;
}

/**
Sent message style
 */
.chat-message-sent {
    align-self: flex-end;
}

.chat-message-sent .chat-message-from {
    float: right;
}

.chat-message-sent .chat-message-text {
    background: var(--tertiary);
    margin-right: 50px;
    border-bottom-right-radius: 0;
}

.chat-message-sent .chat-message-text:after {
    position: absolute;
    content: " ";
    right: -10px;
    bottom: 0;
    border-left: solid 10px var(--tertiary);
    border-top: solid 10px transparent;
    z-index: 0;
}

.chat-message-sent .chat-message-date {
    text-align: right;
    padding-right: 50px;
}

.chat-message-sent .chat-message-from-avatar {
    position: absolute;
    right: 0;
    bottom: -15px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .wrapper {
        top: auto;
        right: 0;
        width: 100%;
    }

    .chat-button {
        display: block;
    }

    .chat-button-header {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* typing animation */
.type {
    margin: 32px;
}

.type span {
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    display: inline-block;
    margin: 1px;
    border-radius: 50%;
}

.type span:nth-child(1) {
    animation: bounce 1s infinite;
}

.type span:nth-child(2) {
    animation: bounce 1s infinite 0.2s;
}

.type span:nth-child(3) {
    animation: bounce 1s infinite 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0px);
    }
}

.dot-to-complete {
    box-sizing: border-box;
    background: var(--grey);
    border: 2px solid var(--light);
    width: 28px;
    height: 28px;
    color: var(--primary);
    text-align: center;
    border-radius: 20px;
}
.dot-in-progress {
    box-sizing: border-box;
    background: var(--light);
    border: 2px solid var(--primary);
    width: 28px;
    height: 28px;
    color: var(--primary);
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
}

.dot-completed {
    box-sizing: border-box;
    background: var(--primary);
    border: 2px solid var(--light);
    width: 28px;
    height: 28px;
    color: var(--light);
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
}

#box-header-2 {
    background-color: var(--light);
    color: var(--light);
    display: inline-block;
    padding: 0.15rem;
    font-weight: 600;
}

.circle {
    position: relative;
    background-color: var(--primary);
    margin: 20px auto;
    width: 10%;
    height: 10%;
    border-radius: 200px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
}

.btn-secondary {
    background-color: var(--tertiary);
    color: var(--dark);
    height: 34px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin: 1%;
    margin-top: 0%;
    width: auto;
    border: solid 2px var(--tertiary);
}

.btn-primary {
    margin-top: 3px;
}

button.btn-user-answer {
    background-color: var(--tertiary);
    color: var(--dark);
    height: 34px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin: 1%;
    margin-top: 0%;
    width: 100%;
    border: solid 2px var(--tertiary);
}

.button-prompt {
    margin-top: -1px;
}

/* |--- CHATBOT SECTIONS ---| */

.chatbot-section {
    max-width: 92%;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    height: 92%;
    display: flex;
}

/* INPUT SECTIONS */

/* COUNTDOWN */

.timer-in-progress {
    color: var(--primary);
    font-weight: 700;
}
.timer-is-over {
    background-color: var(--red) !important;
    color: var(--light);
    font-weight: 700;
}

.hidden {
    display: none !important;
}

/*INPUT CONTAINER*/

#input-box.input-row-active {
    border: solid 3px var(--light);
    background-color: var(--primary);
    border-radius: 10px;
}
#input-box.input-row-inactive {
    border: solid 3px var(--light);
    background-color: var(--grey);
    border-radius: 10px;
}
