<div class="chatbot-section">
    <div class="chat-box">
        <div class="chat-box-header row">
            <div class="col-8 p-1">
                <chat-avatar [image]="operator.avatar"></chat-avatar>
                <div class="operator-name">
                    {{ operator.name }}
                    <button
                        mat-icon-button
                        matTooltip="Show instructions"
                        class="instruction-button"
                        (click)="showInstructions()"
                    >
                        <mat-icon fontIcon="help"></mat-icon>
                    </button>
                </div>
            </div>

            <div class="col-4">
                <div class="operator-status">
                    {{ operator.status }}
                    <span class="operator-status-online">●</span>
                </div>
            </div>
        </div>

        <div class="row stepper-container">
            <div
                *ngFor="let item of task.documents; let i = index"
                class="col-1 ps-0"
            >
                <div class="dot to-complete" [id]="i">{{ i + 1 }}</div>
            </div>
        </div>
        <div *ngIf="!fixedMessage" id="divider"></div>
        <div *ngIf="!!fixedMessage" class="chat-fixed-message row p-0 m-0">
            <div class="col-12 py-1" id="statement-title">Statement</div>
            <div id="statement-text">{{ fixedMessage }}</div>
            <div id="statement-additional-info" class="row py-1 m-0">
                <div
                    class="col-6 ps-0 d-flex add-info"
                    *ngIf="!!statementAuthor"
                >
                    <strong>Speaker:&nbsp;</strong> {{ statementAuthor }}
                </div>
                <div class="col-6 ps-0 d-flex add-info" *ngIf="!!statementDate">
                    <strong>Date:&nbsp;</strong> {{ statementDate }}
                </div>
            </div>
        </div>
        <div class="progress" [ngClass]="{ hidden: !showCountdown }">
            <div
                #progressBar
                [ngClass]="
                    (timerIsOver | async)
                        ? 'timer-is-over'
                        : 'timer-in-progress'
                "
                class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
            >
                <span *ngIf="timerIsOver | async; else timerInProgress">
                    Time is over
                </span>
                <ng-template #timerInProgress>
                    <span> {{ countdownValue | async }}s </span>
                </ng-template>
            </div>
        </div>

        <div class="chat-box-main" #chatbody>
            <ng-container>
                <div #typing class="chat-message-received" style="width: 15%">
                    <div>
                        <chat-avatar
                            [image]="operator.avatar"
                            class="chat-message-from-avatar"
                        ></chat-avatar>
                        <div class="chat-message-text">
                            <div
                                class="type"
                                style="margin: 3px; margin-top: 0px"
                            >
                                <span id="typing-dot"></span>
                                <span id="typing-dot"></span>
                                <span id="typing-dot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="chat-message-date"></div>
                    <div class="chat-message-date"></div>
                </div>
            </ng-container>

            <ng-container *ngFor="let message of messages">
                <div
                    class="chat-message"
                    [class.chat-message-received]="message.type === 'received'"
                    [@fadeIn]
                    [class.chat-message-sent]="message.type === 'sent'"
                >
                    <div>
                        <chat-avatar
                            [image]="message.from.avatar"
                            class="chat-message-from-avatar"
                        ></chat-avatar>
                        <div
                            class="chat-message-text"
                            [innerHTML]="message.text"
                        ></div>
                    </div>
                    <div class="chat-message-date">
                        {{ message.date | date : "short" }}
                    </div>
                </div>
            </ng-container>
        </div>

        <div #inputBox class="chat-box-footer">
            <div
                class="row container d-flex m-1"
                *ngIf="inputComponentToShow == EnInputType.Button"
            >
                <chat-input-button
                    class="col-6 text-center"
                    *ngFor="let item of categoricalInfo"
                    [value]="item.value"
                    [text]="item.label"
                    (send)="sendMessage($event)"
                ></chat-input-button>
            </div>

            <div
                *ngIf="buttonsToShow == enButtonType.YesNo"
                class="row container d-flex justify-content-end pe-2"
            >
                <chat-input-button
                    class="col-6 text-center"
                    value="yes"
                    text="Yes"
                    (send)="sendMessage($event)"
                ></chat-input-button>

                <chat-input-button
                    class="col-6 text-center"
                    value="No"
                    text="No"
                    (send)="sendMessage($event)"
                ></chat-input-button>
            </div>

            <div
                *ngIf="buttonsToShow == enButtonType.Confirm"
                class="row container d-flex justify-content-end pe-2"
            >
                <chat-input-button
                    class="col-6 text-center"
                    value="Confirm"
                    text="Confirm"
                    (send)="sendMessage($event)"
                ></chat-input-button>

                <chat-input-button
                    class="col-6 text-center"
                    value="Modify"
                    text="Modify"
                    (send)="sendMessage($event)"
                ></chat-input-button>
            </div>
        </div>
        <div class="container d-flex row p-0 m-0" id="input-background">
            <div
                id="input-box"
                class="container d-flex row p-0 m-0"
                [ngClass]="readOnly ? 'input-inactive' : 'input-active'"
            >
                <chat-input-url
                    *ngIf="hasDoubleInput && !showMessageInput"
                    class="container"
                    [readValue]="readUrlValue"
                    (updateValue)="updateUrlValue($event)"
                    [urlToRead]="urlInputValue"
                    [readOnly]="readOnly"
                >
                </chat-input-url>

                <chat-input-magnitude
                    class="container"
                    *ngIf="
                        inputComponentToShow == EnInputType.Number &&
                        !showMessageInput
                    "
                    [magnitudeInfo]="magnitudeInfo"
                    (send)="sendMessage($event)"
                    [readOnly]="readOnly"
                ></chat-input-magnitude>
                <chat-input-interval
                    class="container"
                    *ngIf="
                        inputComponentToShow == EnInputType.Slider &&
                        !showMessageInput
                    "
                    [intervalInfo]="intervalInfo"
                    (send)="sendMessage($event)"
                    [readOnly]="readOnly"
                ></chat-input-interval>

                <chat-input-select
                    class="container"
                    *ngIf="
                        inputComponentToShow == EnInputType.Dropdown &&
                        !showMessageInput
                    "
                    [options]="dropdownListOptions"
                    [readOnly]="readOnly"
                    (send)="sendMessage($event)"
                >
                </chat-input-select>

                <chat-input-text
                    class="container"
                    *ngIf="
                        inputComponentToShow == EnInputType.Text ||
                        showMessageInput
                    "
                    (send)="sendMessage($event)"
                    [pholder]="textInputPlaceHolder"
                    [readOnly]="readOnly"
                >
                </chat-input-text>
            </div>
        </div>
    </div>

    <div class="search-engine">
        <app-crowd-xplorer
            [task]="this.task"
            [resetEvent]="resetSearchEngine"
            [disableEvent]="disableSearchEngine"
            (selectedRowEmitter)="getUrl($event)"
            (resultEmitter)="storeSearchEngineRetrievedResponse($event)"
            (queryEmitter)="storeSearchEngineUserQuery($event)"
        ></app-crowd-xplorer>
    </div>
</div>
