/* |--- BUTTON SELECTION AREA  --| */

#selection-grid {
  height: 100%;
}

#selection-grid button {
  text-transform: uppercase;
  min-width: 20%;
  height: 8%;
  font-size: 22px;
}

/* |--- LOGIN SECTION  --| */

.login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.login-section form {
  width: 25%;
}

.login-section mat-form-field {
  width: 100%;
}

.login-section mat-card-content {
  text-align: center;
}

.login-section mat-card-actions {
  align-self: center;
}
