<ngx-ui-loader [loaderId]="'loader'"
               [bgsColor]="'#3f51b5'"
               [fgsColor]="'#3f51b5'"
               [pbColor]="'#3f51b5'"
               [fgsSize]="150"
               [bgsPosition]="'bottom-right'"
               [bgsSize]="80"
               [bgsType]="'ball-spin-clockwise'"
               [text]="'Loading...'"
               [textColor]="'#FFFFFF'"
               [textPosition]="'bottom-center'"
></ngx-ui-loader>
<ngx-ui-loader [loaderId]="'skeleton'"
               [bgsColor]="'#3f51b5'"
               [fgsColor]="'#3f51b5'"
               [pbColor]="'#3f51b5'"
               [fgsSize]="150"
               [bgsPosition]="'bottom-right'"
               [bgsSize]="80"
               [bgsType]="'ball-spin-clockwise'"
               [text]="'Loading...'"
               [textColor]="'#FFFFFF'"
               [textPosition]="'bottom-center'"
></ngx-ui-loader>

<ngx-ui-loader [loaderId]="'generator'"
               [bgsColor]="'#76ff03'"
               [fgsColor]="'#76ff03'"
               [pbColor]="'#76ff03'"
               [fgsSize]="150"
               [bgsPosition]="'bottom-right'"
               [bgsSize]="80"
               [bgsType]="'ball-spin-clockwise'"
               [text]="'Loading...'"
               [textColor]="'#FFFFFF'"
               [textPosition]="'bottom-center'"
></ngx-ui-loader>

<mat-grid-list *ngIf="(this.adminAccess && this.actionChosen == null)" cols="1" rowHeight="fit" id="selection-grid">
  <mat-grid-tile class="green-theme">
    <button id="generate-button" mat-raised-button color="primary" (click)="loadAction('generate')">Generate</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button id="perform-button" mat-raised-button color="primary" (click)="loadAction('perform')">Perform</button>
  </mat-grid-tile>
</mat-grid-list>
<div class="login-section green-theme" *ngIf="(this.adminAccess && this.actionChosen=='generate' && !this.loginSuccessful)">
  <form [formGroup]="loginForm">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>
            Insert your username
          </mat-label>
          <input matInput type="text" placeholder="your_username" formControlName="username">
          <mat-error *ngIf="checkFormControl(loginForm,'username', 'required')">
            This field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Insert your password
          </mat-label>
          <input matInput type="password" placeholder="your_password" formControlName="password">
          <mat-error *ngIf="checkFormControl(loginForm,'password', 'required')">
            This field is required
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="this.loginPerformed && !loginSuccessful">
          Invalid credentials
        </mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button id="start-button" mat-flat-button color="primary" (click)="performAdminCheck()">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<app-generator *ngIf="(this.adminAccess && this.loginSuccessful)"></app-generator>
<app-skeleton *ngIf="(this.adminAccess && this.actionChosen=='perform' ) || (!this.adminAccess)"></app-skeleton>
