<mat-card id="search-engine-body-{{documentIndex}}-{{dimensionIndex}}"
  [ngClass]="task.settings.modality=='conversational' ? 'search-engine-body p-2' : 'search-engine-body'"
  [formGroup]="searchForm">
  @if (this.task.settings.modality=='conversational') {
    <div>
      <h3>Search Engine</h3>
    </div>
  }
  <div class="search-bar">
    <mat-form-field id="search-textarea" appearance="outline">
      <mat-label><span i18n>Insert your query</span></mat-label>
      <input #searchInput matInput type="search" formControlName="query" (change)="this.saveQueryText(searchInput.value)"/>
    </mat-form-field>
    <button mat-flat-button color="primary"
      [ngClass]="task.settings.modality=='conversational' ? 'search-button-conversational' : 'search-button'"
      [disabled]="!query.valid || searchInProgress || (this.task.countdownsExpired[documentIndex] && this.task.settings.countdown_behavior =='disable_forms') || !this.searchButtonEnabled"
      (click)="this.performWebSearch()"
      >
      @if (searchInProgress) {
        <mat-icon fontIcon="hourglass_top"></mat-icon>
      } @else {
        <span i18n>Search</span>
      }
    </button>
  </div>
  @if (this.preRetrievedResults.length<=0) {
    <mat-table [dataSource]="dataSource" class="search-data-source">
      <mat-radio-group formControlName="urls">
        <ng-container matColumnDef="{{ displayedColumns }}">
          <mat-header-cell *matHeaderCellDef i18n>{{ estimatedMatches | number }} estimated matches found</mat-header-cell>
          <mat-cell *matCellDef="let baseResponse; let i = index">
            <p>
              <a target="_blank" rel="noopener noreferrer" href="{{ decodeURI(baseResponse.url) }}" (click)="markAsVisited(baseResponse)">{{ baseResponse.name }}</a>
              <br/>
              <span>{{ decodeURI(baseResponse.url) }}</span>
              <br/>
              <span class="row-snippet">{{ baseResponse.snippet }}</span>
            </p>
            <mat-radio-button labelPosition="before"
              [disabled]="this.task.countdownsExpired[documentIndex] && this.task.settings.countdown_behavior =='disable_forms'"
              (change)="selectBaseResponse(baseResponse)"
              value="{{ baseResponse.url }}">
            </mat-radio-button>
          </mat-cell>
        </ng-container>
      </mat-radio-group>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  }
  @if (this.preRetrievedResults.length>0) {
    <mat-table id="preRetrievedSearchResults" [dataSource]="dataSource" class="search-data-source">
      <mat-radio-group formControlName="urls">
        <ng-container matColumnDef="{{ displayedColumns }}">
          <mat-header-cell *matHeaderCellDef i18n>{{ estimatedMatches | number }} matches found</mat-header-cell>
          <mat-cell *matCellDef="let baseResponse; let i = index">
            <p>
              @if (this.preRetrievedResultsSettings.displayModality==DisplayModality.Link) {
                <a target="_blank" rel="noopener noreferrer" href="{{ decodeURI(baseResponse.url) }}" (click)="markAsVisited(baseResponse)">{{ baseResponse.name }}</a>
              }
              @if (this.preRetrievedResultsSettings.displayModality==DisplayModality.Summary) {
                <a target="_blank" rel="noopener noreferrer" href="{{this.generatePreRetrievedResultSummaryUrl(baseResponse.getParameter('resultUUID'))}}" (click)="markAsVisited(baseResponse)">{{ baseResponse.name }}</a>
              }
              <br/>
              <span class="result-url">{{ decodeURI(baseResponse.url) }}</span>
              <br/>
              <span class="result-snippet">{{ baseResponse.snippet }}</span>
            </p>
            <mat-radio-button labelPosition="before"
              [disabled]="this.task.countdownsExpired[documentIndex] && this.task.settings.countdown_behavior =='disable_forms'"
              (change)="selectBaseResponse(baseResponse)"
              value="{{ baseResponse.url }}">
            </mat-radio-button>
          </mat-cell>
        </ng-container>
      </mat-radio-group>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  }
  <mat-paginator [length]="estimatedMatches" [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
</mat-card>