aiohttp==3.9.5
boto3==1.34.143
botocore==1.34.143
chardet==5.2.0
datefinder==0.7.3
docker==7.1.0
ipinfo==4.4.2
mako==1.3.5
numpy==1.26.4
pandas==2.2.2
pycountry==24.6.1
python-dotenv==1.0.1
python_dateutil==2.9.0
python_on_whales==0.71.0
pytz==2024.1
requests==2.32.3
rich==13.7.1
setuptools==70.3.0
toloka-kit==1.2.3
tqdm==4.66.4
xlf-merge==0.1.6
