<ngx-ui-loader></ngx-ui-loader>

<div id="token-section" class="container">
  <form [formGroup]="tokenForm">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>
            Insert your input token
          </mat-label>
          <input matInput type="text" placeholder="your_mturk_token" formControlName="tokenInput">
          <mat-error *ngIf="checkFormControl(tokenForm,'tokenInput', 'required')">
            This field is required
          </mat-error>
          <mat-error *ngIf="checkFormControl(tokenForm,'tokenInput', 'invalid')">
            {{formControlErrorMessage(tokenForm, 'tokenInput', 'invalid')}}
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="!tokenInput.valid" (click)="performCheckAndLoad()">Start</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>

<mat-horizontal-stepper #stepper *ngIf="taskStarted">
  <mat-step [stepControl]="hitForm">
    <div class="container">
      <form [formGroup]="hitForm">
        <ng-template matStepLabel>Questionnaire</ng-template>
        <mat-card>
          <mat-card-content>
            <mat-radio-group aria-labelledby="radio-button-label" class="radio-button-group" formControlName="age">
              <label>How old are you?</label>
              <mat-radio-button class="radio-button" value="1">0-10</mat-radio-button>
              <mat-radio-button class="radio-button" value="2">11-20</mat-radio-button>
              <mat-radio-button class="radio-button" value="3">20+</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
              <input matInput type="text" placeholder="Profession" formControlName="profession" class="hit-input">
              <mat-error *ngIf="checkFormControl(hitForm,'profession', 'required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="checkFormControl(hitForm,'profession', 'minlength')">
                {{formControlErrorMessage(hitForm, 'profession', 'minlength')}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Tell us something about yourself" rows="5" cols="5" formControlName="about"
              ></textarea>
              <mat-error *ngIf="checkFormControl(hitForm,'about', 'required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="checkFormControl(hitForm,'about', 'minlength')">
                {{formControlErrorMessage(hitForm, 'about', 'minlength')}}
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" matStepperNext [disabled]="(!age.valid || !profession.valid || !about.valid) || taskCompleted"  (click)="performLogging()">
              Next
            </button>
            <span class="form-note">(*) you have to fill each field to proceed</span>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </mat-step>

  <mat-step *ngFor="let document of documents; let i=index">
    <div class="container">
      <form [formGroup]="hitForm">
        <ng-template matStepLabel> Document {{i + 1}}</ng-template>
        <mat-card>
          <mat-card-title>{{document.title}}</mat-card-title>
          <mat-card-content>
            <p>{{document.text}}</p>
            <mat-form-field>
              <textarea matInput placeholder="Tell us your opinion" rows="5" cols="5" [formControl]="opinions.controls[i]"></textarea>
              <mat-error *ngIf="checkFormArray(hitForm, 'opinions', 'required', i)">
                {{forArrayErrorMessage(hitForm, 'opinions', 'required', i)}}
              </mat-error>
              <mat-error *ngIf="checkFormArray(hitForm, 'opinions', 'minlength', i)">
                {{forArrayErrorMessage(hitForm, 'opinions', 'minlength', i)}}
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" matStepperPrevious [disabled]="taskCompleted">Back</button>
            <button mat-flat-button color="primary" matStepperNext [disabled]="!opinions.controls[i].valid || taskCompleted" *ngIf="i+1<this.hit.documents_number" (click)="performLogging()">
              Next
            </button>
            <button mat-flat-button color="primary" matStepperNext [disabled]="!hitForm.valid || taskCompleted" (click)="performLogging(); performFinalCheck()" *ngIf="i+1>=this.hit.documents_number">
              Finish
            </button>
            <span class="form-note">(*) you have to fill each field to proceed</span>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<div id="success-section" class="outcome-section container" *ngIf="taskCompleted && taskSuccessful">
  <div>
    <mat-card>
      <mat-card-title class="success-title">
        <h4>Success</h4>
      </mat-card-title>
      <mat-card-content>
        <p>Copy your output token on Amazon Mechanical Turk</p> <strong>{{tokenOutput}}</strong>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div id="failure-section" class="outcome-section container" *ngIf="taskCompleted && taskFailed && amountTry <= 0">
  <div>
    <mat-card>
      <mat-card-title class="failure-title">
        <h4>Failure</h4>
      </mat-card-title>
      <mat-card-content>
        <p>Your work was not good enough</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div id="retry-section" class="outcome-section container" *ngIf="taskCompleted && taskFailed && amountTry>0">
  <div>
    <mat-card>
      <mat-card-title class="retry-title">
        <h4>Failure, but...</h4>
      </mat-card-title>
      <mat-card-content>
        <p>You are allowed to try again</p>
        <button mat-raised-button color="primary" (click)="performReset()">Reset</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div id="debug" *ngIf="configService.environment.debug">
  <span>Debug</span>
  <mat-tab-group>
    <mat-tab label="Token Input">
      <mat-list>
        <mat-list-item> Token Input | {{((tokenInput.value.length > 0) ? tokenInput.value : "#{value}")}}
          | {{((tokenInput.valid) ? "Valid" : "Not Valid")}} </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Questionnaire">
      <mat-list>
        <mat-list-item> Age | {{((age.value) ? age.value : "#{value}")}}
          | {{((age.valid) ? "Valid" : "Not Valid")}} </mat-list-item>
        <mat-list-item> Profession | {{((profession.value.length > 0) ? profession.value : "#{value}")}}
          | {{((profession.valid) ? "Valid" : "Not Valid")}} </mat-list-item>
        <mat-list-item> About | {{((about.value.length > 0) ? about.value : "#{value}")}}
          | {{((about.valid) ? "Valid" : "Not Valid")}} </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Document {{i+1}}" *ngFor="let document of documents; let i=index">
      <mat-list>
        <mat-list-item> Opinion
          | {{((opinions.controls[i].value.length > 0) ? (opinions.controls[i].value) : "#{value}")}}
          | {{((opinions.controls[i].valid) ? "Valid" : "Not Valid")}}</mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
