/* Token input section CSS styles */

#token-section {
  padding-top: 2%;
  margin-bottom: 2%;
}

#token-section form {
  width: 83%;
  margin: auto;
}

#token-section .mat-form-field {
  width: 65%;
}

#token-section button {
  width: 34%;
  height: 2.3em;
}

#token-section form mat-card-content{
  min-width: 50%;
  width: 50%;
  margin: auto;
}

#token-section mat-card-actions {
  text-align: center;
}

#token-section mat-card-actions button{
  width: 100%;
}

/* Stepper section CSS styles */

mat-horizontal-stepper {
  background-color:transparent;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
  margin-bottom: 2%;
}

mat-step form mat-card-content, mat-step form mat-card-actions {
  padding: 1%;
}

mat-form-field {
  width: 100%;
}

/* Outcome & token output section CSS styles */

.outcome-section {
  margin-bottom: 2%;
}

.outcome-section div {
  margin: auto;
  width: 83%;
}

.outcome-section div mat-card {
  padding-top: 0.01%;
  padding-bottom: 1.5%;
}

.outcome-section div mat-card-content, .outcome-section div mat-card-actions {
  width: 50%;
  margin: auto;
}

.success-title {
  background-color: #66bb6a;
  color:white;
  text-align: center;
  text-transform: uppercase;
}

#success-section mat-card-content p {
  width: 65%;
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
}

#success-section mat-card-content span{
  padding-left: 2%;
}

#failure-section p {
  font-weight: bold;
  text-align: center;
}

.failure-title {
  color:white;
  background-color:#ef5350;
  text-align: center;
  text-transform: uppercase;
}

#retry-section mat-card-content p {
  width: 65%;
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
  font-weight: bold;
}

#retry-section button {
  margin-left: 0;
  width: 34%;
  height: 2.3em;
}

.retry-title {
  background-color: #3f51b5;
  color:white;
  text-align: center;
  text-transform: uppercase;
}

/* Debug section styles */

#debug {
  height: 30%;
  width: 83%;
  margin: auto;
}

#debug span {
  color:rgba(0,0,0,.87);
  font-weight: 500;
  margin-bottom: 1%;
}
#debug mat-tab-group {
  margin: auto;
}

/* General styles */

.radio-button-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

button:nth-child(2) {
  margin-left: 5px;
}

mat-form-field {
  margin-bottom: 1%;
}
