.annotations {
  margin-bottom: 1%;
}

.annotations table {
  width: 100%;
  text-align: center;
}

.annotations tr td:first-child {
  text-align: left;
}

.annotations tr {
  display: flex;
}

.annotations th {
  text-align: center;
  vertical-align: middle;
  font-size: large;
  border: 0;
  flex-grow: 1;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

.annotations td {
  border: 0;
  flex: 1 1 0px;
  padding: 1%;
}

.note-not-highlighted {
  text-align: center;
}

.annotation-buttons {
  text-align: center;
  margin-bottom: 1%;
}

.annotation-buttons button {
  color: black;
}

.visibility-off-icon{
  color: grey;
}