.annotations {
  margin-bottom: 1%;
}

.annotations table {
  width: 100%;
  text-align: center;
}

.annotations tr td:first-child {
  text-align: left;
}

.annotations tr {
  display: flex;
}

.annotations th {
  text-align: center;
  vertical-align: middle;
  font-size: large;
  border: 0;
  flex-grow: 1;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

.annotations td {
  border: 0;
  flex: 1 1 0px;
  padding: 1%;
}

.note-not-highlighted {
  text-align: center;
}

.annotation-buttons {
  text-align: center;
  margin-bottom: 1%;
}

.annotation-buttons button {
  color: black;
}

.hidden-statement-card {
	background: repeating-linear-gradient(45deg, #f0f0f0, #f0f0f0 10px, #ffffff 10px, #ffffff 20px);
	padding: 50px;
}
  
.hidden-statement-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 25px;
}
  
.hidden-statement-icon {
	color: #3b3b3b;
	transform: scale(2.3);
}

.hidden-statement-message {
	color: #3b3b3b;
	font-weight: 500;
	font-size: 18px;
}
  