<form [formGroup]="formStep">

  <!-- Header -->

  <mat-card appearance="outlined" [class.mat-elevation-z3]="true">
    <mat-card-header>
      <mat-card-title><span i18n>Step #5: Search Engine Configuration</span></mat-card-title>
      <mat-card-subtitle><span i18n>Fifth, define the Search Engine Configuration here</span></mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <!-- Source -->
      <table class="width-100 mt-8px">
        <tr>
          <td class="p-0">
            <mat-form-field matLine class="width-100" appearance="fill">
              <mat-label><span i18n>Source</span></mat-label>
              <mat-select matInput formControlName="source" [value]="this.dataStored.source">
                @for (sourceType of sourceTypes; track sourceType) {
                  <mat-option [value]="sourceType.value">
                    {{sourceType.viewValue}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-divider [inset]="true"></mat-divider>

      <!-- Domains To Filter -->
      @if (formStep.get('source').value) {
        <div formArrayName="domains_filter">
          <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addDomain()">
            <span i18n>Add Domain To Filter</span>
          </button>
          @for (domain of domains().controls; track domain; let domainIndex = $index) {
            <div [formGroupName]="domainIndex">
              <table class="width-100">
                <tr>
                  <td class="p-0 pr-16px">
                    <mat-form-field matLine class="width-100" appearance="fill">
                      <mat-label><span i18n>Domain</span></mat-label>
                      <input matInput type="text" formControlName="url">
                      <app-error-message [formField]="domain.get('url')"></app-error-message>
                    </mat-form-field>
                  </td>
                  <td class="p-0 center">
                    <button mat-flat-button color="primary" class="mb-16px" (click)="removeDomain(domainIndex)">
                      <span i18n>Remove Domain</span>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          }
        </div>
      }

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-flat-button color="primary" matStepperPrevious><span i18n>Back</span></button>
      <button mat-flat-button color="primary" matStepperNext><span i18n>Next</span></button>
    </mat-card-actions>

  </mat-card>
</form>