<div
    class="row"
    [ngClass]="readOnly ? 'input-row-inactive' : 'input-row-active'"
>
    <div class="col-10 chat-input-text d-flex align-items-center">
        <input
            #message
            class="p-2"
            type="number"
            placeholder="Enter a number..."
            (keydown.enter)="onSubmit()"
        />
    </div>
    <div class="col-2">
        <button
            mat-mini-fab
            type="submit"
            class="chat-input-button"
            [disabled]="readOnly"
            [ngClass]="readOnly ? 'inactive' : 'active'"
            (click)="onSubmit()"
        >
            <!-- {{ buttonText }} -->
            <mat-icon
                aria-hidden="false"
                aria-label="Send message"
                fontIcon="send"
                >send</mat-icon
            >
        </button>
    </div>
</div>
