.search-engine {
  margin-top: 3em;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.evaluation-instructions {
  h2 {
    font-weight: normal;
  }
  margin-bottom: 1%;
}

.url-field {
  display: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1%;
}