<div class="container">
    <form [formGroup]="questionnaireForm">

        <mat-card>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-title *ngIf="questionnaire.type=='standard'">Please answer the following questions</mat-card-title>
            <mat-card-title *ngIf="questionnaire.type=='crt'">Please answer the following question</mat-card-title>
            <mat-card-title *ngIf="questionnaire.type=='likert'">Please assess the following questions</mat-card-title>
            <mat-divider [inset]="true"></mat-divider>

            <!-- Standard questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='standard' && this.questionnaireForm">
                <div class="questionnaire-description">
                    <p *ngIf="questionnaire.description">{{questionnaire.description}}</p>
                </div>
                <ng-container *ngFor="let question of this.questionnaire.questions; let j=index">
                    <app-question
                            [index]="(j+1).toString()"
                            [question]="question"
                            [questionForm]="questionnaireForm">
                    </app-question>
                    <ng-container *ngFor="let questionSub of question.questions; let k=index">
                        <div class="indent-1">
                            <app-question
                                    [index]="(j+1).toString().concat('.').concat((k+1).toString())"
                                    [question]="questionSub"
                                    [questionForm]="questionnaireForm">
                            </app-question>
                            <ng-container *ngFor="let questionSubSub of questionSub.questions; let l=index">
                                <div class="indent-2">
                                    <app-question
                                            [index]="(j+1).toString().concat('.').concat((k+1).toString()).concat('.').concat((l+1).toString())"
                                            [question]="questionSubSub"
                                            [questionForm]="questionnaireForm">
                                    </app-question>
                                    <ng-container *ngFor="let questionSubSubSub of questionSubSub.questions; let m=index">
                                        <div class="indent-3">
                                            <app-question
                                                    [index]="(j+1).toString().concat('.').concat((k+1).toString()).concat('.').concat((l+1).toString()).concat('.').concat((m+1).toString())"
                                                    [question]="questionSubSubSub"
                                                    [questionForm]="questionnaireForm">
                                            </app-question>
                                            <ng-container *ngFor="let questionSubSubSubSub of questionSubSubSub.questions; let n=index">
                                                <div class="indent-4">
                                                    <app-question
                                                            [index]="(j+1).toString().concat('.').concat((k+1).toString()).concat('.').concat((l+1).toString()).concat('.').concat((m+1).toString()).concat('.').concat((n+1).toString())"
                                                            [question]="questionSubSubSubSub"
                                                            [questionForm]="questionnaireForm">
                                                    </app-question>
                                                    <ng-container *ngFor="let questionSubSubSubSubSub of questionSubSubSubSub.questions; let o=index">
                                                        <div class="indent-5">
                                                            <app-question
                                                                    [index]="(j+1).toString().concat('.').concat((k+1).toString()).concat('.').concat((l+1).toString()).concat('.').concat((m+1).toString()).concat('.').concat((n+1).toString()).concat('.').concat((o+1).toString())"
                                                                    [question]="questionSubSubSubSubSub"
                                                                    [questionForm]="questionnaireForm">
                                                            </app-question>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </mat-card-content>

            <!-- CRT questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='crt'">
                <div *ngFor="let question of questionnaire.questions; let j=index" class="question-box">
                    <p class="question-text">{{question.text}}</p>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-form-field appearance="fill" class="questionnaire-crt-value">
                        <mat-label>Answer</mat-label>
                        <input matInput type="number" placeholder="0" min="0" formControlName="{{question.name}}">
                        <mat-error *ngIf="checkFormControl(questionnaireForm,question.name, 'required')">
                            This field is required
                        </mat-error>
                        <mat-error *ngIf="checkFormControl(questionnaireForm,question.name, 'min')">
                            Min value allowed: 0
                        </mat-error>
                        <mat-error *ngIf="checkFormControl(questionnaireForm,question.name, 'max')">
                            Max value allowed: 100
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>

            <!-- Likert questionnaire markup -->
            <mat-card-content *ngIf="questionnaire.type=='likert'" class="questionnaire-matrix">
                <p *ngIf="questionnaire.description">{{questionnaire.description}}</p>
                <mat-divider *ngIf="questionnaire.description" [inset]="true"></mat-divider>
                <div class="matrix-header">
                    <div></div>
                    <div *ngFor="let mapping of questionnaire.mappings; let k=index">
                        <span class="matrix-header-text">{{mapping.label}}</span>
                    </div>
                </div>
                <mat-radio-group aria-labelledby="radio-button-label" *ngFor="let question of questionnaire.questions; let m=index" formControlName="{{question.name}}_answer">
                    <div>
                        <p class="question-text">{{m + 1}} - {{question.text}}</p>
                    </div>
                    <div *ngFor="let mapping of questionnaire.mappings">
                        <mat-radio-button class="radio-button" value="{{mapping.value}}"></mat-radio-button>
                    </div>
                </mat-radio-group>
            </mat-card-content>

            <!-- Next button markup -->
            <mat-card-actions>
                <p class="form-note">
                    <button mat-flat-button color="primary" matStepperPrevious
                            *ngIf="step>0 && position=='end' || this.questionnaire.allow_back"
                            [disabled]="!questionnaireForm.valid ||this.taskCompleted"
                            (click)="emitQuestionnaireFilled('Back',step)">
                        Back
                    </button>
                    <button mat-flat-button color="primary" matStepperNext
                            *ngIf="(step+1 <= this.questionnaireAmountStart && this.questionnaireAmountEnd>=0  && this.documentsAmount > 0) && position=='start'"
                            [disabled]="!questionnaireForm.valid || this.taskCompleted"
                            (click)="emitQuestionnaireFilled('Next',step)">
                        Next
                    </button>
                    <button mat-flat-button color="primary" matStepperNext
                            *ngIf="(step+1 >= this.questionnaireAmountStart && this.questionnaireAmountEnd <= 0 && this.documentsAmount<=0) && position=='start'"
                            [disabled]="!questionnaireForm.valid || this.taskCompleted"
                            (click)="emitQuestionnaireFilled('Finish',step)">
                        Finish
                    </button>
                    <button mat-flat-button color="primary" matStepperNext
                            *ngIf="step+1 >= this.questionnaireAmountStart + this.documentsAmount && step+1 < (this.questionnaireAmountStart + this.documentsAmount + this.questionnaireAmountEnd) -1  && position=='end'"
                            [disabled]="!questionnaireForm.valid || this.taskCompleted"
                            (click)="emitQuestionnaireFilled('Next',step)">
                        Next
                    </button>
                    <button mat-flat-button color="primary" matStepperNext
                            *ngIf="step+1 >= (this.questionnaireAmountStart + this.documentsAmount + this.questionnaireAmountEnd) - 1  && position=='end'"
                            [disabled]="!questionnaireForm.valid || this.taskCompleted"
                            (click)="emitQuestionnaireFilled('Finish',step)">
                        Finish
                    </button>
                    (*) you have to fill each field to proceed
                </p>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
