<!-- Retry section - shown when the worker does not pass the quality checks but has some tries left -->
<div class="outcome-section">
    <mat-card>
        <mat-card-title class="retry-title" *ngIf="this.sectionService.taskAllowed && this.sectionService.taskCompleted && this.sectionService.taskFailed && !this.sectionService.taskSuccessful && (this.triesAllowed>0 && this.tryCurrent <= this.triesAllowed)">
            <h3>Failure, but...</h3>
        </mat-card-title>
        <mat-card-title class="failure-title" *ngIf="!this.sectionService.taskAllowed && !this.sectionService.taskOverbooking && !this.sectionService.taskAlreadyCompleted || this.sectionService.taskAllowed && this.sectionService.taskCompleted && this.sectionService.taskFailed && !this.sectionService.taskSuccessful && (triesAllowed<=0 || (triesAllowed>0 && tryCurrent > triesAllowed))">
            <h4>Failure</h4>
        </mat-card-title>
        <mat-card-title class="overbooking-title" *ngIf="!this.sectionService.taskAllowed && this.sectionService.taskOverbooking || this.sectionService.taskAllowed && this.sectionService.taskCompleted && this.sectionService.taskFailed && !this.sectionService.taskSuccessful && (triesAllowed<=0 || (triesAllowed>0 && tryCurrent > triesAllowed))">
            <h4>Overbooking</h4>
        </mat-card-title>
        <mat-card-title class="warning-title" *ngIf="!this.sectionService.taskAllowed && this.sectionService.taskAlreadyCompleted || this.sectionService.taskAllowed && this.sectionService.taskCompleted && this.sectionService.taskFailed && !this.sectionService.taskSuccessful && (triesAllowed<=0 || (triesAllowed>0 && tryCurrent > triesAllowed))">
            <h4>Warning</h4>
        </mat-card-title>
        <mat-card-title class="success-title" *ngIf="this.sectionService.taskAllowed && this.sectionService.taskCompleted && !this.sectionService.taskFailed && this.sectionService.taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
            <h4>Success</h4>
        </mat-card-title>

        <ng-container *ngIf="!this.sectionService.taskAllowed && !this.sectionService.taskOverbooking && !this.sectionService.taskAlreadyCompleted">
            <mat-card-content *ngIf="this.messages" id="not-allowed-section">
                <h2>Something went wrong...</h2>
                <p class="text-desc">Please, read the list of possible reasons below. Sorry for the inconvenience.</p>
                <p class="text-desc-small" *ngFor="let message of this.messages; let i=index">{{(i + 1)}}) {{message}}</p>
                <p class="text-desc">Contact us and explain us carefully your situation, if you want.</p>
            </mat-card-content>
            <!-- Otherwise a standard message is shown -->
            <mat-card-content *ngIf="!this.messages">
                <h2>>Something went wrong...</h2>
                <p class="text-desc">
                    Contact us and explain us carefully your situation, if you want.
                </p>
            </mat-card-content>
        </ng-container>
        <ng-container *ngIf="!this.sectionService.taskAllowed && this.sectionService.taskOverbooking">
            <mat-card-content>
                <h2>Every HIT of the current task has already been assigned to a worker.</h2>
                <p class="text-desc">
                    If you reached this point, you have been recruited wrongly. Please, return your HIT. Sorry for the inconvenience.
                </p>
            </mat-card-content>
        </ng-container>

        <ng-container *ngIf="!this.sectionService.taskAllowed && this.sectionService.taskAlreadyCompleted">
            <mat-card-content>
                <h2>You have already submitted successfully your HIT.</h2>
                <p class="text-desc">
                    You will be paid soon.
                </p>
            </mat-card-content>
        </ng-container>

        <mat-card-content *ngIf="this.sectionService.taskAllowed">

            <p *ngIf="this.sectionService.taskAllowed && this.sectionService.taskCompleted && this.sectionService.taskFailed && !this.sectionService.taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)" class="text-desc">
                Your work was not good enough, so you are not allowed to submit this task.
                As stated in the instructions, some quality checks are performed in this task.
                You see this message because you have not passed one or more of such checks.
                Nevertheless, you are allowed to retry this task. To do so, please click on the reset button below.
            </p>
            <p *ngIf="this.sectionService.taskAllowed && this.sectionService.taskCompleted && this.sectionService.taskFailed && !this.sectionService.taskSuccessful && (triesAllowed<=0 || (triesAllowed>0 && tryCurrent > triesAllowed))" class="text-desc">
                Your work was not good enough, so you are not allowed to submit this task.
                As stated in the instructions, some quality checks are performed in this task.
                You see this message because you have not passed one or more of such checks.
            </p>

            <ng-container *ngIf="this.platform=='mturk' && this.sectionService.taskAllowed && this.sectionService.taskCompleted && !this.sectionService.taskFailed && this.sectionService.taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
                <p class="text-desc">
                    Congratulations, you have successfully completed this task. To be paid you now have to copy your output token (shown below)
                    back to the Amazon Mechanical Turk task page.
                </p>
                <div>
                    <h1>{{tokenOutput}}</h1>
                </div>
            </ng-container>

            <ng-container *ngIf="this.platform=='prolific' && this.completionCode && this.sectionService.taskAllowed && this.sectionService.taskCompleted && !this.sectionService.taskFailed && this.sectionService.taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
                <p class="text-desc">
                    Congratulations, you have successfully completed this task. To be paid you just have to click the completion button (shown below).
                </p>
                <div>
                    <button mat-flat-button color="primary" id="button-completion" (click)="completeTask()">Complete</button>
                </div>
            </ng-container>

            <ng-container *ngIf="this.platform=='toloka' && this.sectionService.taskAllowed && this.sectionService.taskCompleted && !this.sectionService.taskFailed && this.sectionService.taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
                <p class="text-desc">
                    Congratulations, you have successfully completed this task. To be paid you now have to copy your token (shown below) back to the Toloka task page.
                </p>
                <div>
                    <h1>{{this.tokenOutput}}</h1>
                </div>
            </ng-container>

            <div *ngIf="this.sectionService.taskAllowed && this.sectionService.taskCompleted && this.sectionService.taskFailed && !this.sectionService.taskSuccessful && (triesAllowed>0 && tryCurrent <= triesAllowed)">
                <button mat-raised-button color="primary" (click)="this.performReset.emit(true)">Reset</button>
            </div>

            <mat-divider [inset]="true"></mat-divider>

            <div class="comment-box">
                <p class="text-desc">Feel free to leave any comment in the box below to help us improve our research.</p>
                <form [formGroup]="commentForm" class="comment-form">
                    <mat-form-field appearance="fill">
                        <textarea matInput [disabled]="commentSent" placeholder="Your comment here" formControlName="comment" rows="5"></textarea>
                    </mat-form-field>
                </form>
                <button id="comment-button" mat-flat-button color="primary" [disabled]="commentSent || !commentForm.valid "
                        (click)="performCommentSaving()"> Send
                </button>
                <span class="comment-sent-label" *ngIf="commentSent">Thank you!</span>
            </div>

        </mat-card-content>
    </mat-card>
</div>