::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

mat-card-title {
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  margin-bottom: 0.5% !important;
  margin-top: 0.5% !important;
  font-weight: initial !important;
}

mat-checkbox {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 1.2em;
}

mat-card-actions {
  margin: auto auto auto;
  width: 75%;
}

.questionnaire-standard {
  margin-bottom: 1% !important;
}

.question-number ::ng-deep .mat-form-field-infix {
  border: 0 !important;
}

/* Questionnaires form */

mat-form-field {
  width: 100%;
}

.question-text  {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0 0 10px;
}

.questionnaire-description {
  font-size: 1.4em;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 1%;
}

.question-free-text-tall {
  margin-top: 5px;
}

.mat-divider {
  margin-bottom: 1%;
}

.question label {
  font-weight: bold;
}

.question-mcq span {
  font-size: 1.2em;
}

.questionnaire-value {
  font-size: 1.2em;
}

::ng-deep .question-checkbox-field .mat-form-field-infix {
  display: none;
}

::ng-deep .question-checkbox-field .mat-form-field-flex {
  display: none;
}

::ng-deep .question-checkbox-field .mat-form-field-underline {
  display: none;
}

::ng-deep .question-checkbox-field .mat-form-field-wrapper {
  padding: 0;
}

.question .question-detail {
  box-shadow: none;
}

.question-detail mat-panel-title {
  text-transform: uppercase;
  flex-grow: 0;
}

.question-detail mat-panel-description {
  font-weight: normal;
  text-align: left;
}

.question-detail mat-expansion-panel-header, .question-detail mat-expansion-panel {
  padding-left: 0.75%;
}

.questionnaire-matrix {
  margin-top: 2%;
}

.questionnaire-matrix .matrix-header {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border: 0;
  box-shadow: 0 0 0 0;
  border-radius: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1000;
  display: flex;
  vertical-align: middle;
}

.questionnaire-matrix .matrix-header-text {
  font-size: 1.2em;
  font-weight: normal;
}

.questionnaire-matrix .matrix-header div {
  text-align: center;
  flex: 1 0;
}

.questionnaire-matrix .matrix-header > div:first-child {
  flex-basis: 20%;
}

.questionnaire-matrix mat-radio-group {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.questionnaire-matrix mat-radio-group > div:first-child {
  text-align: left;
  flex-basis: 20%;
}

.questionnaire-matrix mat-radio-group > div {
  order: 6;
  text-align: center;
  flex: 1;
}

.questionnaire-matrix mat-radio-group > div p {
  margin: 0;
}

.indent {
  margin-left: 2%;
  margin-top: 1%;
}