<ng-container [formGroup]="questionForm" class="questionnaire-body">

    <p class="question-text">{{index}} - {{question.text}}</p>
    <mat-divider [inset]="true"></mat-divider>

    <div *ngIf="question.type=='mcq'" class="question-box">
        <mat-radio-group aria-labelledby="radio-button-label" class="radio-button-group question" formControlName="{{question.nameFull}}_answer">
            <mat-radio-button *ngFor="let answer of question.answers; let k=index" class="radio-button" value="{{k}}">{{answer}}</mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="question.type=='number'" class="question-box">
        <input matInput type="number" placeholder="0" min="0" formControlName="{{question.nameFull}}_answer" class="questionnaire-value">
        <mat-error *ngIf="checkFormControl(questionForm,question.nameFull.concat('_answer'), 'required') && question.required">
            This field is required
        </mat-error>
        <mat-error *ngIf="checkFormControl(questionForm,question.nameFull.concat('_answer'), 'min') && question.required">
            Min value allowed: 0
        </mat-error>
        <mat-error *ngIf="checkFormControl(questionForm,question.nameFull.concat('_answer'), 'max') && question.required">
            Max value allowed: 100
        </mat-error>
    </div>

    <div *ngIf="question.type=='list'" class="question-box">
        <div *ngFor="let answer of question.answers; let k=index">
            <mat-checkbox formControlName="{{question.nameFull}}_answer">
                {{answer}}
            </mat-checkbox>
        </div>
        <mat-error *ngIf="checkFormControl(questionForm,question.nameFull.concat('_answer'), 'required') && question.required">
            This field is required
        </mat-error>
    </div>

    <div *ngIf="question.type=='dropdown'" class="question-box">
        <mat-form-field appearance="fill">
            <mat-label>Value</mat-label>
            <mat-select formControlName="{{question.nameFull}}_answer">
                <mat-option *ngFor="let answer of question.answers" [value]="answer">
                    {{answer}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="checkFormControl(questionForm,question.nameFull.concat('_answer'), 'required') && question.required">
            This field is required
        </mat-error>
    </div>

    <div *ngIf="question.type=='text'|| question.type=='email'" class="question-box">
        <mat-form-field appearance="fill" class="width-100">
            <textarea matInput placeholder="Your text here" formControlName="{{question.nameFull}}_answer" rows="3"></textarea>
        </mat-form-field>
        <mat-error *ngIf="checkFormControl(questionForm,question.nameFull.concat('_answer'), 'required') && question.required">
            This field is required
        </mat-error>
        <mat-error *ngIf="checkFormControl(questionForm,question.nameFull.concat('_answer'), 'email') && question.required">
            You must insert a valid email address
        </mat-error>
    </div>


    <div *ngIf="question.freeText">
        <mat-form-field appearance="fill" class="width-100">
            <mat-label>Other</mat-label>
            <textarea matInput formControlName="{{question.nameFull}}_free_text" rows="3"></textarea>
        </mat-form-field>
        <mat-error *ngIf="checkFormControl(questionForm,question.nameFull.concat('_free_text'), 'required') && question.required">
            This field is required
        </mat-error>
    </div>

    <mat-expansion-panel hideToggle *ngIf="question.detail" class="question-detail" (opened)="question.showDetail = true" (closed)="question.showDetail = false">
        <mat-expansion-panel-header class="mat-button">
            <mat-panel-title>
                {{question.showDetail ? 'Hide details' : 'Show details'}}
            </mat-panel-title>
            <mat-panel-description>
                {{question.detail.text}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="question-detail-element" *ngFor="let element of question.detail.elements; let m=index">
            {{element.key}}
            <ul>
                <li *ngFor="let item of element.items; let n=index">{{item}}</li>
            </ul>
        </div>
    </mat-expansion-panel>
</ng-container>

