<form [formGroup]="formStep">

    <!-- Header -->
    <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
            <mat-card-title>Step #1: Questionnaires</mat-card-title>
            <mat-card-subtitle>First, define all Questionnaires here</mat-card-subtitle>
        </mat-card-header>

        <mat-divider [inset]="true"></mat-divider>

        <mat-card-content>

            <div formArrayName="questionnaires">

                <div *ngFor="let questionnaire of questionnaires().controls; let questionnaireIndex = index" [formGroupName]="questionnaireIndex">

                    <mat-card [class.mat-elevation-z3]="true">
                        <mat-card-header>
                            <mat-card-title class="lighter">Questionnaire {{questionnaireIndex + 1}}</mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>

                            <!-- Type -->
                            <table class="width-100 mt-8px">
                                <tr>
                                    <td class="p-0">
                                        <mat-form-field matLine class="width-100" [hideRequiredMarker]="questionnaire.get('type').valid" appearance="fill">
                                            <mat-label>Type</mat-label>
                                            <mat-select matInput formControlName="type" required (selectionChange)="updateQuestionnaire(questionnaireIndex)">
                                                <mat-option *ngFor="let questionnaireType of questionnaireTypes" [value]="questionnaireType.value">
                                                    {{questionnaireType.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>

                            <!-- Description -->
                            <div>
                                <mat-divider [inset]="true"></mat-divider>
                                <table class="width-100 mt-16px">
                                    <tr>
                                        <td class="p-0">
                                            <mat-form-field class="width-100" [hideRequiredMarker]="questionnaire.get('description').valid" appearance="fill">
                                                <mat-label>Description</mat-label>
                                                <textarea matInput formControlName="description"></textarea>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <!-- Position -->
                            <mat-divider [inset]="true"></mat-divider>
                            <table class="width-100 mt-16px">
                                <tr>
                                    <td class="p-0">
                                        <mat-form-field class="width-100" [hideRequiredMarker]="questionnaire.get('position').valid" appearance="fill">
                                            <mat-label>Position</mat-label>
                                            <mat-select matInput formControlName="position" required>
                                                <mat-option *ngFor="let questionnairePosition of questionnairePosition" [value]="questionnairePosition.value">
                                                    {{questionnairePosition.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>

                            <mat-divider [inset]="true"></mat-divider>

                            <!-- Allow Back -->
                            <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="allow_back">
                                Allow Back
                            </mat-slide-toggle>

                            <mat-divider [inset]="true"></mat-divider>

                            <!-- Questions -->
                            <div *ngIf="questionnaire.get('type').value != ''" formArrayName="questions">
                                <mat-divider [inset]="true"></mat-divider>
                                <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addQuestion(questionnaireIndex)">
                                    Add Question
                                </button>
                                <div *ngFor="let question of questions(questionnaireIndex).controls; let questionIndex = index" [formGroupName]="questionIndex">
                                    <table class="width-100">
                                        <tr>
                                            <td class="p-0 pr-16px">
                                                <mat-form-field matLine class="width-100" [hideRequiredMarker]="question.get('name').valid" appearance="fill">
                                                    <mat-label>Name</mat-label>
                                                    <input matInput type="text" formControlName="name" required>
                                                </mat-form-field>
                                            </td>
                                            <td class="p-0 pr-16px">
                                                <mat-form-field matLine class="width-100" [hideRequiredMarker]="question.get('text').valid" appearance="fill">
                                                    <mat-label>Text</mat-label>
                                                    <input matInput type="text" formControlName="text" required>
                                                </mat-form-field>
                                            </td>
                                            <td class="p-0 center">
                                                <button mat-flat-button color="primary" class="mb-16px"
                                                        [disabled]="questionIndex == '0' && questions(questionnaireIndex).length == 1"
                                                        (click)="removeQuestion(questionnaireIndex, questionIndex)">
                                                    Remove Question
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                    <div *ngIf="questionnaire.get('type').value == 'standard'" class="mb-16px" formArrayName="answers">
                                        <button mat-flat-button color="primary" class="mb-16px double-indent" (click)="addAnswer(questionnaireIndex, questionIndex)">
                                            Add Answer
                                        </button>
                                        <div *ngFor="let answer of answers(questionnaireIndex, questionIndex).controls; let answerIndex = index"
                                             [formGroupName]="answerIndex">
                                            <table class="width-100 indent">
                                                <tr>
                                                    <td class="p-0 pr-16px">
                                                        <mat-form-field matLine class="width-100" [hideRequiredMarker]="answer.get('answer').valid" appearance="fill">
                                                            <mat-label>Answer</mat-label>
                                                            <input matInput type="text" formControlName="answer" required>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="p-0 center">
                                                        <button mat-flat-button color="primary" class="mb-16px"
                                                                [disabled]="answerIndex == '0' && answers(questionnaireIndex, questionIndex).length == 1"
                                                                (click)="removeAnswer(questionnaireIndex, questionIndex, answerIndex)">
                                                            Remove Answer
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Mapping -->
                            <div *ngIf="questionnaire.get('type').value == 'likert'" formArrayName="mapping">
                                <mat-divider [inset]="true"></mat-divider>
                                <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addMapping(questionnaireIndex)">
                                    Add Mapping
                                </button>
                                <div *ngFor="let map of mapping(questionnaireIndex).controls; let mappingIndex = index" [formGroupName]="mappingIndex">
                                    <table class="width-100">
                                        <tr>
                                            <td class="p-0 pr-16px">
                                                <mat-form-field matLine class="width-100" [hideRequiredMarker]="map.get('label').valid" appearance="fill">
                                                    <mat-label>Label</mat-label>
                                                    <input matInput type="text" formControlName="label" required>
                                                </mat-form-field>
                                            </td>
                                            <td class="p-0 pr-16px">
                                                <mat-form-field matLine class="width-100" [hideRequiredMarker]="map.get('value').valid" appearance="fill">
                                                    <mat-label>Value</mat-label>
                                                    <input matInput type="text" formControlName="value" required>
                                                </mat-form-field>
                                            </td>
                                            <td class="p-0 center">
                                                <button mat-flat-button color="primary" class="mb-16px"
                                                        [disabled]="mappingIndex == '0' && mapping(questionnaireIndex).length == 1"
                                                        (click)="removeMapping(questionnaireIndex, mappingIndex)">
                                                    Remove Mapping
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions class="right">
                            <button mat-flat-button color="primary" (click)="removeQuestionnaire(questionnaireIndex)">
                                Remove Questionnaire
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>

            </div>

            <button mat-flat-button color="primary" (click)="addQuestionnaire()">Add Questionnaire</button>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
            <button mat-flat-button color="primary" matStepperNext (click)="serializeConfiguration()">Next</button>
        </mat-card-actions>

    </mat-card>
</form>