<div class="instruction-list" [ngClass]="wrapperClass">

  @if (element?.label || element?.caption) {
    <h2 class="instruction-element-header">
      @if (element?.label) {
        <span class="element-label-pill">{{ element.label }}</span>
      }
      @if (element?.caption) {
        <span class="element-caption">{{ element.caption }}</span>
      }
    </h2>
  }
  @if (element?.text) {
    <p class="element-text" [ngClass]="bodyClass" [innerHTML]="element.text"></p>
  }

  @if (!visibleInstructions?.length && !hasElementHeader) {
    <p i18n>No instructions available.</p>
  } @else if (visibleInstructions?.length) {
    @for (instruction of visibleInstructions; track $index; let i = $index) {
      <div class="instruction">
        @if (instruction.caption) {
          <h3 class="instruction-caption">{{ instruction.caption }}</h3>
        }
        <p class="instruction-text" [innerHTML]="instruction.text"></p>
      </div>
    }
  }
</div>
