<mat-toolbar>
  <button mat-flat-button color="primary" (click)="openDialog(this.task.instructionsGeneral)">
    <span i18n>Show Instructions</span>
  </button>
  @if (this.worker?.settings?.block) {
    <h4><span i18n>NO RETAKES</span></h4>
  }
</mat-toolbar>

<!-- Template used as dialog content (opened via MatDialog) -->
<ng-template #instructionsDialogTpl>
  <div id="task-instructions" mat-dialog-content>
    <app-instruction-list [instructions]="instructionsForDialog"></app-instruction-list>
  </div>
  <div class="close-button" mat-dialog-actions>
    <button mat-flat-button color="primary" mat-dialog-close>
      <span i18n>Close</span>
    </button>
  </div>
</ng-template>
