/* |--- DIALOG STYLES  --| */

.mat-dialog-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

p {
  font-size: 1.1em;
  line-height: 150%;
}

li {
  font-size: 1.1em;
  line-height: 200%;
}

h1 {
  margin-bottom: 0;
  text-align: center;
  font-weight: normal;
}

.close-button {

  button {
    font-size: initial;
  }

  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

button {
  text-transform: uppercase;
  margin: auto;
}

p {
  text-align: justify;
}

ul p {
  margin-bottom: 0.5%;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}
