section {
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  article {
    border: 1px solid white;
    box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px;
    text-align: center;
  }