<div
    class="row py-1"
    id="ddl-component"
    [ngClass]="readOnly ? 'input-row-inactive' : 'input-row-active'"
>
    <div class="col-10">
        <mat-form-field appearance="none" class="categorical-ddl">
            <mat-select
                [(value)]="selected"
                [disabled]="readOnly"
                disableOptionCentering
                panelClass="myPanelClass"
            >
                <mat-option *ngFor="let option of options" [value]="option">{{
                    option.label
                }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-2">
        <button
            mat-mini-fab
            type="submit"
            class="chat-input-button"
            [disabled]="readOnly"
            [ngClass]="readOnly ? 'inactive' : 'active'"
            (click)="onSubmit()"
        >
            <!-- {{ buttonText }} -->
            <mat-icon
                aria-hidden="false"
                aria-label="Send message"
                fontIcon="send"
                >send</mat-icon
            >
        </button>
    </div>
</div>
