.chat-input-text .mat-form-field-wrapper {
    padding: 0;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

.chat-input-text .mat-form-field-infix {
    width: 100%;
}

.chat-input-text input {
    display: flex;
    align-items: center;
    background: none !important;
    color: var(--light);
}
.input-active .chat-input-text input::placeholder {
    color: var(--transparentLight);
}
.input-active .floating-label {
    color: var(--transparentLight);
}
button.active {
    background: var(--light) !important;
    color: var(--primary) !important;
}
button.inactive {
    background: var(--light) !important;
    color: var(--grey) !important;
}
