.button-prompt {
    background-color: var(--secondary);
    position: relative;
    height: auto;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn {
    background-color: var(--tertiary);
    border: 5px solid var(--secondary);
    border-radius: 5px;
    font-size: 14px;
    margin: 1%;
    outline: none;
    margin-left: 7.5%;
    margin-top: 0%;
    width: 19%;
}
