<form [formGroup]="formStep">

  <!-- Header -->
  <mat-card appearance="outlined" [class.mat-elevation-z3]="true">
    <mat-card-header>
      <mat-card-title><span i18n>Step #6: Task Settings</span></mat-card-title>
      <mat-card-subtitle><span i18n>Sixth, define all Task Settings here</span></mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <!-- Modality -->
      <table class="width-100 mt-8px">
        <tr>
          <td class="p-0">
            <mat-form-field matLine class="width-100" appearance="fill">
              <mat-label><span i18n>Modality</span></mat-label>
              <mat-select matInput formControlName="modality" (selectionChange)="emitModality($event)">
                @for (modalityType of modalityTypes; track modalityType) {
                  <mat-option [value]="modalityType.value">
                    {{modalityType.viewValue}}
                  </mat-option>
                }
              </mat-select>

              <app-error-message [formField]="formStep.get('modality')"></app-error-message>

            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-divider [inset]="true"></mat-divider>

      <!-- Allowed Tries, Time Check Amount-->
      <table class="width-100 mt-8px">
        <tr>
          <td class="p-0 pr-16px">
            <mat-form-field matLine class="width-100" appearance="fill">
              <mat-label><span i18n>Allowed Tries</span></mat-label>
              <input matInput type="number" min="0" formControlName="allowed_tries">

              <app-error-message [formField]="formStep.get('allowed_tries')"></app-error-message>

            </mat-form-field>
          </td>
          <td class="p-0">
            <mat-form-field matLine class="width-100" appearance="fill">
              <mat-label><span i18n>Time Check Amount</span></mat-label>
              <input matInput type="number" min="0" formControlName="time_check_amount">

              <app-error-message [formField]="formStep.get('time_check_amount')"></app-error-message>

            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-divider [inset]="true"></mat-divider>

      <table class="width-100 mt-8px">
        <tr>
          <td class="p-0">
            <mat-form-field matLine class="width-100" appearance="fill">
              <mat-label><span i18n>Time Assessment</span></mat-label>
              <input matInput type="number" min="0" formControlName="time_assessment">

              <app-error-message [formField]="formStep.get('time_assessment')"></app-error-message>

            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-divider [inset]="true"></mat-divider>

      <!-- Logging -->
      <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="logger" (change)="updateLogger()">
        <span i18n>Logger</span>
      </mat-slide-toggle>

      @if (formStep.get('logger').value) {
        <mat-form-field matLine class="width-100" appearance="fill">
          <mat-label><span i18n>Logging server URL</span></mat-label>
          <input matInput type="text" formControlName="server_endpoint" (blur)="updateServerEndpoint()">
          <app-error-message [formField]="formStep.get('server_endpoint')"></app-error-message>
        </mat-form-field>
      }

      @if (formStep.get('logger').value) {
        <div>
          <table class="width-100" style="border-collapse: collapse">
            @for (item of this.formStep.get('logger_option').value | keyvalue; track item) {
              <tr style="border-bottom: thin solid lightgray">
                <th>
                  <mat-checkbox color="primary" [checked]="this.formStep.get('logger_option').value[item.key]['general']" (change)="updateLoggerOption(item.key.toString(),'general')">
                    {{item.key.toUpperCase()}} <span i18n>events</span>
                  </mat-checkbox>
                </th>
                @for (prop of this.formStep.get('logger_option').value[item.key] | keyvalue; track prop) {
                  @if (prop.key != 'general') {
                    <td>
                      <mat-checkbox color="primary" [checked]="this.formStep.get('logger_option').value[item.key][prop.key]" [disabled]="!this.formStep.get('logger_option').value[item.key]['general']"
                        (change)="updateLoggerOption(item.key.toString(), prop.key.toString())">
                        {{prop.key.toUpperCase()}}
                      </mat-checkbox>
                    </td>
                  }
                }
              </tr>
            }
          </table>
        </div>
      }

      <mat-divider [inset]="true"></mat-divider>

      @if (this.configService.environment.hit_solver_endpoint!='None' && !this.configService.environment.production) {
        <!-- Loading of documents -->
        <h3 class="lighter"><span i18n>Documents</span></h3>
        <table class="width-100 mt-16px">
          <tr>
            <td>
              <button mat-flat-button color="primary" class="indent" ngxFilePicker [readMode]="readMode" (filePick)="docsFile = $event" (readEnd)="updateDocsFile()" accept="application/json">
                <span i18n>Select documents file</span>
              </button>
              @if (!this.docsFileName) {
                <code><span i18n>your_file.json</span></code>
              }
              @if (this.docsDetected <= 0) {
                <code><span i18n>invalid file</span></code>
              }
              @if (this.docsDetected> 0) {
                <code><span i18n>Filename: </span>{{ this.docsFileName }}<span i18n>, Documents detected: </span>{{ this.docsDetected }}<span i18n>, Filesize: </span>{{this.docsSize}} Kb</code>
              }
            </td>
          </tr>
          @if (this.docsDetected<=0) {
            <tr>
              <td>
                <mat-error class="mt-8px mb-8px">
                  {{ this.errorMessage }}
                </mat-error>
              </td>
            </tr>
          }
        </table>
        @if (this.docsDetected> 0) {
          <div class="mt-8px mb-16px indent" formGroupName="documents">
            <table class="width-100 mt-16px">
              @if (this.docsDetected > 0) {
                <tr>
                  <td>
                    <mat-form-field matLine class="width-100" [hideRequiredMarker]="this.documentsOptions().get('min_docs_repetitions').valid" appearance="fill">
                      <mat-label><span i18n>Minimum documents repetitions in hits</span></mat-label>
                      <input matInput type="number" min="1" formControlName="min_docs_repetitions" required placeholder="1">
                    </mat-form-field>
                  </td>
                </tr>
              }
            </table>
            <div class="hit-attributes mt-8px mb-16px indent">
              <mat-divider [inset]="true"></mat-divider>
              @for (value of docCategories().controls; track value; let valueIndex = $index) {
                <div formArrayName="doc_categories">
                  <table class="width-100">
                    <tr>
                      <td class="p-0 width-20 pr-16px" [formGroupName]="valueIndex">
                        <h3>{{this.docCategory(valueIndex).get('name_pretty').value}}</h3>
                      </td>
                      <td class="p-0 width-20 pr-16px center" [formGroupName]="valueIndex">
                        <span><span i18n>Number of values: </span>{{this.docCategory(valueIndex).get('values_number').value}}</span>
                      </td>
                      <td class="p-0 width-20 pr-16px center" [formGroupName]="valueIndex">
                        <span>
                          <pre>{{this.getCategoryReport(this.docCategory(valueIndex).get('name').value)}}</pre>
                        </span>
                      </td>
                      <td class="p-0 width-20 pr-16px center" [formGroupName]="valueIndex">
                        @if (this.docCategory(valueIndex).get('balanced').value) {
                          <mat-checkbox color="primary" formControlName="selected" (change)="updateDocCategory(valueIndex)">
                            <span i18n>Use as category</span>
                          </mat-checkbox>
                        }
                        @if (!this.docCategory(valueIndex).get('balanced').value) {
                          <span class="highlight-orange">
                            <span i18n>Unbalanced attribute</span>
                          </span>
                        }
                      </td>
                      <td class="p-0 center" [formGroupName]="valueIndex">
                        <mat-form-field class="width-100" appearance="fill">
                          <mat-label><span i18n>Worker assignments</span></mat-label>
                          <input matInput type="number" placeholder="0" formControlName="worker_assignment" min="1">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  <mat-divider [inset]="true"></mat-divider>
                </div>
              }
              <div class="mt-16px">
                <table class="width-100">
                  <tr>
                    <td class="p-0 pr-16px">
                      <button mat-flat-button color="primary" class="mb-16px indent" (click)="this.checkCategoriesSelection()" [disabled]="this.hitDimension != 0">
                        <span i18n>Check selection</span>
                      </button>
                    </td>
                    <td>
                      <button mat-flat-button color="primary" class="mb-16px indent" (click)="this.resetCategorySelection()" [disabled]="this.hitDimension == 0">
                        <span i18n>Reset selection</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      @if (this.hitDimension == -1) {
                        <mat-error class="mb-8px indent">
                          <span i18n>Error in the worker assignment typed values. Please, review your selection.</span>
                        </mat-error>
                      }
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- Worker number form -->
            <table class="width-100 mt-16px">
              @if (this.docsDetected > 0) {
                <tr>
                  <td>
                    <mat-form-field matLine class="width-100" [hideRequiredMarker]="this.documentsOptions().get('workers_number').valid" appearance="fill">
                      <mat-label><span i18n>Workers number</span></mat-label>
                      <input matInput type="number" min="1" formControlName="workers_number" required placeholder="1">
                    </mat-form-field>
                  </td>
                </tr>
              }
            </table>
            <!-- Send request button -->
            <table class="width-100 mt-16px">
              @if (this.docsDetected > 0) {
                <tr>
                  <td>
                    <button mat-flat-button color="primary" class="indent" (click)="sendRequestToHitSolver()" [disabled]="this.hitDimension<= 0 || !this.solverStatus">
                      <span i18n>Send request to the solver</span>
                    </button>
                  </td>
                  @if (!this.solverStatus) {
                    <td>
                      <mat-error><span i18n>Solver is offline</span></mat-error>
                    </td>
                  }
                  <td>
                    @if (this.solutionStatus != '') {
                      <h3 class="mb-8px indent">
                        {{this.solutionStatus}}
                      </h3>
                    }
                  </td>
                </tr>
              }
            </table>
          </div>
        }
      }

      <mat-divider [inset]="true"></mat-divider>

      <!-- Hits file-->
      <h3 class="lighter"><span i18n>Hits & Attributes</span></h3>
      <table class="width-100 mt-16px">
        <tr>
          <td>
            <button mat-flat-button color="primary" class="indent" ngxFilePicker [readMode]="readMode" (filePick)="hitsFile = $event" (readEnd)="updateHitsFile()" accept="application/json">
              <span i18n>Select Hits File</span>
            </button>
            @if (!this.hitsFileName) {
              <code i18n>your_file.json</code>
            }
            @if (this.hitsDetected <= 0) {
              <code><span i18n>invalid file</span></code>
            }
            @if (this.hitsDetected > 0) {
              <code>
                <span i18n>Filename: </span>{{ this.hitsFileName }},
                <span i18n>Hits detected: </span>{{this.hitsDetected}},
                <span i18n>Filesize: </span>{{this.hitsSize}} Kbz
              </code>
            }
          </td>
        </tr>
        @if (this.hitsDetected<=0) {
          <tr>
            <td>
              <mat-error class="mb-8px indent">
                <span i18n>This JSON file does not contain any valid hit. Please, review your selection.</span>
              </mat-error>
            </td>
          </tr>
        }
      </table>

      <div class="hit-attributes mt-8px mb-16px indent">
        @for (value of hitAttributes().controls; track value; let valueIndex = $index) {
          <div formArrayName="attributes" class="p-5px">
            <div>
              <ng-container [formGroupName]="valueIndex">
                <h3>{{this.hitsAttributes[valueIndex]}}</h3>
                <mat-form-field class="width-100" appearance="fill">
                  <input matInput type="text" placeholder="name_pretty" formControlName="name_pretty">
                </mat-form-field>
                <mat-checkbox color="primary" formControlName="show" (change)="updateHitAttribute(valueIndex)">
                  <span i18n>Show</span>
                </mat-checkbox>
                <mat-checkbox color="primary" formControlName="annotate" (change)="updateHitAttribute(valueIndex)">
                  <span i18n>Enable Annotations</span>
                </mat-checkbox>
                <mat-checkbox color="primary" formControlName="required">
                  <span i18n>Required</span>
                </mat-checkbox>
              </ng-container>
            </div>
          </div>
        }
      </div>

      <mat-divider [inset]="true"></mat-divider>

      <!-- Annotator: Type -->
      <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setAnnotator" (change)="resetAnnotator()">
        <span i18n>Annotator</span>
      </mat-slide-toggle>

      @if (formStep.get('setAnnotator').value) {
        <div formGroupName="annotator">
          <table class="width-100">
            <tr>
              <td class="p-0 pr-16px">
                <mat-form-field matLine class="width-100" appearance="fill">
                  <mat-label><span i18n>Type</span></mat-label>
                  <mat-select matInput formControlName="type" (selectionChange)="setAnnotatorType()">
                    @for (annotatorType of annotatorTypes; track annotatorType) {
                      <mat-option [value]="annotatorType.value">
                        {{annotatorType.viewValue}}
                      </mat-option>
                    }
                  </mat-select>
                  <app-error-message [formField]="formStep.get('annotator').get('type')"></app-error-message>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      }

      <!-- Mapping -->
      @if (annotator().get('type').value == 'options') {
        <div formGroupName="annotator">
          <button mat-flat-button color="primary" class="mb-16px indent" (click)="addOptionValue()">
            <span i18n>Add Option</span>
          </button>
          @for (value of annotatorOptionValues().controls; track value; let valueIndex = $index) {
            <div formArrayName="values">
              <table class="width-100">
                <tr>
                  <td class="p-0 pr-16px" [formGroupName]="valueIndex">
                    <mat-form-field class="width-100" matLine appearance="fill">
                      <mat-label><span i18n>Label</span></mat-label>
                      <input matInput type="text" formControlName="label">
                      <app-error-message [formField]="formStep.get('annotator').get('values').get(valueIndex.toString()).get('label')"></app-error-message>
                    </mat-form-field>
                  </td>
                  <td class="p-0 pr-16px" [formGroupName]="valueIndex">
                    <mat-form-field class="width-100" matLine appearance="fill">
                      <mat-label>HTML Color (#123456)</mat-label>                 <!-- dubbio -->
                      <input matInput formControlName="color" [(colorPicker)]="this.annotatorOptionColors[valueIndex]" (colorPickerChange)="updateOptionColor($event, valueIndex)">
                      <app-error-message [formField]="formStep.get('annotator').get('values').get(valueIndex.toString()).get('color')"></app-error-message>
                    </mat-form-field>
                  </td>
                  <td class="p-0 center">
                    <button mat-flat-button color="primary" class="mb-16px" (click)="removeAnnotatorOptionValue(valueIndex)" [disabled]="valueIndex === 0 && annotatorOptionValues().controls.length == 1">
                      <span i18n>Remove Option</span>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          }
        </div>
      }

      <mat-divider [inset]="true"></mat-divider>

      <!-- Countdown Time -->
      <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setCountdownTime" (change)="resetCountdown()">
        <span i18n>Countdown</span>
      </mat-slide-toggle>

      @if (this.formStep.get('setCountdownTime').value) {
        <mat-form-field matLine class="width-100" appearance="fill">
          <mat-label><span i18n>Time</span></mat-label>
          <input matInput type="number" min="0" formControlName="countdown_time">
          <app-error-message [formField]="formStep.get('countdown_time')"></app-error-message>
        </mat-form-field>
      }

      @if (this.formStep.get('setCountdownTime').value) {
        <mat-form-field class="width-100" appearance="fill">
          <mat-label><span i18n>Behavior</span></mat-label>
          <mat-select matInput formControlName="countdown_behavior" required>
            @for (countdownBehavior of countdownBehavior; track countdownBehavior) {
              <mat-option [value]="countdownBehavior.value">
                {{countdownBehavior.viewValue}}
              </mat-option>
            }
          </mat-select>
          <app-error-message [formField]="formStep.get('countdown_behavior')"></app-error-message>
        </mat-form-field>
      }


      @if (this.formStep.get('setCountdownTime').value) {
        <mat-slide-toggle color="primary" class="mb-16px" formControlName="setAdditionalTimes" (change)="resetAdditionalTimes()">
          <span i18n>Additional Times</span>
        </mat-slide-toggle>
      }

      @if (this.formStep.get('setCountdownTime').value && this.formStep.get('setAdditionalTimes').value) {
        <mat-form-field class="width-100" appearance="fill">
          <mat-label><span i18n>Modality</span></mat-label>
          <mat-select matInput formControlName="countdown_modality" (selectionChange)="updateCountdownModality()" required>
            @for (additionalTimeModality of additionalTimeModalities; track additionalTimeModality) {
              <mat-option [value]="additionalTimeModality.value">
                {{additionalTimeModality.viewValue}}
              </mat-option>
            }
          </mat-select>
          <app-error-message [formField]="formStep.get('countdown_modality')"></app-error-message>
        </mat-form-field>
      }

      @if (this.formStep.get('countdown_modality').value == 'attribute' && this.formStep.get('setCountdownTime').value && this.formStep.get('setAdditionalTimes').value) {
        <mat-form-field class="width-100" appearance="fill"
          >
          <mat-label><span i18n>Attribute</span></mat-label>
          <mat-select matInput formControlName="countdown_attribute" (selectionChange)="updateCountdownAttribute()" required>
            @for (attribute of hitsAttributes; track attribute) {
              <mat-option [value]="attribute">
                {{attribute}}
              </mat-option>
            }
          </mat-select>
          <app-error-message [formField]="formStep.get('countdown_attribute')"></app-error-message>
        </mat-form-field>
      }

      @if (this.formStep.get('countdown_modality').value == 'attribute' && this.formStep.get('setCountdownTime').value && this.formStep.get('setAdditionalTimes').value && this.hitsAttributesValues) {
        <div formArrayName="countdown_attribute_values"
          >
          @for (countdownAttributeControl of this.countdownAttributeValues().controls; track countdownAttributeControl; let countdownAttributeIndex = $index) {
            <mat-form-field matLine appearance="fill" class="indent p-2px"
              [formGroupName]="countdownAttributeIndex">
              <mat-label>{{this.hitsAttributesValues[(this.formStep.get('countdown_attribute').value)][countdownAttributeIndex]}}</mat-label>
              <input matInput type="number" formControlName="time" min="0">
              <app-error-message [formField]="this.formStep.get('countdown_attribute_values').get(countdownAttributeIndex.toString()).get('time')"></app-error-message>
            </mat-form-field>
          }
        </div>
      }

      @if (this.formStep.get('countdown_modality').value == 'position' && this.formStep.get('setCountdownTime').value && this.formStep.get('setAdditionalTimes').value) {
        <div formArrayName="countdown_position_values"
          >
          @for (countdownPositionControl of this.countdownPositionValues().controls; track countdownPositionControl; let countdownPositionIndex = $index) {
            <mat-form-field matLine class="indent p-2px" [formGroupName]="countdownPositionIndex">
              <mat-label>Position {{countdownPositionIndex}}</mat-label>
              <input matInput type="number" formControlName="time" min="0">
              <app-error-message [formField]="this.formStep.get('countdown_position_values').get(countdownPositionIndex.toString()).get('time')"></app-error-message>
            </mat-form-field>
          }
        </div>
      }

      <mat-divider [inset]="true"></mat-divider>

      <!-- Messages -->
      <div formArrayName="messages">
        <button mat-flat-button color="primary" class="mt-16px mb-16px indent" (click)="addMessage()">
          <span i18n>Add Message</span>
        </button>
        @for (msg of messages().controls; track msg; let messageIndex = $index) {
          <div [formGroupName]="messageIndex">
            <table class="width-100">
              <tr>
                <td class="p-0 pr-16px">
                  <mat-form-field matLine class="width-100" [hideRequiredMarker]="msg.get('message').valid" appearance="fill">
                    <mat-label><span i18n>Message</span></mat-label>
                    <input matInput type="text" formControlName="message">
                    <app-error-message [formField]="msg.get('message')"></app-error-message>
                  </mat-form-field>
                </td>
                <td class="p-0 center">
                  <button mat-flat-button color="primary" class="mb-16px" (click)="removeMessage(messageIndex)">
                    <span i18n>Remove Message</span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        }
      </div>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-flat-button color="primary" matStepperPrevious><span i18n>Back</span></button>
      <button mat-flat-button color="primary" matStepperNext><span i18n>Next</span></button>
    </mat-card-actions>

  </mat-card>
</form>
