mat-slider {
    width: 100%;
}
.chat-input-button {
    margin: 14px 12px;
    float: right;
    font-size: 24px;
    border: 0;
}
.chat-input-text input {
    padding: 0 0 0 14px;
    border: none;
    width: 100%;
}
input:focus-visible {
    border: none;
    outline: none;
}
input {
    background: none !important;
}

button.active {
    background: #3f51b5 !important;
    color: #ffffff !important;
}
button.inactive {
    background: #e0e0e0 !important;
    color: #a6b9cc !important;
}

button.chat-input-button span.mat-button-wrapper {
    padding: 0 0 8px 0;
}

.mat-accent .mat-slider-track-fill {
    background-color: #3f51b5 !important;
}

.mat-slider-thumb-label {
    background-color: #3f51b5 !important;
    color: #fff !important;
    border: #fff solid 2px !important;
}

.mat-slider-thumb {
    background-color: #3f51b5 !important;
    color: #ffffff !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
    color: #fff !important;
}
