mat-slider {
    width: 100%;
}
.chat-input-button {
    margin: 14px 12px;
    float: right;
    color: inherit;
    font-size: 24px;
    border: 0;
    outline: none;
}

.chat-input-button mat-icon.activeInput {
    color: #3f51b5;
}

.chat-input-button button mat-icon.disabledInput {
    color: #000;
}

.disabledInput {
    background-color: #dfdfdf !important;
    color: #000;
}

.activeInput {
    background-color: #3f51b5;
    color: #fff;
}

.activeInput input {
    background-color: #3f51b5;
    color: #fff;
}
.disabledInput input {
    background-color: #dfdfdf !important;
    color: #000;
}

.mat-accent .mat-slider-track-fill {
    background-color: #fff !important;
}

.mat-slider-thumb-label {
    background-color: #fff !important;
    color: #3f51b5 !important;
    border: #3f51b5 solid 2px !important;
}

.mat-slider-thumb {
    background-color: #fff !important;
    color: #3f51b5 !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
    color: #3f51b5 !important;
}
