button.btn-categorical {
    background-color: #84dccf;
    padding: 3px;
    color: #000;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    margin: 1px;
    min-width: 50%;
    border: solid 2px #7ccfc2;
}
