button.chat-button {
    background-color: var(--tertiary);
    padding: 3px;
    color: var(--dark);
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    margin: 1px;
    min-width: 50%;
    border: solid 2px var(--secondary);
    height: 100%;
}
