<form [formGroup]="formStep">

    <!-- Header -->
    <mat-card [class.mat-elevation-z3]="true">
        <mat-card-header>
            <mat-card-title>Step #2: Dimensions</mat-card-title>
            <mat-card-subtitle>Second, define all Dimensions here</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

            <div formArrayName="dimensions">

                <div *ngFor="let dimension of dimensions().controls; let dimensionIndex = index" [formGroupName]="dimensionIndex">

                    <mat-card [class.mat-elevation-z3]="true">
                        <mat-card-header>
                            <mat-card-title class="lighter">Dimension {{dimensionIndex + 1}}</mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>

                            <!-- Name, Description -->
                            <table class="width-100 mt-8px">
                                <tr>
                                    <td class="p-0 pr-16px">
                                        <mat-form-field matLine class="width-100" appearance="fill">
                                            <mat-label>Name</mat-label>
                                            <input matInput type="text" formControlName="name">
                                            <mat-error>
                                                <app-error-message [formField]="dimension.get('name')"></app-error-message>
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td class="p-0">
                                        <mat-form-field matLine class="width-100" appearance="fill">
                                            <mat-label>Name Pretty</mat-label>
                                            <input matInput type="text" formControlName="name_pretty">
                                            <mat-error>
                                                <app-error-message [formField]="dimension.get('name_pretty')"></app-error-message>
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <mat-form-field class="width-100" appearance="fill">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description"></textarea>
                            </mat-form-field>
                            <mat-form-field class="width-100" appearance="fill">
                                <mat-label>Example</mat-label>
                                <textarea matInput formControlName="example"></textarea>
                            </mat-form-field>

                            <mat-divider [inset]="true"></mat-divider>

                            <!-- Gold -->
                            <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="gold">
                                Gold Dimension
                            </mat-slide-toggle>

                            <mat-divider [inset]="true"></mat-divider>

                            <!-- Pairwise -->
                            <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="pairwise" [disabled]="this.taskModality != 'pairwise'">
                                Pairwise
                            </mat-slide-toggle>

                            <mat-divider [inset]="true"></mat-divider>

                            <!-- Justification: Text, Min_Words -->
                            <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setJustification" (change)="resetJustification(dimensionIndex)">
                                Justification
                            </mat-slide-toggle>

                            <div *ngIf="dimension.get('setJustification').value" formGroupName="justification">
                                <table class="width-100">
                                    <tr>
                                        <td class="p-0 pr-16px">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Text</mat-label>
                                                <input matInput type="text" formControlName="text">
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('justification').get('text')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        <td class="p-0">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Minimum Words</mat-label>
                                                <input matInput type="number" min="0" formControlName="min_words">
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('justification').get('min_words')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <mat-divider [inset]="true"></mat-divider>

                            <!-- Url -->
                            <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setUrl" (change)="resetUrl(dimensionIndex)">
                                Url
                            </mat-slide-toggle>

                            <div *ngIf="dimension.get('setUrl').value" formGroupName="url">

                                <h2 class="initial">Enabled</h2>

                                <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setInstructions" (change)="resetInstructionUrl(dimensionIndex)">
                                    <h3 class="initial">Add Instruction</h3>
                                </mat-slide-toggle>

                                <div *ngIf="dimension.get('url').get('setInstructions').value" formGroupName="instructions">
                                    <table class="width-100 mt-8px">
                                        <tr>
                                            <td class="p-0">
                                                <mat-form-field matLine class="width-100" appearance="fill">
                                                    <mat-label>Label</mat-label>
                                                    <input matInput type="text" formControlName="label">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="width-100 mt-8px">
                                        <tr>
                                            <td class="p-0">
                                                <mat-form-field matLine class="width-100" appearance="fill">
                                                    <mat-label>Caption</mat-label>
                                                    <input matInput type="text" formControlName="caption">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="width-100 mt-8px">
                                        <tr>
                                            <td class="p-0">
                                                <mat-form-field matLine class="width-100" appearance="fill">
                                                    <mat-label>Text</mat-label>
                                                    <input matInput type="text" formControlName="text">
                                                    <mat-error>
                                                        <app-error-message [formField]="this.instructionsScale(dimensionIndex).get('text')"></app-error-message>
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <mat-divider [inset]="true"></mat-divider>

                            <!-- Scale: Type, {Min, Max, Step} or [Mapping] or {Min, Max, IncludeLowerBound, IncludeUpperBound} -->
                            <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setScale" (change)="resetScale(dimensionIndex)">
                                Scale
                            </mat-slide-toggle>

                            <div *ngIf="dimension.get('setScale').value" formGroupName="scale">
                                <table class="width-100">
                                    <tr>
                                        <td class="p-0">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Type</mat-label>
                                                <mat-select matInput formControlName="type" (selectionChange)="updateScale(dimensionIndex)">
                                                    <mat-option *ngFor="let scaleType of scaleTypes" [value]="scaleType.value">
                                                        {{scaleType.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('scale').get('type')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                    </tr>

                                    <tr *ngIf="dimension.get('scale').get('type').value=='categorical'">
                                        <td class="p-0">
                                            <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setMultipleSelection" (change)="resetMultipleSelection(dimensionIndex)">
                                                Multiple Selection
                                            </mat-slide-toggle>
                                        </td>
                                    </tr>
                                </table>

                                <table class="width-100" *ngIf="dimension.get('scale').get('type').value == 'interval'">
                                    <tr>
                                        <td class="p-0 pr-16px">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Minimum</mat-label>
                                                <input matInput type="number" formControlName="min">
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('scale').get('min')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        <td class="p-0 pr-16px">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Maximum</mat-label>
                                                <input matInput type="number" formControlName="max">
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('scale').get('max')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        <td class="p-0">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Step</mat-label>
                                                <input matInput type="number" formControlName="step">
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('scale').get('step')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>

                                <div *ngIf="dimension.get('scale').get('type').value == 'categorical'" formArrayName="mapping">
                                    <button mat-flat-button color="primary" class="mb-16px indent" (click)="addDimensionMapping(dimensionIndex)">
                                        Add Mapping
                                    </button>
                                    <div *ngFor="let dimensionMap of dimensionMapping(dimensionIndex).controls; let dimensionMappingIndex = index"
                                         [formGroupName]="dimensionMappingIndex">
                                        <table class="width-100">
                                            <tr>
                                                <td class="p-0 pr-16px">
                                                    <mat-form-field matLine class="width-100" appearance="fill">
                                                        <mat-label>Label</mat-label>
                                                        <input matInput type="text" formControlName="label">
                                                        <mat-error>
                                                            <app-error-message [formField]="dimensionMap.get('label')"></app-error-message>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </td>
                                                <td class="p-0 pr-16px">
                                                    <mat-form-field matLine class="width-100" appearance="fill">
                                                        <mat-label>Description</mat-label>
                                                        <input matInput type="text" formControlName="description">
                                                        <mat-error>
                                                            <app-error-message [formField]="dimensionMap.get('description')"></app-error-message>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </td>
                                                <td class="p-0 pr-16px">
                                                    <mat-form-field matLine class="width-100" appearance="fill">
                                                        <mat-label>Value</mat-label>
                                                        <input matInput type="text" formControlName="value">
                                                        <mat-error>
                                                            <app-error-message [formField]="dimensionMap.get('value')"></app-error-message>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </td>
                                                <td class="p-0 center">
                                                    <button mat-flat-button color="primary" class="mb-16px"
                                                            [disabled]="dimensionMappingIndex == '0' && dimensionMapping(dimensionIndex).length == 1"
                                                            (click)="removeDimensionMapping(dimensionIndex, dimensionMappingIndex)">
                                                        Remove Mapping
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <table class="width-100" *ngIf="dimension.get('scale').get('type').value == 'magnitude_estimation'">
                                    <tr>
                                        <td class="p-0 pr-16px">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Minimum</mat-label>
                                                <input matInput type="number" formControlName="min">
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('scale').get('min')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        <td class="pr-16px checkbox">
                                            <mat-checkbox formControlName="lower_bound" color="primary">
                                                Include Lower Bound
                                            </mat-checkbox>
                                        </td>
                                    </tr>
                                </table>

                                <mat-slide-toggle color="primary" class="mt-16px mb-16px" formControlName="setInstructions" (change)="resetInstructionScale(dimensionIndex)">
                                    <h3 class="initial">Add Instruction</h3>
                                </mat-slide-toggle>

                                <div *ngIf="dimension.get('scale').get('setInstructions').value" formGroupName="instructions">
                                    <table class="width-100 mt-8px">
                                        <tr>
                                            <td class="p-0">
                                                <mat-form-field matLine class="width-100" appearance="fill">
                                                    <mat-label>Label</mat-label>
                                                    <input matInput type="text" formControlName="label">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="width-100 mt-8px">
                                        <tr>
                                            <td class="p-0">
                                                <mat-form-field matLine class="width-100" appearance="fill">
                                                    <mat-label>Caption</mat-label>
                                                    <input matInput type="text" formControlName="caption">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="width-100 mt-8px">
                                        <tr>
                                            <td class="p-0">
                                                <mat-form-field matLine class="width-100" appearance="fill">
                                                    <mat-label>Text</mat-label>
                                                    <input matInput type="text" formControlName="text">
                                                    <mat-error>
                                                        <app-error-message [formField]="this.instructionsScale(dimensionIndex).get('text')"></app-error-message>
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <mat-divider [inset]="true"></mat-divider>

                            <!-- Style: Type, Position, Orientation, Separator -->
                            <mat-slide-toggle color="primary" *ngIf="dimension.get('setScale').value" class="mt-16px mb-16px" formControlName="setStyle" (change)="resetStyle(dimensionIndex)">
                                Style
                            </mat-slide-toggle>

                            <div formGroupName="style" *ngIf="dimension.get('setStyle').value && dimension.get('setScale').value">
                                <table class="width-100">
                                    <tr>
                                        <td class="p-0 pr-16px">
                                            <mat-form-field matLine class="width-100" appearance="fill" required>
                                                <mat-label>Type</mat-label>
                                                <mat-select matInput formControlName="styleType" (selectionChange)="updateStyleType(dimensionIndex)">
                                                    <mat-option *ngFor="let styleType of styleTypes" [value]="styleType.value">
                                                        {{styleType.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('style').get('styleType')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        <td class="p-0 pr-16px">
                                            <mat-form-field matLine class="width-100" appearance="fill" required>
                                                <mat-label>Position</mat-label>
                                                <mat-select matInput formControlName="position">
                                                    <mat-option *ngFor="let positionType of positionTypes" [value]="positionType.value">
                                                        {{positionType.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('style').get('position')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        <td class="p-0 pr-16px">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Orientation</mat-label>
                                                <mat-select matInput formControlName="orientation" required>
                                                    <mat-option *ngFor="let orientationType of orientationTypes" [value]="orientationType.value">
                                                        {{orientationType.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <app-error-message [formField]="dimension.get('style').get('orientation')"></app-error-message>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        <td class="p-0">
                                            <mat-form-field matLine class="width-100" appearance="fill">
                                                <mat-label>Separator</mat-label>
                                                <mat-select matInput formControlName="separator">
                                                    <mat-option value="true">
                                                        True
                                                    </mat-option>
                                                    <mat-option value="false">
                                                        False
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </mat-card-content>

                        <mat-divider></mat-divider>

                        <mat-card-actions class="right">
                            <button mat-flat-button color="primary" (click)="removeDimension(dimensionIndex)">Remove Dimension
                            </button>
                        </mat-card-actions>

                    </mat-card>

                </div>

            </div>

            <button mat-flat-button color="primary" (click)="addDimension()">
                Add Dimension
            </button>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
            <button mat-flat-button color="primary" matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>

    </mat-card>
</form>
