/* |--- TOOLBAR STYLES  --| */

mat-toolbar {
  width: 96%;
  margin: auto;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
}

mat-toolbar button {
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 1%;
}

mat-toolbar h4 {
  background-color: yellow;
  padding-left: 1%;
  padding-right: 1%;
}

.example-spacer {
  flex: 1 1 auto;
}

