/* |--- DIALOG STYLES  --| */

h3 {
  margin: 0;
}

.close-button {
  text-align: center;
}

button{
  text-transform: uppercase;
  margin: auto;
}

p {
  text-align: justify;
}

ul p {
  margin-bottom: 0.5%;
}

.instruction-example {
  margin-left: 2%;
}

.gray-background {
  background-color: #F0F0F0;
}

.standard-highlight {
  background-color: #FFFF7B;
}

.remove-highlight {
  background-color: #F36060;
}

.replace-highlight {
  background-color: #FFA500;
}

.insert-highlight {
  background-color: #DFF652;
}