/* |--- DIALOG STYLES  --| */

h3 {
  margin: 0;
}

.close-button {
  text-align: center;
}

button{
  text-transform: uppercase;
  margin: auto;
}

p {
  text-align: justify;
}

ul p {
  margin-bottom: 0.5%;
}
