<mat-card>
  <mat-card-title>Crowsourcing Skeleton</mat-card-title>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <div class="example-container">
        <form class="example-container" [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Questionnaire</ng-template>
          <mat-card>
            <mat-card-content>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                <label>How old are you?</label>
                <mat-radio-button class="example-radio-button" value="1">0-10</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="2">11-20</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="3">20+</mat-radio-button>
              </mat-radio-group>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                <label>How old are you?</label>
                <mat-radio-button class="example-radio-button" value="1">0-10</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="2">11-20</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="3">20+</mat-radio-button>
              </mat-radio-group>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button color="primary" matStepperNext>Next</button>

            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-step>
    <mat-step *ngFor="let page of pages;">
      <ng-template matStepLabel> Page {{page.number+1}}</ng-template>
      <mat-card>
        <mat-card-title>Title</mat-card-title>
        <mat-card-content>
          {{page.text}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
