mat-card {
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

mat-card-content {
  margin: 1%;
}

mat-card-header mat-card-title {
  margin-bottom: 1%;
}

mat-card-actions {
  margin: 1%;
  padding-top: 1%;
}
