@import '~@angular/material/theming';
@include mat-core();

.green-theme {
  $green-theme-primary: mat-palette($mat-light-green, A400);
  $green-theme-accent:  mat-palette($mat-yellow, 700);

  $green-theme: mat-light-theme($green-theme-primary, $green-theme-accent);

  @include angular-material-theme($green-theme);
}
