<mat-card id="crowd-xplorer-{{digits}}" class="xplorer-body">

    <form [formGroup]="searchForm">
        <mat-form-field id="search-textarea" appearance="outline">
            <mat-label>Insert your query</mat-label>
            <input #searchInput matInput formControlName="query" (keyup.enter)="performWebSearch(searchInput.value)">
        </mat-form-field>
    </form>

    <button mat-flat-button color="primary" class="search-button"
            [disabled]="!searchForm.valid || searchInProgress"
            (click)="performWebSearch(searchInput.value)">{{searchInProgress === true ? 'SEARCHING...' : 'SEARCH'}}
    </button>

    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="{{displayedColumns}}">
            <mat-header-cell *matHeaderCellDef> {{resultsAmount}} results found.</mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index;">
                <p>
                    <a target="_blank" href="{{decodeURI(row.url)}}">{{row.name}}</a>
                    <br/>
                    <span>{{decodeURI(row.url)}}</span>
                    <br/>
                    <small>{{row.snippet}}</small>
                </p>
              <mat-radio-group name="urls">
                <mat-radio-button labelPosition="before" (change)="selectRow(row)" value="{{row.url}}">Select</mat-radio-button>
              </mat-radio-group>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator *ngIf="resultsFound" [pageSize]="resultPageSize" [pageSizeOptions]="resultPageSizeOptions"></mat-paginator>

</mat-card>
