/* |--- LOADING SCREEN SPINNER --| */

mat-spinner {
  margin: auto;
}

/* |--- MAIN BODY ---| */

mat-card.xplorer-body {
  box-shadow: 0 0 0 0;
  padding: 0;
}

/* |--- USER QUERY ---| */

mat-form-field#search-textarea {
  width: 100%;
}

button#search-button {
  width: 100%;
  margin-bottom: 1.49375em;
}

/* |--- RESULT TABLE --| */

mat-cell {
  padding: 5px;
  p {
    width: 90%;
    padding-right: 1%;
  }
}
