/* STYLES: Loading screen spinner */

mat-spinner {
  margin: auto;
}

/* STYLES: Main body */

mat-card.xplorer-body {
  box-shadow: 0 0 0 0;
  padding: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* STYLES: User query box */

mat-form-field#search-textarea {
  width: 100%;
}

button#search-button {
  width: 100%;
  margin-bottom: 1.49375em;
}

/* STYLES: Result table */

mat-cell {
  padding: 5px;
  p {
    width: 90%;
    padding-right: 1%;
  }
}
